<script type="text/javascript">$(document).ready(function() { Face.hotel.init(); });</script>

<div class="container main">
	<div class="page">
		<div class="row">
			<div class="span12">
				<style>
					.iframe{
						overflow:hidden;
					}
					iframe{
						position:relative; 
						width:728px; 
						height:500px; 
						right:00px; 
						bottom:150px
					}
				</style>
				
				<div class="iframe">
					<iframe id="iframe" src="https://secure.booking.com/book.html?aid=352335;hotel_id=98251&amp;checkin=2013-02-20;interval=1;hostname=www.booking.com;test=1" frameborder="0" scrolling="no" name="sbox_iframe" style=""></iframe>				
				</div>
				<script>
					$(document).ready(function() {
						var $currentIFrame = $('#iframe'); 
						var aa = $currentIFrame.contents();
						console.log(aa);
					});
				</script>
			</div>
		</div>
	</div>
</div>

