<?if(!empty($this->hotel['booking_id'])) :?>
<script type="text/javascript">$(document).ready(function() { Face.hotel.init(); });</script>
<?endif;?>
<div class="container main">
	
	<div class="page">
		<?if(!empty($this->hotel)):?>
			<div class="row">
				<div class="span12">
					<?=$this->breadCrumbs(); ?>

					<h1>
						Отель &laquo;<?=$this->hotel['title']?>&raquo;
						<?if(!empty($this->hotel['stars'])) :?>
							<?for($i = 0; $i <= $this->hotel['stars']-1; $i++):?>
								<i class="icon-star"></i>
							<?endfor;?>
							<?if($this->hotel['stars'] > $i) :?>
								<i class="icon-star-half"></i>
							<?endif;?>						
						<?endif;?>
					</h1>
					<?php echo $this->partial('partials/menu/menu_hotel.phtml', array('hotel_id' => $this->hotel_id,'active'=>'description')); ?>
				</div>
			</div>
		
		
			<div class="row">
				<div class="about_city">
					<div class="span8">
						<div class="the_place big">
							<div class="img-container">
								<div id="myCarousel" class="carousel slide">
									<div class="carousel-inner">

										<div class="active item">
											<img src="/images/temp/hotel_4.jpg" alt="Куда поехать на выходные - way2day.ru" style="width: 766px;" />
											<div class="carousel-caption">
												<h4>Одноместный номер</h4>
											</div>
										</div>
										<div class="item">
											<img height="100"src="/images/temp/hotel_2.jpg" alt="Куда поехать на выходные - way2day.ru" style="width: 766px;" />
											<div class="carousel-caption">
												<h4>Номер люкс</h4>
											</div>
										</div>
										<div class="item">
											<img src="/images/temp/hotel_3.jpg" alt="Куда поехать на выходные - way2day.ru" style="width: 766px;" />
											<div class="carousel-caption">
												<h4>Президентский люкс</h4>
											</div>
										</div>
										<div class="item">
											<img src="/images/temp/hotel_1.jpg" alt="Куда поехать на выходные - way2day.ru" style="width: 766px;" />
											<div class="carousel-caption">
												<h4>Свадебный номер</h4>
											</div>
										</div>
									</div>
									<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
									<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
								</div>
							</div>
							<div class="well">
								<h2>Описание</h2>

								<p>
									 <?=$this->hotel['long_text']?>
								</p>
							</div>
						</div>
						
						<?php echo $this->partial('partials/comments.phtml', array('user' => $this->user)); ?>
					</div>
					<div class="span3 offset1">
						<?if(!empty($this->hotel['booking_id'])) :?>
							<h4>Форма бронирования</h4>

							<form id="frm" name="frm" action="https://secure.booking.com/book.html" method="post" target="_blank">
								<input name="aid" value="<?=$this->affiliate_id?>" type="hidden">
								<input name="stage" value="1" type="hidden"/>
								<input name="hotel_id" value="<?=$this->hotel['booking_id']?>" type="hidden"/>
								<input name="hostname" value="www.booking.com" type="hidden"/>
								<input name="test" value="1" type="hidden"/>
								<input name="lang" value="ru" type="hidden"/>

								<input type="hidden" name="checkin" id="checkin" value=""/>
								<input type="hidden" name="interval" id="interval" value=""/>

								<div class="control-group">
									<label>Дата заезда</label>
									<input type="text" name="date_arrival" id="date_arrival"/>
									
								</div>
								<div class="control-group">
									<label>Дата выезда</label>
									<input type="text" name="date_departure" id="date_departure"/>
									
								</div>
								<button type="submit" id="booking_room" class="span3 btn btn-warning btn-large"><i class="icon-plus-sign"></i> Бронировать</button>
							</form>
						<?else:?>
							<h4>Контактная информаци</h4>
							<div>
								<strong>Email:</strong> <a href="mailto:<?=$this->hotel['email']?>"><?=$this->hotel['email']?></a>
							</div>
							<div>
								<strong>Phone:</strong> <a><?=$this->hotel['phone']?></a>
							</div>
							
						<?endif;?>


						<?php echo $this->partial('partials/advert.phtml'); ?>
					</div>
				</div>
			</div>
		<?else:?>
			К сожалению мы не смогли найти гостиницу, которую вы искали
		<?endif;?>
	</div>
</div>