<script type="text/javascript">$(document).ready(function() { Face.doClickable(); });</script>

<div class="container main">
	<div class="page main">
		<div class="row">
			<div class="span12">
				<h1>В какую поездку отправиться на выходные?</h1>
				<div class="btn-toolbar align-center">
					<div id="abc_filter" class="btn-group btn-inverse ">
						<?if(!empty($this->abc)):?>
							<?foreach($this->abc as $abc):?>
								<a href="/search/index?filter=<?=$abc?>">
									<button class="btn btn-inverse">
										<?=$abc?>
									</button>
								</a>
							<?endforeach;?>
						<?endif;?>
					</div>
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<?if(!empty($this->hotels)):?>
				<?foreach($this->hotels as $hotel):?>
					<div class="span3">
						<div class="the_place mini">
							<div class="img-container">
								<img src="<?=($hotel['image_url'] != 'no-image.png') ? $hotel['image_url'] : '/images/no-image-hotel.png'?>" alt="" />
								<a href="/hotel/<?=$hotel['id']?>" class="place-name"><?=$hotel['title']?></a>
							</div>
						</div>
					</div>
				<?endforeach;?>
			<?endif;?>			
		</div>
	</div>
</div>