<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">$(document).ready(function() {
	/* При успешной загрузке API выполняется соответствующая функция */
	ymaps.ready(function () {
		<? $def_coords = $this->getDefaultCoords(); ?>
		w2dmap.initmap("<?=!empty($this->lat)?$this->lat:$def_coords->coords->lat?>", "<?=!empty($this->lng)?$this->lng:$def_coords->coords->lng?>", <?=$this->zoom?>, "<?=$this->map_type?>");
		Face.hotel.init(); 
	});
});
</script>
<div class="container main">
	<div class="page">
		<?if(!empty($this->hotel_id)):?>
			<div class="row">
				<div class="span12">
					<?=$this->breadCrumbs(); ?>

					<h1>
						Отель &laquo;<?=$this->hotel['title']?>&raquo;
						<?if(!empty($this->hotel['stars'])) :?>
							<?for($i = 0; $i <= $this->hotel['stars']-1; $i++):?>
								<i class="icon-star"></i>
							<?endfor;?>
							<?if($this->hotel['stars'] > $i) :?>
								<i class="icon-star-half"></i>
							<?endif;?>						
						<?endif;?>
					</h1>			
					<?php echo $this->partial('partials/menu/menu_hotel.phtml', array('hotel_id' => $this->hotel_id,'active'=>'map')); ?>
				</div>
			</div>
		
			<div class="row">
				<div class="span12 about_city">

					<div class="about_city">
						<div class="row">
							
							<div class="span8">
								<?if(!empty($this->lat) && !empty($this->lng)):?>
								
									<div class="map-wrapper">
										<div id="ymaps" class="place-map"></div>
									</div>
									
								<?else:?>
									Информация временно отсутствует
								<?endif;?>
									
								<?php echo $this->partial('partials/comments.phtml', array('user' => $this->user)); ?>
							</div>
							<div class="span3 offset1">
								<?if(!empty($this->hotel['booking_id'])) :?>
									<h4>Форма бронирования</h4>

									<form id="frm" name="frm" action="https://secure.booking.com/book.html" method="post" target="_blank">
										<input name="aid" value="<?=$this->affiliate_id?>" type="hidden">
										<input name="stage" value="1" type="hidden"/>
										<input name="hotel_id" value="<?=$this->hotel['booking_id']?>" type="hidden"/>
										<input name="hostname" value="www.booking.com" type="hidden"/>
										<input name="test" value="1" type="hidden"/>
										<input name="lang" value="ru" type="hidden"/>

										<input type="hidden" name="checkin" id="checkin" value=""/>
										<input type="hidden" name="interval" id="interval" value=""/>

										<div class="control-group">
											<label>Дата заезда</label>
											<input type="text" name="date_arrival" id="date_arrival"/>

										</div>
										<div class="control-group">
											<label>Дата выезда</label>
											<input type="text" name="date_departure" id="date_departure"/>

										</div>
										<button type="submit" id="booking_room" class="span3 btn btn-warning btn-large"><i class="icon-plus-sign"></i> Бронировать</button>
									</form>
								<?else:?>
									<h4>Контактная информаци</h4>
									<div>
										<strong>Email:</strong> <a href="mailto:<?=$this->hotel['email']?>"><?=$this->hotel['email']?></a>
									</div>
									<div>
										<strong>Phone:</strong> <a><?=$this->hotel['phone']?></a>
									</div>

								<?endif;?>

								<?php echo $this->partial('partials/advert.phtml'); ?>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		<?else:?>
			К сожалению мы не смогли найти гостиницу, которую вы искали
		<?endif;?>
	</div>
</div>