<script type="text/javascript">$(document).ready(function() { Face.hotel.init(); });</script>
<div class="container main">
	<div class="page">
		<?if(!empty($this->hotel_id)):?>
			<div class="row">
				<div class="span12">
					<?=$this->breadCrumbs(); ?>

					<h1>
						Отель &laquo;<?=$this->hotel['title']?>&raquo;
						<?if(!empty($this->hotel['stars'])) :?>
							<?for($i = 0; $i <= $this->hotel['stars']-1; $i++):?>
								<i class="icon-star"></i>
							<?endfor;?>
							<?if($this->hotel['stars'] > $i) :?>
								<i class="icon-star-half"></i>
							<?endif;?>						
						<?endif;?>
					</h1>			
					<?php echo $this->partial('partials/menu/menu_hotel.phtml', array('hotel_id' => $this->hotel_id,'active'=>'price')); ?>
				</div>
			</div>
			<div class="row">
				<div class="span8">
					<div class="list-places">
						<?if(count($this->rooms)):?>
							<?foreach($this->rooms as $room):?>
								<div class="item trip">
									<div class="span5">
										<h3><a href="/room/<?=$room['id']?>?hotel=<?=$this->hotel_id?><?=$this->travel_in_url?>"><?=$room['title']?></a></h3>
										<p><?=!empty($room['long_text'])?$this->cutLongText($room['long_text']):'Описание номера еще не добавлено'?></p>
										
										<div class="trip_images">
											<img rel="tooltip" data-original-title="Комната" src="http://hotels.nov.ru/images/674_xl.jpg" alt="" />
											<img rel="tooltip" data-original-title="Комната" src="http://hotels.nov.ru/images/672_xl.jpg" alt="" />
											<img rel="tooltip" data-original-title="Комната" src="http://hotels.nov.ru/images/673_xl.jpg" alt="" />
											<img rel="tooltip" data-original-title="Комната" src="http://hotels.nov.ru/images/676_xl.jpg" alt="" />											
										</div>
										
									</div>
									<div class="span7">
										<?if(!empty($room['price'])) :?>
											<div class="price pull-right">Цена <b><?=$room['price']?></b> руб./ночь</div>
										<?endif;?>
										<!--<button type="submit" class="btn btn-warning booking">Бронировать</button>-->
									</div>
								</div>						
							<?endforeach;?>
						<?endif;?>						
					</div>
					
					<?php echo $this->partial('partials/comments.phtml', array('user' => $this->user)); ?>
				</div>
				<div class="span3 offset1">
					<?if(!empty($this->hotel['booking_id'])) :?>
						<h4>Форма бронирования</h4>

						<form id="frm" name="frm" action="https://secure.booking.com/book.html" method="post" target="_blank">
							<input name="aid" value="<?=$this->affiliate_id?>" type="hidden">
							<input name="stage" value="1" type="hidden"/>
							<input name="hotel_id" value="<?=$this->hotel['booking_id']?>" type="hidden"/>
							<input name="hostname" value="www.booking.com" type="hidden"/>
							<input name="test" value="1" type="hidden"/>
							<input name="lang" value="ru" type="hidden"/>

							<input type="hidden" name="checkin" id="checkin" value=""/>
							<input type="hidden" name="interval" id="interval" value=""/>

							<div class="control-group">
								<label>Дата заезда</label>
								<input type="text" name="date_arrival" id="date_arrival"/>

							</div>
							<div class="control-group">
								<label>Дата выезда</label>
								<input type="text" name="date_departure" id="date_departure"/>

							</div>
							<button type="submit" id="booking_room" class="span3 btn btn-warning btn-large"><i class="icon-plus-sign"></i> Бронировать</button>
						</form>
					<?else:?>
						<h4>Контактная информаци</h4>
						<div>
							<strong>Email:</strong> <a href="mailto:<?=$this->hotel['email']?>"><?=$this->hotel['email']?></a>
						</div>
						<div>
							<strong>Phone:</strong> <a><?=$this->hotel['phone']?></a>
						</div>

					<?endif;?>
					
					<?php echo $this->partial('partials/advert.phtml'); ?>
				</div>

			</div>
		
		
		<?else:?>
			К сожалению мы не смогли найти номер в гостинице, которую вы искали
		<?endif;?>
	</div>
</div>