<div class="container main">
	<div class="page">
		<div class="row">
			<div class="span12">
				<h1>Отелям и гостиницам</h1>
				<p class="lead">Вы владелец отеля, гостиницы или базы отдыха? <br />Хотите увеличения количества посетителей на вашем сайте?</p>
			</div>
		</div>
		
		<? if(!empty($this->result_message)):?>
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<strong><?=$this->result_message?></strong>
			</div>
		<?endif;?>
		
		<div class="row">
			<div class="span4">			
				<p class="well dark">Возможно, у вас нет своего сайта и вы ищете, где разместить информацию о себе?
				Мы выделим вам отдельную страницу на нашем сайте и наполним ее удобными инструментами по вашему желанию.</p>			
			</div>
						
			<div class="span8">				
				<form class="form-horizontal" method="post">
					<div class="control-group <?=!empty($this->empty_name)?'error':''?>">
						<label class="control-label" for="name">Ваше имя</label>
						<div class="controls">
							<input class="span4" type="text" id="name" name="name" placeholder="Ваше имя" value="<?=$this->name?>" />
							<? if(!empty($this->empty_name)):?>
								<span class="help-inline">Заполните, пожалуйста, это поле.</span>
							<? endif;?>
						</div>
					</div>
					<div class="control-group <?=!empty($this->empty_orgname)?'error':''?>"">
						<label class="control-label" for="orgname">Название организации</label>
						<div class="controls">
							<input class="span4" type="text" id="orgname" name="orgname" placeholder="Название организации" value="<?=$this->orgname?>" />
							<? if(!empty($this->empty_orgname)):?>
								<span class="help-inline">Заполните, пожалуйста, это поле.</span>
							<? endif;?>
						</div>
					</div>
					<div class="control-group <?=!empty($this->empty_phone)?'error':''?>"">
						<label class="control-label" for="phone">Контактный телефон</label>
						<div class="controls">
							<input class="span4" type="text" id="phone" name="phone" placeholder="Контактный телефон" value="<?=$this->phone?>" />
							<? if(!empty($this->empty_phone)):?>
								<span class="help-inline">Заполните, пожалуйста, это поле.</span>
							<? endif;?>
						</div>
					</div>
					<div class="control-group <?=!empty($this->empty_email)||!empty($this->bad_email)?'error':''?>"">
						<label class="control-label" for="email">Электронная почта</label>
						<div class="controls">
							<input class="span4" type="text" id="email" name="email" placeholder="Электронная почта" value="<?=$this->email?>" />
							<? if (!empty($this->empty_email)) : ?>
								<span class="help-inline">Заполните, пожалуйста, это поле.</span>
							<? endif;?>
							<? if (!empty($this->bad_email)) : ?>
								<span class="help-inline">Плохой адрес электронной почты</span>
							<? endif;?>							
						</div>
					</div>
					<div class="control-group <?=!empty($this->empty_name)?'error':''?>"">
						<div class="controls">
							<button type="submit" class="btn btn-large btn-warning">Подать заявку</button>
						</div>
					</div>
				</form>
			</div>
			
			<!--<div class="span3">
				<p>Возможно, у вас нет своего сайта и вы ищете, где разместить информацию о себе?
				Мы выделим вам отдельную страницу на нашем сайте и наполним ее удобными инструментами по вашему желанию.</p>
			</div>-->
						
		</div>
	</div>
</div>