<?// if (!empty($this->user)) : ?>
	<div class="comments">
		<? if($this->user['provider'] == 'fb') : ?>
			<div class="fb-comments">
				<fb:comments href="<?=$this->baseUrl('comments')?>" numposts="4" title="way2day.ru" css="<?=$this->baseUrl()?>/css/fb.css?1"></fb:comments>
			</div>			
			<div id="vk_comments"></div>
			<script type="text/javascript">
				VK.Widgets.Comments('vk_comments', {attach: "*", pageUrl: '<?=$this->baseUrl('comments')?>'}, '<?=md5($this->baseUrl('comments'))?>');
			</script>
		<? else: ?>			
			<div id="vk_comments"></div>
			<script type="text/javascript">
				VK.Widgets.Comments('vk_comments', {attach: "*", pageUrl: '<?=$this->baseUrl('comments')?>'},  '<?=md5($this->baseUrl('comments'))?>');
			</script>
			<div class="fb-comments">
				<fb:comments href="<?=$this->baseUrl('comments')?>" numposts="4" title="way2day.ru" css="<?=$this->baseUrl()?>/css/fb.css?1"></fb:comments>
			</div>
			
		<? endif; ?>
	</div>
<?// endif; ?>