<!-- ФАЙЛ НЕ ИСПОЛЬЗУЕТСЯ -->

<div id="image_<?=$this->id?>" class="<?=$this->active?> item">
	<img class="gallery" src="<?=$this->img_url?>" alt="Куда поехать на выходные - way2day.ru" />
	<div class="carousel-caption">
		<h4><?=$this->image_txt?></h4>
	</div>
</div>