<? if (!empty($this->user)) : ?>
	<div class="likes<?if(empty($this->page) || $this->page != 'city'){echo " small";}?>">
		<? if($this->user['provider'] == 'fb') : ?>
			<div class="fb-like" data-href="<?=$this->baseUrl('likes')?>" data-send="false" data-layout="button_count" data-width="240" data-height="200" data-show-faces="true"></div>

			
			<div id="vk_like"></div>
			<script type="text/javascript">
				VK.Widgets.Like("vk_like", {type: "button", pageUrl: <?=$this->baseUrl('likes')?>});
			</script>
		<? else: ?>			
			<div id="vk_like"></div>
			<script type="text/javascript">
				VK.Widgets.Like("vk_like", {type: "button", pageUrl: '<?=$this->baseUrl('likes')?>'});
			</script>

			<div>
				<div class="fb-like" data-href="<?=$this->baseUrl('likes')?>" data-send="false" data-layout="button_count" data-width="240" data-height="200" data-show-faces="true" ></div>
			</div>			
			<!--<fb:like width="240" href="<?=$this->baseUrl('likes')?>" layout="button_count" css="<?=$this->baseUrl()?>css/fb.css?2" description="sdflkn">sdfgdsfg</fb:like>-->
		<? endif; ?>
	</div>
<? endif; ?>