﻿<div id="modal-gallery" class="modal modal-gallery hide fade">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h3 class="modal-title"></h3>
	</div>
	<div class="modal-body"><div class="modal-image"></div></div>
	<div class="modal-footer">
		<a class="btn btn-info modal-prev">
			<i class="icon-arrow-left icon-white"></i>
			<span>Предыдущая</span>
		</a>
		<a class="btn btn-primary modal-next">
			<span>Следующая</span>
			<i class="icon-arrow-right icon-white"></i>
		</a>
	</div>
</div>