<?if(!empty($this->travel)):?>
	<!-- Кнопка назад -->
	<?if(!empty($this->city)):?>
		<div>
			<a href="/travels/c/<?=$this->city?>">Назад</a>
		</div>
	<?endif;?>

	<div class="cat-links">
		<a href="/travels/id/<?=$this->travel?>">Описание</a>
	</div>

	<div class="cat-links">
		<a href="/travels/id/<?=$this->travel?>/p">Что посмотреть</a>
	</div>

	<div class="cat-links">
		<a href="/travels/id/<?=$this->travel?>/m">Как добраться</a>
	</div>

	<div class="cat-links">
		<a href="/travels/id/<?=$this->travel?>/h">Где остановиться</a>
	</div>
	
	<?if(!empty($this->place)):?>
		<div class="cat-links">
			<a href="/travels/id/<?=$this->travel?>/p">К списку</a>			
		</div>
	<?endif;?>
<?endif;?>