<?if(!empty($this->place_add)):?>
	<div class="place_add">
		<div class="add-place-me">
			Добавить в поездку
		</div>
		<div class="form">
			<form method="post">
				<input type="text" name="title" value="Создать новую поездку"/>
				<input type="hidden" name="id" value="<?=$this->place_id?>"/>
				<input type="button" class="add-place-new" name="add-place-new" value="Add"/>
			</form>
			<?if(!empty($this->travels)):?>
				<form method="post">
					<select name="travel">
						<?foreach($this->travels as $place):?>
							<option 
								<?if($place['active'] == 1):?>
									selected
								<?endif;?>
								value="<?=$place['id']?>"><?=$place['title']?></option>
						<?endforeach;?>
					</select>

					<input type="hidden" name="id" value="<?=$this->place_id?>"/>
					<input type="button" class="add-place" name="add-place" value="Add"/>
				</form>
			<?endif;?>
		</div>
	</div>
<?endif;?>