<?if(!empty($this->travel_block)):?>
	<div class="travel-information">
		<div class="add-travel" name="<?=$this->travel_block['id']?>">
			Добавить в мои поездки
		</div>
		<div class="travel-info">
			<div class="title"><?=$this->travel_block['title']?></div>
			<div class="info">
				<div class="place">
					<div class="label">
						Места
					</div>
					<div class="value">
						<?=count($this->travel_block['place'])?>
					</div>

				</div>
				<div class="price">
					<div class="label">
						Расходы на ночлег
					</div>
					<div class="value">
						<?=$this->travel_block['price']?>
					</div>
				</div>
			</div>
			<div class="places">
				<div class="img">
					<?if(count($this->travel_block['place']) > 0):?>
						<?foreach($this->travel_block['place'] as $place):?>
							<img src="/uploads/<?=$place['id']?>/icon.png">
						<?endforeach;?>
					<?endif;?>
				</div>
			</div>
		</div>
	</div>
<?endif;?>