<?if(!empty($this->travel_active)):?>
	<div class="travel-active" 
		 <?if(isset($this->view) && $this->view == 0):?>
			style="display: none;"
		 <?endif;?>
		 name ="<?=$this->travel_active['id']?>">
		<?if(!isset($this->add)):?>
			<div class="add-place-active" travel="<?=$this->travel_active['id']?>" place="<?=$this->place['id']?>">
				Добавить в поездку
			</div>
		<?endif;?>
		<div class="travel-show"><a>Сменить</a></div>
		<div class="travel-info">
			<div class="title"><?=$this->travel_active['title']?></div>
			<div class="info">
				<div class="place">
					<div class="label">
						Места
					</div>
					<div class="value">
						<?=$this->travel_active['place']?count($this->travel_active['place']):0?>
					</div>

				</div>
				<div class="price">
					<div class="label">
						Расходы на ночлег
					</div>
					<div class="value">
						<?=$this->travel_active['price']?$this->travel_active['price']:0?>
					</div>
				</div>
			</div>
			<div class="places">
				<div class="img">
					<?if(count($this->travel_active['place']) > 0):?>
						<?foreach($this->travel_active['place'] as $place):?>
							<img src="/uploads/<?=$place['id']?>/icon.png">
						<?endforeach;?>
					<?endif;?>
				</div>
			</div>
		</div>
	</div>
	<div class="travel-list">
		<div class="travel-hide"><a>Вернуться к списку</a></div>
		<div class="travels-list">
			
		</div>
			
	</div>

<?endif;?>