<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">

{% for (var i=0, file; file=o.files[i]; i++) { %}

	<tr class="template-upload fade">
		<td class="preview"><label class="hint gallery-label" title="111Сделать главной<br/>картинкой «Места»" for="img_{%=file.name%}"><input id="img_{%=file.name%}"  type="radio" name="radiobutton"/><span class="fade"></span></label></td>
		<td class="name"><span>{%=file.name%}</span></td>
		<td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
		{% if (file.error) { %}
			<td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
		{% } else if (o.files.valid && !i) { %}
			<td>
				<div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
			</td>
		{% } else { %}
			<td colspan="2"></td>
		{% } %}
		<td class="cancel">{% if (!i) { %}
			<button class="btn">
				<i class="icon-ban-circle icon-white"></i>
			</button>
		{% } %}</td>
	</tr>

{% } %}
</script>

<script id="template-download" type="text/x-tmpl">
								
	{% for (var i=0, file; file=o.files[i]; i++) { %}

		<li class="ui-state-default template-download fade">

			{% if (file.error) { %}

				<div class="name span1"><span>{%=file.name%}</span></div>
				<div class="error span1">
					<span class="label label-important">{%=locale.fileupload.error%}</span>
					{%=locale.fileupload.errors[file.error] || file.error%}
				</div>

			{% } else { %}

				<div class="preview span2">
					<label class="gallery-label">
					{% if (file.thumbnail_url) { %}
						<input class="hint" title="Сделать главной картинкой «Места»" type="radio" name="main_picture" value="{%=file.middle_url%}" />
						<img src="{%=file.thumbnail_url%}" data-href="{%=file.files_url%}" class="gallery-item modal-image" alt="Куда поехать на выходные" />
					{% } %}<i class="icon-ok hint" title="Загружено"></i></label>
				</div>
				<div class="name span5">
					<label for="">Введите описание фото <span class="text-saved" style="display:none;color:green">Сохранено</span></label>
					<textarea class="span5 image_txt" data-field="{%=file.files_url%}" idx-field="{%=file.idx%}" tabindex="{%=++file.idx%}">{%=file.image_txt||''%}</textarea>
				</div>
				<div class="size span2"><span>{%=o.formatFileSize(file.size)%}</span></div>

			{% } %}

			<div class="delete span1">
				<button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
					<i class="icon-trash icon-white"></i>
				</button>
			</div>
		</li>

	{% } %}
	
</script>

<script src="/js/fileupload/js/vendor/jquery.ui.widget.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/blueimp/tmpl.min.js"></script>
<script src="/js/blueimp/load-image.min.js"></script>
<script src="/js/blueimp/canvas-to-blob.min.js"></script>
<script src="/js/fileupload/js/jquery.iframe-transport.js"></script>
<script src="/js/fileupload/js/jquery.fileupload.js"></script>
<script src="/js/fileupload/js/jquery.fileupload-fp.js"></script>
<script src="/js/fileupload/js/jquery.fileupload-ui.js"></script>
<script src="/js/fileupload/js/locale.js"></script>
<!--[if gte IE 8]>
<script src="/js/fileupload/js/cors/jquery.xdr-transport.js"></script>
<![endif]-->