<div class="container main">
	<div class="page">
		<div class="row">			
			<div class="span7 offset2">
					<div class="control-group">
						На электронный адрес <strong><?=$this->email?></strong> отправлена ссылка для подтверждения регистрации.
					</div>
				</form>			
			
			</div>
		</div>
	</div>
</div>