<!doctype html>
<html> <!-- xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraph.org/schema/" -->
<head>

	<?=$this->headTitle()?>

	<?= $this->headLink(array('rel' => 'icon', 'href' => '/images/favicon.png', 'type' => 'image/x-icon')); ?>

	<meta http-equiv="imagetoolbar" content="no" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta name="expires" content="0" />
	<meta name="keywords" content="куда поехать на выходные что посмотреть в кисловодске старой ладоге ленинградской области за город на выходные как найти" />
	<meta name="description" content="<?=$this->getSiteDescription()?>" />
	<meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0" />

	<meta property="og:title" content="<?=!empty($this->pageTitle) ? $this->pageTitle : $this->headTitle()?>" />
	<meta property="og:description" content="<?=substr($this->pageDescription, 0, 400)?>..."/>
	<meta property="og:image" content="<?=!empty($this->pageImage) ? $this->pageImage : "https://s3.amazonaws.com/w2d-files/551a7b5ca8862.jpg" ?>" />
	<meta property="og:type" content="activity" />
	<meta property="og:site_name" content="Куда поехать на выходные?" />

	<!-- jQuery library - I get it from Google API's -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js"></script>
	<!-- Open Api for vkontakte -->
	<script src="http://userapi.com/js/api/openapi.js" type="text/javascript" charset="utf-8"></script>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <script type="text/javascript">
        var HOST = '<?= $this->baseUrl() ?>/';
    </script>

    <!-- подключение стилей и скриптов -->
    <script src="/js/all.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" media="all" href="/css/all.css"/>

</head>
<body data-spy="scroll" data-target="#navbar_sub">

	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
	(function (d, w, c) {
		(w[c] = w[c] || []).push(function() {
			try {
				w.yaCounter12822877 = new Ya.Metrika({id:12822877, enableAll: true});
			} catch(e) { }
		});

		var n = d.getElementsByTagName("script")[0],
			s = d.createElement("script"),
			f = function () { n.parentNode.insertBefore(s, n); };
		s.type = "text/javascript";
		s.async = true;
		s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

		if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
		} else { f(); }
	})(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="//mc.yandex.ru/watch/12822877" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->

	<script type="text/javascript">
		VK.init({
			apiId: 2718228,
			onlyWidgets: true
		});
	</script>

	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<div id="sf-wrapper">

		<?php echo $this->partial('header.phtml', array('user'=>$this->user)); ?>

		<?php echo $this->layout()->content; ?>
	</div>

	<div id="all-shadow" style="display: none">
		<div class="message-box">
			dfgdfgfdg
		</div>
	</div>

    <!-- Yandex.Metrika informerrr -->
    <a href="http://metrika.yandex.ru/stat/?id=12822877&amp;from=informer"
       target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/12822877/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                                           style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:12822877,lang:'ru'});return false}catch(e){}"/></a>
    <!-- /Yandex.Metrika informer -->

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter12822877 = new Ya.Metrika({id:12822877,
                        webvisor:true,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/12822877" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

	<?php echo $this->partial('footer.phtml'); ?>
