<!DOCTYPE HTML>
<html lang="en">
	<head>

		<title><?=$this->escape($this->title)?></title>

		<meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />		

		<meta http-equiv="imagetoolbar" content="no" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta name="expires" content="0" />
		<meta name="keywords" content="куда поехать на выходные" />
		<meta name="description" content="Наш проект - это коллекция увлекательных путешествий. Выберите одну из подготовленных нами поездок или, с помощью удобных инструментов, спланируйте свое уникальное путешествие." />
		<meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0" />

		<meta property="og:title" content="Куда поехать на выходные на своем автомобиле? Что посмотреть за 1, 2 или 3 дня праздников?" />
		<meta property="og:image" content="http://storage.way2day.ru/files/2012-01/2012-01-18/4f1693095e788.png"/>
		<meta property="og:description" content="Наш проект - это коллекция увлекательных путешествий. Выберите одну из подготовленных нами поездок или, с помощью удобных инструментов, спланируйте свое уникальное путешествие. Стартуем когда потеплеет. Большое спасибо за лайки и рекомендации!"/>
		<meta property="og:type" content="activity" />
		<meta property="og:url" content="http://way2day.ru/" />	
		<meta property="og:site_name" content="Куда поехать на выходные?" />
		<meta property="fb:admins" content="100003395497695" />

		<!-- jQuery library - I get it from Google API's -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<!-- Open Api for vkontakte -->
		<script src="http://userapi.com/js/api/openapi.js" type="text/javascript" charset="utf-8"></script>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

        <!-- подключение стилей и скриптов --> 
        <script src="/js/all.js" type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" media="all" href="/css/all.css"/>
		
	</head>
	<body data-spy="scroll" data-target="#navbar_sub">		
		<!----------------- VK ------------------->
		<script type="text/javascript">
			VK.init({
				apiId: 2718228,
				onlyWidgets: true
			});
		</script>
		<!----------------- VK ------------------->

		<!----------------- FB ------------------->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<!----------------- FB ------------------->
		
		<script type="text/javascript">		
			var HOST = '<?= $this->baseUrl() ?>';			
		</script>

		
		<!----------------- header ------------------->
		<div class="header">
			<?php echo $this->partial('header.phtml', array('user'=>$this->user)); ?>
		</div>
		<!----------------- header ------------------->
		
		<!-- Content -->
		
		<div class="container main">
			<?php echo $this->layout()->content; ?>
		</div>
		<? 
			/*$controllerName = Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
			$actionName = Zend_Controller_Front::getInstance()->getRequest()->getActionName();
			if ($controllerName == 'search' && $actionName == 'index') {
				?>
				<div class="layout-search">
					<form action="<?=$this->url( array('controller' => 'search', 'action' => 'index') )?>" id="search-form">
						<div>
							<input type="text" title="Поиск" class="layout-search-form" name="keyphrase" id="keyphrase" autocomplete="Off" />
							<a href="javascript:$('#search-form').submit();" class="layout-search-btn" id="search_submit">
								<img src="/images/search.png" />
							</a>
						</div>
					</form>			
				</div>
				<?
			}*/
		?>
		
		<!--<div class="wrapper"></div>-->
		
		<!----------------- navigator ------------------->		
		<!--<div class="navigator">			
			<?//=$this->breadCrumbs(); ?>
		</div>-->
		<!----------------- navigator ------------------->
		
		
		<!----------------- footer ------------------->		
		<?php echo $this->partial('footer.phtml'); ?>		
		<!----------------- footer ------------------->
		
		<div id="all-shadow" style="display:none"></div>
		
	</body>
</html>