<!doctype html>
<html   xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraph.org/schema/"> 
<head>		

	<title>Куда поехать на выходные - way2day.ru</title>
	
	<?= $this->headLink(array('rel' => 'icon', 'href' => '/images/favicon.png', 'type' => 'image/x-icon')); ?>
		
	<meta http-equiv="imagetoolbar" content="no" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta name="expires" content="0" />
	<meta name="keywords" content="куда поехать на выходные" />	
	<meta name="description" content="Наш проект - это коллекция увлекательных путешествий России. Сайт на котором собраны все уголки нашей страны, которые вы сами любите и добавляете к нам. Цель проекта - показать людям, как можно интересно и с пользой, при этом не ограничивая себя в комфорте, путешествовать по нашей стране." />
	<meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0" />

	<meta property="og:title" content="Куда поехать на выходные на своем автомобиле? Что посмотреть за 1, 2 или 3 дня праздников?" />
	<meta property="og:image" content="http://storage.way2day.ru/files/2012-01/2012-01-18/4f1693095e788.png"/>
	<meta property="og:description" content="Наш проект - это коллекция увлекательных путешествий России. Сайт на котором собраны все уголки нашей страны, которые вы сами любите и добавляете к нам. Цель проекта - показать людям, как можно интересно и с пользой, при этом не ограничивая себя в комфорте, путешествовать по нашей стране."/>
	<meta property="og:type" content="activity" />
	<meta property="og:url" content="http://way2day.ru/" />	
	<meta property="og:site_name" content="Куда поехать на выходные?" />
	<meta property="fb:admins" content="100003395497695" />

	<script type="text/javascript" src="http://vk.com/js/api/share.js?11" charset="windows-1251"></script>	
	<script src="http://connect.facebook.net/ru_RU/all.js#xfbml=1" type="text/javascript" ></script>
	
	<!-- jQuery library - I get it from Google API's -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" type="text/javascript"></script>
	<!-- Open Api for vkontakte -->
	<script src="http://userapi.com/js/api/openapi.js" type="text/javascript" charset="utf-8"></script>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <!-- подключение стилей и скриптов --> 
    <script src="/js/all.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" media="all" href="/css/all.css"/>
	
	
	
</head>
<body data-spy="scroll" data-target="#navbar_sub">

	<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 class="align-center" id="myModalLabel">Вход на сайт</h3>
		</div>
		<div class="modal-body">
			<div class="guest_menu">							
				<ul class="nav">
					<li class="social_login">
						Войти через 
						<div class="btn btn-mini btn-warning" type="button">
							<a class="vk" href="http://oauth.vk.com/authorize?client_id=2718228&redirect_uri=<?=$this->baseUrl()?>/auth/vk&scope=friends&display=popup&response_type=code">
								<img src="/images/icon_16_vk.png" alt="" /> Вконтакте
							</a>
						</div>
						или
						<div class="btn btn-mini btn-warning" type="button">
							<a class="fb" href="<?=$this->baseUrl();?>auth/fb?backpage=<?=$this->baseUrl('comments')?>">
								<img src="/images/icon_16_fb.png" alt="" /> Facebook												
							</a>
						</div>
					</li>
					<!--<li>
						<a href="#myModal" data-toggle="modal"><i class="icon-key"></i> Вход</a>
					</li>-->
				</ul>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		VK.init({
			apiId: 2718228,
			onlyWidgets: true
		});
	</script>

	<script type="text/javascript">
		var HOST = '<?= $this->baseUrl() ?>';			
	</script>

	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<div id="sf-wrapper">

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/"></a>
					<form class="navbar-search pull-left" action="">
						<input type="text" class="search-query span2" placeholder="Куда поехать?">
					</form>					
				</div>
			</div>
		</div>
		
		<?php echo $this->layout()->content; ?>
	</div>
	
	<div id="all-shadow" style="display: none">
		<div class="message-box">
			dfgdfgfdg
		</div>
	</div>
	
	<?php echo $this->partial('footer.phtml'); ?>