<!doctype html>
<html   xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraph.org/schema/"> 
<head>		

	<title>Куда поехать на выходные - way2day.ru</title>
	
	<?= $this->headLink(array('rel' => 'icon', 'href' => '/images/favicon.png', 'type' => 'image/x-icon')); ?>
		
	<meta http-equiv="imagetoolbar" content="no" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta name="expires" content="0" />
	<meta name="keywords" content="куда поехать на выходные" />	
	<meta name="description" content="Наш проект - это коллекция увлекательных путешествий России. Сайт на котором собраны все уголки нашей страны, которые вы сами любите и добавляете к нам. Цель проекта - показать людям, как можно интересно и с пользой, при этом не ограничивая себя в комфорте, путешествовать по нашей стране." />
	<meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0" />

	<meta property="og:title" content="Куда поехать на выходные на своем автомобиле? Что посмотреть за 1, 2 или 3 дня праздников?" />
	<meta property="og:image" content="http://storage.way2day.ru/files/2012-01/2012-01-18/4f1693095e788.png"/>
	<meta property="og:description" content="Наш проект - это коллекция увлекательных путешествий России. Сайт на котором собраны все уголки нашей страны, которые вы сами любите и добавляете к нам. Цель проекта - показать людям, как можно интересно и с пользой, при этом не ограничивая себя в комфорте, путешествовать по нашей стране."/>
	<meta property="og:type" content="activity" />
	<meta property="og:url" content="http://way2day.ru/" />	
	<meta property="og:site_name" content="Куда поехать на выходные?" />
	<meta property="fb:admins" content="100003395497695" />

	<script type="text/javascript" src="http://vk.com/js/api/share.js?11" charset="windows-1251"></script>	
	<script src="http://connect.facebook.net/ru_RU/all.js#xfbml=1" type="text/javascript" ></script>
	
	<!-- jQuery library - I get it from Google API's -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" type="text/javascript"></script>
	<!-- Open Api for vkontakte -->
	<script src="http://userapi.com/js/api/openapi.js" type="text/javascript" charset="utf-8"></script>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <!-- подключение стилей и скриптов --> 
    <script src="/js/all.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" media="all" href="/css/all.css"/>
    <link rel="stylesheet" media="all" href="/css/login.css"/>
	
	
</head>
<body data-spy="scroll" data-target="#navbar_sub">

	<script type="text/javascript">
		VK.init({
			apiId: 2718228,
			onlyWidgets: true
		});
	</script>

	<script type="text/javascript">
		var HOST = '<?= $this->baseUrl() ?>';			
	</script>

	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<div id="sf-wrapper">
		<?php echo $this->layout()->content; ?>
	</div>
	<?php echo $this->partial('footer.phtml'); ?>