.main-content{
    width: 1000px;
    margin: 0 auto;
}

#content{
	display: inline-block;
    width: 700px;
    height: 100%;
}



/* === Travel ==== */
#travels{
    display: inline-block;
    width: 700px;
    height: 100%;
}
/* === Places ==== */
#places{
    display: inline-block;
    width: 700px;
    height: 100%;
}

#travels-information{
    display: inline-block;
    width: 250px;
    height: 100%;
    vertical-align: top;

    margin: 0 20px;
}

/* === Right Block === */

.travel-information .add-travel,
.travel-information .add-place-me,
.travel-information .add-travel-hide,
.travel-active .add-travel,
.travel-active .add-place-active
{
	text-align: center;
	background: url('/images/addTravel.png') no-repeat;
	cursor: pointer;
	padding: 7px 0 0;
	height: 45px;
	color: white;	
}
.travel-information .add-travel-hide{
	color: #cc0;
}


.travel-information .title,
.travel-active .title{
	background: #666;
	padding: 7px;
	color: white;    
    text-align: center;    
}

.travel-information .travel-info,
.travel-active .travel-info{
	background: #ccc;	
}

.travel-information .travel-info .info .place,
.travel-information .travel-info .info .price,
.travel-active .travel-info .info .place,
.travel-active .travel-info .info .price{
	background: #999;
	width: 124px;
    display: inline-block;    
    text-align: center;
    margin: 2px 0 0 0;
	padding: 5px 0;
}
.travel-information .travel-info .info .place .label,
.travel-information .travel-info .info .price .label,
.travel-active .travel-info .info .place .label,
.travel-active .travel-info .info .price .label{
	font-size: 12px;	
}
.travel-information .travel-info .info .place .value,
.travel-information .travel-info .info .price .value,
.travel-active .travel-info .info .place .value,
.travel-active .travel-info .info .price .value{
	font-size: 20px;
}
.travel-information .travel-info .info .place,
.travel-active .travel-info .info .place{
	float: left;
}
.travel-information .travel-info .info .price,
.travel-active .travel-info .info .price{
	float: right;
}
.travel-information .travel-info .places,
.travel-active .travel-info .places{
	padding: 7px;
    text-align: center;
	min-height: 40px;
}
.travel-information .travel-info .places .img img,
.travel-active .travel-info .places .img img{
	width: 112px;
	height: 56px;
	margin: 7px 0 0;
	border: 1px solid black;
}

/* form add place */
.place_add{
	width: 250px;
}

.place_add .add-place-me{
	color: #00f;
	cursor: pointer;	
}

.place_add .form{
	display: none;
	background: #CCC;
	padding: 7px;
}

.place_add .form form input[name='title'],
.place_add .form form select[name='travel']{
	width: 180px;
	border: 0;
}
/* show travel list*/
.travel-show{
	text-align: right;
	padding: 5px;
}
.travel-show a{
	font-size: 14px;
	border-bottom: 1px dashed #000;	
	cursor: pointer;
}
.travel-list{
	display: none;
}

.travel-hide{
	text-align: right;
	padding: 5px;
}
.travel-hide a{
	font-size: 14px;
	border-bottom: 1px dashed #000;	
	cursor: pointer;
}
.travels-list div{
	margin: 5px 0;
	background: #CCC;
	padding: 10px;
	cursor: pointer;
}
