body { 
	background: url('/images/bg_sky.png') repeat-x #59CAFB;
	min-width: 960px;
	font: 13px "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}
#sf-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background: url('/images/bg_sky_ray.jpg') no-repeat center top;
}
#main {
	overflow: auto;
	padding-bottom: 434px;
}
header {
	min-height: 200px;
}
.main_menu {
	text-align: center;
	font-size: 15px;
	padding-top: 30px;
	padding-bottom: 20px;
}
.main_menu li.current {
	background-color: rgba(2, 78, 124, 0.5);
	box-shadow: 0px -1px 0px black;
	color: rgba(255, 255, 255, 0.7);
}
.main_menu li {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 4px 20px 7px;
}
.main_menu li a {
	color: white;
}
#logo {
	width: 500px;
	height: 110px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-bottom: 40px;
	text-align: center;
}
#logo a {
	width: 300px;
	height: 110px;
	background-image: url('/images/logo.png');
	display: block;
	margin-left: 140px;
}
#content {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
.a_center {
	text-align: center;
}
form {
	padding-bottom: 10px;
	padding-top: 10px;
}
.subscribe .input {
	width: 350px;
	font-size: 14px;
	font-style: italic;
}
.input {
	background-color: rgba(0, 110, 177, 0.7);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border-style: none;
	padding: 11px 15px;
	min-width: 200px;
	color: white;
	outline: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5),0px 0px 5px white;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5),0px 0px 5px #ffffff;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5),0px 0px 5px white;
	font-size: 17px;
}
.btn_wrap {
	display: inline-block;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.2);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
}
input.btn, .btn {
	padding: 7px 18px;
	border-style: none;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	background-color: #FFC807;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(#FE0, #FFC807);
	background-image: -ms-linear-gradient(#FE0, #FFC807);
	background-image: -webkit-linear-gradient(#FE0, #FFC807);
	background-image: -o-linear-gradient(#FE0, #FFC807);
	background-image: linear-gradient(#FE0, #FFC807);
	-webkit-box-shadow: 0px 1px 1px black;
	-moz-box-shadow: 0px 1px 1px #000000;
	box-shadow: 0px 1px 1px black;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	color: rgba(0, 0, 0, 0.5);
	font: italic bold 15px "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}
input.btn:hover, .btn:hover {
	color: rgba(0, 0, 0, 0.9);
}
.help{
	color: #B94A48;
	float: left;
	padding: 10px 150px 0;
}
.promo_page{
	min-height: 200px;	
}
.promo_page.user{
	padding: 0 150px;
}
.control-group.error .help-inline, .control-group.error > label{
	color: #B94A48;
}
.promo_page.hotel{
	min-height: 400px;
}
.important {
	border-right: 2px solid rgba(255, 255, 255, 0.52);
}
.important p {
	color: #003F68;
	font-size: 15px;
	text-align: right;
	margin-bottom: 10px;
	padding-right: 20px;
	margin-top: 10px;
	line-height: 18px;
}
.important p b {
	font-size: 19px;
}
.subscribe.for_hotels .input {
	margin-bottom: 15px;
}
