body{
	margin: 0 auto;
	width: 960px;
	background: #CCC;
}

.wrapper { 
	clear: both; 
	width: 100%; 
}
/*
 * Header
 */
.header{
	margin: 0 auto;
	width: 820px;
	height: 100%;
}
.logo { 
	float: left; 
}
.logo img{
	width: 150px;
}
.message{
	display: none;
	padding: 10px 20px;
	float: left;
	margin: 0 10px;
	background: #666;
	color: white;
	width: 200px;
	text-align: center;
}
.message a{
	color: #fff;
}
.message a:hover{
	text-decoration: none;
}
.auth { 
	margin-top: 38px; 
	margin-right: 38px; 
	float: right; 
}

/*
 * Search on main page
 */
.searchbar{	position: relative;	height: 75px; }
	.searchbar .search{
		position: absolute;
		left: 0;
		bottom: 0;
		display: inline-block;
		width: 400px;
		float: left;
	}
		.searchbar .search .value { position: relative; height: 35px; }
			.searchbar .search input { border: 2px solid #b1b1b1; width: 300px; height: 25px; font-size: 16px; }
			.searchbar .search input,.searchbar .search img { position: absolute; top: 0; }
			.searchbar .search img { right: 0; }


/***Search on layout header***/
.layout-search {  }
	.layout-search-form { border: 2px solid #b1b1b1; width: 150px; height: 23px; font-size: 16px; float: left; }
	.layout-search-btn img {  }


/*******search page******/
.search-page-content {}
	.keyphrase-text-block { width: 100%; }
		.search-text-big { font-size: 2em; }
		.search-text-small { font-size: 1.3em; float: left; }
	
	/* searched menu */	
	.searched-menu .menu { margin-left: 100px; }
		.searched-menu .menu ul{ margin: 0 10px; padding: 0; list-style: none; }
			.searched-menu  .menu li{	display: inline-block; padding: 5px 10px; }
			.searched-menu  .menu li.active { background: #666; padding: 5px 10px; }
				.searched-menu  .menu li.active a { text-decoration: none; color: #fff; }
				.searched-menu  .menu li a { color: #666666; }
				.searched-menu  .menu li a:hover { text-decoration: none; }
	
	/* searched list  */
	.search-result img.logo { width: 200px; }
	.search-result ul {  list-style: none outside none; margin: 0; padding: 0; }
	.search-result li .title-block { padding: 5px 0; }
	.search-result li .title-block a { text-decoration: none; color: #fff; font-weight: bold; }
	.search-result li .title-block a:hover { text-decoration: underline; }
		.search-result li img {	left: 0; top: 0; width: 200px; }
		.search-result li .value {		
			left: 200px;
			top: 0;
			width: 300px;
			height: 92px;
			background: #666;
			color: #fff;
			padding: 20px;
			position: relative;
		}
	
		
		
.searchbar .filter{
	display: inline-block;
	width: 400px;
	float: right;
}

/*
 * Navigator
 */
.navigator{
	margin: 0 auto;
	width: 820px;
	height: 100%;
	font-size: 1em;
	color: #666;
	font-weight: bold;
}
.navigator a{
	/*color: #666;*/
}
.navigator a:hover{
	text-decoration: none;
}

/*
 * Main Content
 */
.main-content{
	margin: 0 auto;
	width: 820px;
	height: 100%;
}
/*
 * Main page
 */
#mainpage .two-city{
	margin: 0;
	list-style: none;
	padding: 0;
}
#mainpage .two-city li{
	position: relative;
	width: 400px;
	height: 263px;
}
#mainpage .two-city img{
	width: 400px;
	height: 263px;
}
#mainpage .two-city .title{
	position: absolute;
	bottom: 0;
	height: 45px;
	width: 100%;
	background: url('/images/title.png');
	padding: 10px 0;
}
#mainpage .two-city .title a{
	padding: 20px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
#mainpage .two-city .title a:hover{
	text-decoration: underline;
}
#mainpage .two-city .info{
	position: absolute;
	bottom: 0;
	height: 28px;
	width: 100%;
	background: url('/images/info.png');	
	font-size: 12px;
}
#mainpage .two-city .info div{
	display: inline-block;
	padding: 7px 0 7px 20px;	
}
#mainpage .two-city .info div a{
	color: #fff;
}
#mainpage .two-city .info div a:hover{
	text-decoration: none;
}

#mainpage .all-city{
	padding: 0;
	margin: 20px 0 0;
	list-style: none;
	position: relative;
}
#mainpage .all-city li{
	position: absolute;	
	width: 190px;
	height: 125px;
}
#mainpage .all-city img{
	width: 190px;
	height: 125px;
}
#mainpage .all-city .title{
	position: absolute;
	bottom: 0;
	height: 20px;
	width: 100%;
	background: url('/images/title.png');
	padding: 5px 0;
}
#mainpage .all-city .title a{
	padding: 20px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
#mainpage .all-city .title a:hover{
	text-decoration: underline;
}



/***** City page *****/
#citypage .title { font-size: 30px;	color: #666; padding: 5px 10px 20px; }
#citypage .menu ul{ margin: 0 10px;	padding: 0;	list-style: none; }
	#citypage .menu li{	display: inline-block; padding: 5px 10px; }
	#citypage .menu li.active { background: #666; padding: 5px 10px; }
		#citypage .menu li.active a { text-decoration: none; color: #fff; }
		#citypage .menu li a { color: #666666; }
		#citypage .menu li a:hover { text-decoration: none;	}
#citypage .info{ padding: 10px 0; }



/* Description */
#citypage .info .description {
	display: block;
	position: relative;
	width: 100%;
	height: 300px;
	background: #666;
}
#citypage .info .description .left-block{
	position: absolute;
	top: 20px;
	left: 20px;
	color: #fff;
}
#citypage .info .description .right-block{
	position: absolute;
	top: 20px;
	left: 400px;
}
/* Лучшие места, поездки, гостиницы */
#citypage .info .description .best{
	position: absolute;
	top: 320px;
	left: 20px;
	color: #666;
}
#citypage .info .description .best .best-block{
	float: left;
	padding: 0 100px 0 0;
}
#citypage .info .description .best .title-block{
	font-size: 18px;
	color: #666;
	padding: 7px 0;
}
#citypage .info .description .best .first img{
	width: 150px;
}
#citypage .info .description .best ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
#citypage .info .description .best ul li a{
	color: #666;
}
#citypage .info .description .best ul li a:hover{
	text-decoration: none;
}
#citypage .info .description .best .all{
	padding: 5px 15px;
}
#citypage .info .description .best .all a{
	color: #888;
}
#citypage .info .description .best .all a:hover{
	text-decoration: none;
}

/* Places */
#citypage .info .places{
	position: relative;		
}
#citypage .info .places .list{
	position: absolute;
	left: 0;
}
#citypage .info .places .list ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#citypage .info .places .list li{
	position: relative;
	width: 100%;
	height: 132px;
	margin: 20px 0;
}
#citypage .info .places .list li .title-block{
	padding: 5px 0;
}
#citypage .info .places .list li .title-block a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
#citypage .info .places .list li .title-block a:hover{
	text-decoration: underline;
}
#citypage .info .places .list li img{
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
}
#citypage .info .places .list li .value{
	position: absolute;
	left: 200px;
	top: 0;
	width: 300px;
	height: 92px;
	background: #666;
	color: #fff;
	padding: 20px;
}
#citypage .info .places .right-block{
	position: absolute;
	right: 0;
	width: 250px;
	font-size: 12px;
	color: #666;
	margin: 20px 0;
}
#citypage .info .places .right-block a{
	color: #fff;
	text-decoration: none;
}
#citypage .info .places .right-block .add-place{
	background: #666;
	padding: 10px;
	font-size: 14px;
	width: 150px;
}

/* Travels */
#citypage .info .travels{
	position: relative;	
}
#citypage .info .travels .list{
	position: absolute;
	left: 0;	
}
#citypage .info .travels .list ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#citypage .info .travels .list li{
	position: relative;
	width: 500px;
	height: 92px;
	margin: 20px 0;
	padding: 15px;
	background: #bbb;
}
#citypage .info .travels .list li .title-block{
	padding: 5px 0;
}
#citypage .info .travels .list li .title-block a{
	text-decoration: none;
	color: #000;
	font-weight: bold;
}
#citypage .info .travels .list li .title-block a:hover{
	text-decoration: underline;
}
#citypage .info .travels .list li .images-block img{
	width: 40px;
	float: left;
}
#citypage .info .travels .list li .long-text{
	font-size: 12px;
	color: #666;
}
#citypage .info .travels .right-block{
	position: absolute;
	right: 0;
	width: 250px;
	font-size: 12px;
	color: #666;
	margin: 20px 0;
}
#citypage .info .travels .right-block a{
	color: #fff;
	text-decoration: none;
}
#citypage .info .travels .right-block .add-travel{
	background: #666;
	padding: 10px;
	font-size: 14px;
	width: 170px;
}
/* Hotels */
#citypage .info .hotels{
	position: relative;		
}
#citypage .info .hotels .list{
	position: absolute;
	left: 0;	
}
#citypage .info .hotels ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#citypage .info .hotels li{
	position: relative;
	width: 100%;
	height: 132px;
	margin: 20px 0;
}
#citypage .info .hotels li .title-block{
	padding: 5px 0;
}
#citypage .info .hotels li .title-block a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
#citypage .info .hotels li .title-block a:hover{
	text-decoration: underline;
}
#citypage .info .hotels li img{
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
}
#citypage .info .hotels li .value{
	position: absolute;
	left: 200px;
	top: 0;
	width: 300px;
	height: 92px;
	background: #666;
	color: #fff;
	padding: 20px;
}
#citypage .info .hotels .right-block{
	position: absolute;
	right: 0;
	width: 250px;
	font-size: 12px;
	color: #666;
	margin: 20px 0;
}
#citypage .info .hotels .right-block a{
	color: #fff;
	text-decoration: none;
}
#citypage .info .hotels .right-block .add-place{
	background: #666;
	padding: 10px;
	font-size: 14px;
	width: 150px;
}
/*
 * Travel page
 */
#travelpage .title{
	font-size: 30px;
	color: #666;
	padding: 5px 10px 20px;
}
#travelpage .menu ul{
	margin: 0 10px;
	padding: 0;
	list-style: none;
}
#travelpage .menu li{
	display: inline-block;
	padding: 5px 10px;
}
#travelpage .menu li.active{
	background: #666;
	padding: 5px 10px;
}
#travelpage .menu li.active a {
	text-decoration: none;
	color: #fff;
}
#travelpage .menu li a{
	color: #666666;	
}
#travelpage .menu li a:hover{
	text-decoration: none;
}
#travelpage .info{
	padding: 10px 0;
}
/* Add To travel */
#travelpage .add-place-to-travel{
	cursor: pointer;
	text-decoration: underline;
}
#travelpage .add-place-to-travel-block{
	position: absolute;
	background: #666;
	width: 200px;
	text-align: center;
	display: none;
}
#travelpage .add-place-to-travel-block select[name='p_id']{
	width: 190px;
	margin: 5px 0 0;
}
#travelpage .add-place-to-travel-block input[name='add-place-to-travel-button']{
	width: 190px;
	border: 0;
	margin: 5px 0;
	cursor: pointer;
	background: white;
	color: #666;
}
#travelpage .add-place-to-travel-success{
	display: none;
	padding: 0 5px;
	
}
/* Description */
#travelpage .info .description{
	display: block;
	position: relative;	
}
#travelpage .info .description .list{
	position: absolute;
	left: 0;
	width: 600px;	
}
#travelpage .info .description .list .top{	
	background: #666;
	padding: 7px 0 7px 10px;
}
#travelpage .info .description .list .top div{
	display: inline-block;
	color: #fff;
	padding: 0 10px;
}
#travelpage .info .description .list .images-block img{
	width: 150px;
	float: left;
}
#travelpage .info .description .list .value{
	padding: 5px 0;
	font-size: 12px;
	color: #666;
}
#travelpage .info .description .right-block{
	position: absolute;
	right: 0;
	width: 200px;
	font-size: 12px;
	color: #666;
	margin: 20px 0;
}
#travelpage .info .description .right-block .user-create img{
	float: left;
	width: 30px;
	height: 30px;
}
#travelpage .info .description .right-block a{
	color: #fff;	
}
#travelpage .info .description .right-block .like-travel{
	background: #666;
	padding: 10px;
	font-size: 14px;
	width: 150px;
	cursor: pointer;
}
/* Plan */
#travelpage .info .plan{
	position: relative;	
}
#travelpage .info .plan .list{
	position: absolute;
	width: 600px;
}
#travelpage .info .plan ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#travelpage .info .plan li{
	position: relative;
	width: 100%;
	height: 132px;
	margin: 20px 0;
}
#travelpage .info .plan li.day{
	height: 0;
	padding: 5px;
}
#travelpage .info .plan li .not-public{
	position: absolute;
	top: -10px;
	padding: 3px;
	background: #AAA;
	left: 0;
	width: 374px;
	text-align: center;
	border: 5px solid #666;
}
#travelpage .info .plan li .title-block{
	padding: 5px 0;
}
#travelpage .info .plan li .title-block a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
#travelpage .info .plan li .title-block a:hover{
	text-decoration: underline;
}
#travelpage .info .plan li img{
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
}
#travelpage .info .plan li .value{
	position: absolute;
	left: 200px;
	top: 0;
	width: 350px;
	height: 92px;
	background: #666;
	color: #fff;
	padding: 20px;
}
#travelpage .info .plan li .block-footer{
	position: absolute;
	bottom: 20px;
	width: 350px;
}
#travelpage .info .plan li .block-footer .price{
	float: right;
}
#travelpage .info .plan li .choose-day-title{
	position: absolute;
	bottom: 3px;
	width: 105px;
	font-size: 11px;
	border-bottom: 1px dashed #ddd;
	color: #ddd;
	cursor: pointer;
}
#travelpage .info .plan li .choose-day{
	border: 1px solid #fff;
	display: none;
	position: absolute;
	top: 100%;
	font-size: 11px;
	cursor: pointer;
	background: #666;
	padding: 5px 10px;
	width: 85px;
	text-align: center;
	z-index: 200;
}
#travelpage .info .plan li .choose-day a{
	display: block;
	text-decoration: none;
	color: #ddd;
}
#travelpage .info .plan li .choose-day a:hover{
	text-decoration: underline;
}
#travelpage .info .plan .right-block{
	position: absolute;
	right: 0;
	width: 200px;
	font-size: 12px;
	color: #666;
	margin: 50px 0 20px;
}
#travelpage .info .plan .right-block .user-create img{
	float: left;
	width: 30px;
	height: 30px;
}
#travelpage .info .plan .right-block a{
	color: #fff;	
}
#travelpage .info .plan .right-block .like-travel{
	background: #666;
	padding: 10px;
	font-size: 14px;
	width: 150px;
}
/* Hotels */
#travelpage .info .hotels{
	position: relative;	
}
#travelpage .info .hotels .list{
	position: absolute;
	width: 500px;
}
#travelpage .info .hotels ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#travelpage .info .hotels li{
	position: relative;
	width: 100%;
	height: 132px;
	margin: 20px 0;
}
#travelpage .info .hotels li .title-block{
	padding: 5px 0;
}
#travelpage .info .hotels li .title-block a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
#travelpage .info .hotels li .title-block a:hover{
	text-decoration: underline;
}
#travelpage .info .hotels li img{
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
}
#travelpage .info .hotels li .value{
	position: absolute;
	left: 200px;
	top: 0;
	width: 350px;
	height: 92px;
	background: #666;
	color: #fff;
	padding: 20px;
}
#travelpage .info .hotels .right-block{
	position: absolute;
	right: 0;
	width: 200px;
	font-size: 12px;
	color: #666;
	margin: 20px 0;
}
#travelpage .info .hotels .right-block .user-create img{
	float: left;
	width: 30px;
	height: 30px;
}
#travelpage .info .hotels .right-block a{
	color: #fff;	
}
#travelpage .info .hotels .right-block .like-travel{
	background: #666;
	padding: 10px;
	font-size: 14px;
	width: 150px;
}
/* Map */
#travelpage .info .map{
	display: block;
	position: relative;	
}
#travelpage .info .map .list{
	position: absolute;
	left: 0;
	width: 600px;	
}
#travelpage .info .map .list .top{	
	background: #666;
	padding: 7px 0 7px 10px;
}
#travelpage .info .map .list .top div{
	display: inline-block;
	color: #fff;
	padding: 0 10px;
}
#travelpage .info .map .list .images-block img{
	width: 150px;
	float: left;
}
#travelpage .info .map .list .value{
	padding: 5px 0;
	font-size: 12px;
	color: #666;
}
#travelpage .info .map .right-block{
	position: absolute;
	right: 0;
	width: 200px;
	font-size: 12px;
	color: #666;
	margin: 20px 0;
}
#travelpage .info .map .right-block .user-create img{
	float: left;
	width: 30px;
	height: 30px;
}
#travelpage .info .map .right-block a{
	color: #fff;	
}
#travelpage .info .map .right-block .like-travel{
	background: #666;
	padding: 10px;
	font-size: 14px;
	width: 150px;
}

/*
 * Place page
 */
#placepage .title{
	font-size: 30px;
	color: #666;
	padding: 5px 10px 20px;
}
#placepage .menu ul{
	margin: 0 10px;
	padding: 0;
	list-style: none;
}
#placepage .menu li{
	display: inline-block;
	padding: 5px 10px;
}
#placepage .menu li.active{
	background: #666;
	padding: 5px 10px;
}
#placepage .menu li.active a {
	text-decoration: none;
	color: #fff;
}
#placepage .menu li a{
	color: #666666;	
}
#placepage .menu li a:hover{
	text-decoration: none;
}
#placepage .info{
	padding: 10px 0;
}
/* Add To travel */
#placepage .add-to-travel{
	cursor: pointer;
	text-decoration: underline;
}
#placepage .add-to-travel-block{
	position: absolute;
	background: #666;
	width: 200px;
	text-align: center;
	display: none;
}
#placepage .add-to-travel-block select[name='t_id']{
	width: 190px;
	margin: 5px 0 0;
}
#placepage .add-to-travel-block input[name='t_title']{
	width: 190px;
	margin: 5px 0 0;
	text-align: center;	
}
#placepage .add-to-travel-block input[name='add-to-travel-button']{
	width: 190px;
	border: 0;
	margin: 5px 0;
	cursor: pointer;
	background: white;
	color: #666;
}
#placepage .add-to-travel-success{
	display: none;
	padding: 0 5px;
	
}
/* Description */
#placepage .info .description{
	position: relative;
}
#placepage .info .description .list{
	position: absolute;
	left: 0;
}
#placepage .info .description .images-block .image-main{
    display: inline-block;
	float: left;
}
#placepage .info .description .images-block .image-main img{
	width: 500px;
}
#placepage .info .description .images-block .image-no-main{
    display: inline-block;
	float: left;
}
#placepage .info .description .images-block .image-no-main img{
	width: 100px;
	display: block;
}
#placepage .info .description .value{
	padding: 5px 0;
	font-size: 12px;
	color: #666;
}
#placepage .info .description .right-block{
	position: absolute;
	right: 0;
	width: 200px;
	font-size: 12px;
	color: #666;	
}
#placepage .info .description .right-block .user-create img{
	float: left;
	width: 30px;
	height: 30px;
}
#placepage .info .description .right-block a{
	color: #fff;	
}
#placepage .info .description .right-block .like-place{
	background: #666;
	padding: 10px;
	font-size: 14px;
	width: 150px;
	cursor: pointer;
}
/* Map */
#placepage .info .map{
	position: relative;
}
#placepage .info .map .list{
	position: absolute;
	left: 0;
}
#placepage .info .map .images-block .image-main{
    display: inline-block;
	float: left;
}
#placepage .info .map .images-block .image-main img{
	width: 500px;
}
#placepage .info .map .images-block .image-no-main{
    display: inline-block;
	float: left;
}
#placepage .info .map .images-block .image-no-main img{
	width: 100px;
	display: block;
}
#placepage .info .map .value{
	padding: 5px 0;
	font-size: 12px;
	color: #666;
}
#placepage .info .map .right-block{
	position: absolute;
	right: 0;
	width: 200px;
	font-size: 12px;
	color: #666;	
}
#placepage .info .map .right-block .user-create img{
	float: left;
	width: 30px;
	height: 30px;
}
#placepage .info .map .right-block a{
	color: #fff;	
}
#placepage .info .map .right-block .like-place{
	background: #666;
	padding: 10px;
	font-size: 14px;
	width: 150px;
	cursor: pointer;
}
/*
 * Place add
 */
#placeadd .title{
	font-size: 30px;
	color: #666;
	padding: 5px 10px 20px;
}
#placeadd .block .title-block{
	color: #666;
	padding: 0 5px;
}
#placeadd .block .value input{
	font-size: 24px;
	color: #666;
	padding: 5px;
	width: 500px;
}
#placeadd .block .value input[name='price']{
	width: 200px;
}
#placeadd .block .value input[name='image_url'][type='button']{
	font-size: 12px;
	border: 0;
	background: #666;
	color: #fff;
	width: 170px;
	padding: 10px;
	cursor: pointer;
}
#placeadd .block .value input[name='image_url'][type='file']{
	visibility: hidden;
	width: 0;
	height: 0;
}
#placeadd .block input[name='submit']{
	font-size: 18px;
	border: 0;
	background: #666;
	color: #fff;
	width: 200px;
	padding: 10px;
	cursor: pointer;
}
#placeadd .value textarea{
	font-size: 20px;
	color: #666;
	padding: 5px;
	width: 500px;
	height: 100px
}
#placeadd .title-block a{
	color: #666;
	text-decoration: none;
}
#placeadd .title-block a:hover{
	text-decoration: underline;
}

/*
 * Hotel page
 */
#hotelpage .title{
	font-size: 30px;
	color: #666;
	padding: 5px 10px 20px;
}
#hotelpage .menu ul{
	margin: 0 10px;
	padding: 0;
	list-style: none;
}
#hotelpage .menu li{
	display: inline-block;
	padding: 5px 10px;
}
#hotelpage .menu li.active{
	background: #666;
	padding: 5px 10px;
}
#hotelpage .menu li.active a {
	text-decoration: none;
	color: #fff;
}
#hotelpage .menu li a{
	color: #666666;	
}
#hotelpage .menu li a:hover{
	text-decoration: none;
}
#hotelpage .info{
	padding: 10px 0;
}
/* Description */
#hotelpage .info .description .images-block .image-main{
    display: inline-block;
	float: left;
}
#hotelpage .info .description .images-block .image-main img{
	width: 600px;
}
#hotelpage .info .description .images-block .image-no-main{
    display: inline-block;
	float: left;
}
#hotelpage .info .description .images-block .image-no-main img{
	width: 100px;
	display: block;
}
#hotelpage .info .description .value{
	padding: 5px 0;
	font-size: 12px;
	color: #666;
}
/* Price */
#hotelpage .info .price{
	position: relative;
	width: 500px;	
}
#hotelpage .info .price ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#hotelpage .info .price li{
	position: relative;
	width: 100%;
	height: 132px;
	margin: 20px 0;
}
#hotelpage .info .price li.day{
	height: 0;
	padding: 5px;
}
#hotelpage .info .price li .title-block{
	padding: 5px 0;
}
#hotelpage .info .price li .title-block a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
#hotelpage .info .price li .title-block a:hover{
	text-decoration: underline;
}
#hotelpage .info .price li img{
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
}
#hotelpage .info .price li .value{
	position: absolute;
	left: 200px;
	top: 0;
	width: 100%;
	height: 92px;
	background: #666;
	color: #fff;
	padding: 20px;
}
#hotelpage .info .price li .block-footer{
	position: absolute;
	bottom: 20px;
	width: 500px;
}
#hotelpage .info .price li .block-footer .price-block{
	float: right;
}
#hotelpage .info .price li .choose-day-title{
	position: absolute;
	bottom: 3px;
	width: 105px;
	font-size: 11px;
	border-bottom: 1px dashed #ddd;
	color: #ddd;
	cursor: pointer;
}
#hotelpage .info .price li .reserve{
	border: 1px solid #fff;
	display: none;
	position: absolute;
	top: 100%;
	font-size: 11px;
	cursor: pointer;
	background: #666;
	padding: 5px 10px;
	width: 85px;
	text-align: center;
	z-index: 200;
}
#hotelpage .info .price li .reserve a{
	display: block;
	text-decoration: none;
	color: #ddd;
}
#hotelpage .info .price li .reserve a:hover{
	text-decoration: underline;
}

/*
 * User page
 */
#userpage .title{
	font-size: 30px;
	color: #666;
	padding: 5px 10px 20px;
}
#userpage .menu ul{
	margin: 0 10px;
	padding: 0;
	list-style: none;
}
#userpage .menu li{
	display: inline-block;
	padding: 5px 10px;
}
#userpage .menu li.active{
	background: #666;
	padding: 5px 10px;
}
#userpage .menu li.active a {
	text-decoration: none;
	color: #fff;
}
#userpage .menu li a{
	color: #666666;	
}
#userpage .menu li a:hover{
	text-decoration: none;
}
#userpage .info{
	padding: 10px 0;
}
/* Places */
#userpage .info .places { position: relative; }
	#userpage .info .places .list { position: absolute;	left: 0; }
		#userpage .info .places .list ul { list-style: none; margin: 0; padding: 0; }
		#userpage .info .places .list li{ position: relative; width: 100%; height: 132px; margin: 20px 0; }
			#userpage .info .places .list li .title-block {	padding: 5px 0; }
				#userpage .info .places .list li .title-block a { text-decoration: none; color: #fff; font-weight: bold; }
				#userpage .info .places .list li .title-block a:hover { text-decoration: underline; }
				#userpage .info .places .list li img { position: absolute; left: 0;	top: 0; width: 200px; }
				#userpage .info .places .list li .value {
					position: absolute;
					left: 200px;
					top: 0;
					width: 300px;
					height: 92px;
					background: #666;
					color: #fff;
					padding: 20px;
				}
				.delete-btn { 
					float: right; 
					background: url(images/delete-btn.png) no-repeat; 
					width: 16px; 
					height: 16px; 
					cursor: pointer;
				}
#userpage .info .places .right-block{
	position: absolute;
	right: 0;
	width: 250px;
	font-size: 12px;
	color: #666;
	margin: 20px 0;
}
#userpage .info .places .right-block a{
	color: #fff;
	text-decoration: none;
}
#userpage .info .places .right-block .add-place{
	background: #666;
	padding: 10px;
	font-size: 14px;
	width: 150px;
}
#userpage .info .places .right-block .favorites{
	
}
#userpage .info .places .right-block .favorites ul{
	list-style: none;
	margin: 0 10px;
	padding: 0;
}
#userpage .info .places .right-block .favorites li{
	margin: 10px 0;
}
#userpage .info .places .right-block .favorites a{
	font-size: 14px;
	color: #000;
	text-decoration: underline;
	display: block;
}
#userpage .info .places .right-block .favorites img{
	width: 50px;
}
/* Travels */
#userpage .info .travels{
	position: relative;	
}
#userpage .info .travels .list{
	position: absolute;
	left: 0;	
}
#userpage .info .travels .list ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#userpage .info .travels .list li{
	position: relative;
	width: 500px;
	height: 92px;
	margin: 20px 0;
	padding: 15px;
	background: #bbb;
}
#userpage .info .travels .list li .title-block{
	padding: 5px 0;
}
#userpage .info .travels .list li .title-block a{
	text-decoration: none;
	color: #000;
	font-weight: bold;
}
#userpage .info .travels .list li .title-block a:hover{
	text-decoration: underline;
}
#userpage .info .travels .list li .images-block img{
	width: 40px;
	float: left;
}
#userpage .info .travels .list li .long-text{
	font-size: 12px;
	color: #666;
}
#userpage .info .travels .right-block{
	position: absolute;
	right: 0;
	width: 250px;
	font-size: 12px;
	color: #666;
	margin: 20px 0;
}
#userpage .info .travels .right-block a{
	color: #fff;
	text-decoration: none;
}
#userpage .info .travels .right-block .add-travel{
	background: #666;
	padding: 10px;
	font-size: 14px;
	width: 170px;
}
#userpage .info .travels .right-block .add-travel{
	background: #666;
	padding: 10px;
	font-size: 14px;
	width: 170px;
}
#userpage .info .travels .right-block .favorites{
	
}
#userpage .info .travels .right-block .favorites ul{
	list-style: none;
	margin: 0 10px;
	padding: 0;
}
#userpage .info .travels .right-block .favorites li{
	margin: 10px 0;
}
#userpage .info .travels .right-block .favorites a{
	font-size: 14px;
	color: #000;
	text-decoration: underline;
	display: block;
}
#userpage .info .travels .right-block .favorites img{
	width: 50px;
}
/*
 * Autorization
 */
.header .auth a{
	text-decoration: none;
}
.header .auth a img{
	width: 30px;
	cursor: pointer;
} 
.header .auth .checkin{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: url(images/window.png) repeat;
	top: 0;
	left: 0;
	z-index: 1000;
}


/*******place editing*****/
#place-descr-edit-btn, #place-title-edit-btn, #travel-title-edit-btn {
	width: 16px;
	height: 16px;
	background: url(images/edit-btn.png) no-repeat;
	cursor: pointer;
	float: left;
}
#place-descr-save-btn, #place-title-save-btn, #travel-title-save-btn {
	width: 16px;
	height: 16px;
	background: url(images/save-btn.png) no-repeat;
	cursor: pointer;	
	float: left;
}

/* comments */
.comments {
	margin-top: 500px;
}



/**********************************************/
/********************OTHER*********************/
/**********************************************/
#all-shadow {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #000;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=55);
	-moz-opacity: 0.55;
	-khtml-opacity: 0.55;
	opacity: 0.55;
}
* html #all-shadow {
	position: absolute;
	height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + "px");
}
