.place-fav,
.place-unFav,
.travel-fav,
.travel-unFav{
	cursor: pointer;
}
.add-to-travel{
	cursor: pointer;
}
.add-to-travel-block{
	position: absolute;
	width: 222px;
	background: #CCC;
	border: 5px white solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
}
.add-to-travel-block select{
	width: 222px;
}
.add-to-travel-block input{
	width: 206px;
}
.add-to-travel-block input[name='add-to-travel-button']{
	background-color: #266A88;
	background-color: #3481A3;
	background-image: -moz-linear-gradient(top, #266A88, #48A4CC);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#266A88), to(#48A4CC));
	background-image: -webkit-linear-gradient(top, #266A88, #48A4CC);
	background-image: -o-linear-gradient(top, #266A88, #48A4CC);
	background-image: linear-gradient(to bottom, #266A88, #48A4CC);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff266a88', endColorstr='#ff48a4cc', GradientType=0);
	-webkit-box-shadow: 0px -1px 0px black;
	-moz-box-shadow: 0px -1px 0px #000000;
	box-shadow: 0px -1px 0px black;
	text-decoration: none;
	color: white;
	border: none;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 222px;
}
.booking{
	float: right;
	margin: 0 20px;
}
button.btn.btn-large, input[type="submit"].btn.btn-large{
	/*width: 190px;*/
}
a.vk,
a.fb{
	color: #000;
    font-size: 1.2em;
}

#dropzone {
	padding: 20px;
	text-align: center;
	font-size: 17px; 
	border-radius: 10px;		
	border: 3px dashed rgba(0, 0, 0, 0.47);
}
#dropzone.in {
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
#dropzone.hover {
	background-color: rgba(69, 161, 200, 0.5);
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a  {
	background: #48A4CC;
	color: #ffffff;
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
	
	background: #48A4CC;
	color: #ffffff;
}
.comments fbcomments,
.comments .fb_iframe_widget,
.comments .fb_iframe_widget[style],
.comments .fb_iframe_widget iframe[style],
.comments .fbcomments iframe[style],
.comments .fb_iframe_widget span {	
    width: 100% !important;
	background-color: white;
}

.comments{
	/*background: #F7F7F7;*/
}
#vk_comments, .fb-comments {
	margin: 20px 0; 
}
#vk_comments iframe{
	width: 100%;
}
#vk_like{
	margin-bottom: 20px; 
}
.likes.small{
	width: 240px !important;
}
.alert a{
	text-decoration: underline;
}


#all-shadow {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #000;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=55);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
}
* html #all-shadow {
	position: absolute;
	height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + "px");
}
.change-day a{
	cursor: pointer;
}
.change-day ul.dropdown-menu li a:hover{
	background: #266A88 !important;
	color: #fff !important;
}
.about-links{
	padding: 20px 0 0;
}
#booking_room{
	width: 242px;
	margin: 0;
}
#frm label{
	display: inline-block;
	width: 124px;
}
#date_arrival,
#date_departure {
	width: 100px;
}
.white-color { color: white; }

.the_place.mini:not(.trip) img { width: 266px; }
.the_place.big img { width: 566px; }
.the_place.big img.gallery { width: 766px; }

.list-places .btn-edit { margin-right: 0 !important }
.btn-edit { margin-top: -22px !important }

.list-places p { margin-top: 10px; }
.well p { margin-top: 10px; }

textarea { height: 40px; }

.place_stat i { 
	color: rgba(255, 255, 254, 0.8);
    font-size: 17px;
    opacity: 1; 
}

/*******sserg*******/

.well {
	overflow: auto;
}

.descr-block img { 
	width: 766px; 
	color: #555555;
	
	overflow: auto;
	background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;    
    margin-bottom: 20px;
    min-height: 20px;
    padding: 5px;
}
.descr-block p { font-size: 14px; }

.lead img { width: 107px; }

.city-to-coords-arrow {
	float: right; 
	margin-top: -50px; 
	background-image: url(/images/acity_to_coords_arrow.png); 
	background-repeat: no-repeat; 
	width:32px; 
	height: 32px;
	cursor: pointer;
}

.span3 p { font-size: 14px !important; }
.footer_text p { margin-top: 10px; line-height: 1.3; }

footer#footer { 
	height: 288px !important;
}

body { font-size: 14px !important; }
.list-places p { font-size: 14px !important; }

.place-menu { font-size: 14px !important; }

.btn-small, .btn-group > .btn-small { font-size: 12px !important; }

.breadcrumb { font-size: 12px !important; }

.nav-tabs > li, .nav-pills > li { margin-right: 10px !important; }

/*.absolut_gallery img { height: 100% !important; } перенс в w2dstylecss */

.sinein a { color: #2A7190; }
.sinein a:hover { color: #2FA8DC; }

#email_error_txt, #pass_error_txt { margin-top: 3px; }

#remember_pass { color: #2A7190; font-size: 11px; }
#remember_pass:hover { color: #2FA8DC; }

#auth_error_txt { color: #FE908F; }

textarea[name="long_text"] { height: 130px; }

#places_around a { font-size: 19px; }
.place-map.around { height:700px; }
.place-map.index { height:400px; }

.balloon a { color:blue; }
.balloon img { margin-top: 6px; }
.balloon span { padding: 6px 0; color: #000; display: block; }

/*gallery*/
img.gallery, div.carousel-inner div.item img { cursor: pointer; }
.absolut_gallery, .carousel, .carousel-inner, .carousel .active, .carousel .item { height: 100%; }
.absolut_gallery img { height: 100%; }


/*sortable*/
#sortable div { float: left;}
#sortable li {width: 100%; overflow:hidden;padding:10px 0;cursor:move; }
#sortable { margin: 20px 0 0 0; }
#sortable div.preview{padding:5px 0;}
#sortable div.delete{padding:10px 0;float:right;}

/**.img-container img { width: 100%; }*/

html body div#sf-wrapper div.container div.page div.row div#myCarousel.carousel a.carousel-control.left.main { left: 45px !important; }

#places_around a { color: #fbe559; }
.contacts a, .contacts i.icon-envelope-alt { font-size: 12px !important; }
.header-divider { height: 25px !important; }
.page.main p.under_h1 { margin-bottom: 25px !important; }
