/* 
    Document   : skitstyle
    Created on : 15.06.2011, 16:03:37
    Author     : ssergienko
    Description:
    Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html, body {
    margin: 0;
	padding: 0;
	font-family: Tahoma, Sans-Serif;
}

#page { margin: 0 0 -40; height: 100%; }

header {  }
	.top-line { height: 40px; width: 100%; background: url(images/top-line.png); }
	
		#vk-login-button { color: white; padding: 3px 0 0 1px; }
	
		.home-button { float: left; padding: 10px; }
		.home-button a { color: #fff; }
		.logout-button { padding: 10px; float: right; }
		.logout-button a { color: #fff; }
		.top-line li { 
			list-style: none;		
			margin: 1.2em 2.2em;
			float: left;
		}
		.top-line li a { color: white; text-decoration:underline; font-size:1em }

/* toolbar */
.toolbar {  }
	.logo { float: left; }
	/* buttons */
	.toolbar .buttons { margin-top: 38px; float: left; }
		.toolbar .travels { padding: 5px 15px; background-color: #666666; float: left; }
		.toolbar .places { padding: 5px 15px; background-color: #666666; margin-left: 10px; float: left; }
		.toolbar .buttons a { color: white; text-decoration: none; }
		
	/* auth */	
	.auth { margin-top: 38px; margin-right: 38px; float: right; }
	
/* my places */
.mytravels { padding: 5px 15px; background-color: #666666; float: left; }
		
/* GALLERY */
.name-and-gallery { padding: 1.2em 2.3em 0; }
	
	.site-intro { font-size: 2em; font-weight: bold; padding: 0.4em; clear: both; float: left; width: 500px; }
		.site-name {  }
		.citation { margin-top: 10px; line-height: 1.6em; }
		.signature { margin-top: 20px; float: right; }
		
	.main-gallery { position: relative; margin-left: 580px; padding: 1.4em; min-width: 530px; }
	.main-gallery .small-text { padding: 5px 2px; }	
		
	.main-gallery .image {
		position: relative;
		width: 200px;
		height: 150px;
		background-color: #F4F7F9;
		padding: 3px;
		float: right;
	}
	.main-gallery .mouseover-image { margin-top: 5px; z-index: 1010; }
		.main-gallery .image img { width: 200px; height: 150px; }		
		
	.left { margin-left: -80px; }
		
	#image-4 {		
		-webkit-transform: rotate(4deg);
		-moz-transform: rotate(4deg);		
	}
	#image-3 { 
		margin-top: 15px; 
		-webkit-transform: rotate(-2deg);
		-moz-transform: rotate(-2deg);
	}	
	#image-2 { 
		margin-top: 5px;
		-webkit-transform: rotate(3deg);
		-moz-transform: rotate(3deg);
	}
	
	.about-image { margin-top: 200px; }

	.image-about-conteiner { 
		height: 74px;
		box-shadow: 0 0 5px black; /* Параметры тени */
		box-shadow: 0 0 15px rgba(0,0,0.1,0.5); /* Параметры тени */
		-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
		margin: 0 0 20px 3px;
		margin-left: -15px;
		width: 578px;
	}
		.image-about-block {
			padding: 6px;
		}
		.image-about-block div {
			
			height: 40px;
			border: solid 1px #D8D9DE;
			padding: 10px;

			font-size: 0.8em;
		}


		/*helpers*/
		.round-couners {
			border-radius: 20px 20px;
			-moz-border-radius: 20px 20px;
			-webkit-border-radius: 20px 20px;
		}
		.round-couners-small {
			border-radius: 15px 15px;
			-moz-border-radius: 15px 15px;
			-webkit-border-radius: 15px 15px;
		}		
		.small-text { font-size: 0.4em; }
		.italic { font-style: italic; }
		.wrapper { clear: both; width: 100%; }



/* тень при наведении увеличивается */
.shadow {
	box-shadow: 0 0 5px black; /* Параметры тени */
	box-shadow: 0 0 15px rgba(0,0,0.1,0.5); /* Параметры тени */
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
	/*padding: 10px;*/
}
.shadow-over {
	box-shadow: 0 0 5px black; /* Параметры тени */
	box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
	-moz-box-shadow: 0 0 15px rgba(0,0,0.1,0.5); /* Для Firefox */
	-webkit-box-shadow: 0 0 15px rgba(0,0,0.1,0.5); /* Для Safari и Chrome */
/*	padding: 10px;*/
}


/* main content */
.main-content { padding: 0 3em; }
	.cat-links { float: left; margin-right: 20px; }



.travel-top {
	padding-bottom: 3em;
}		
	.middle-line { height:200px; padding-left: 20px;}
		.left-image img { height:200px; width: 700px; float: left; }
		.center {  }
		.right-image { float: right; }

	.container { padding: 1.4em; }

/* список путешествий на главной странице */
.travel-block { width: 100%; padding: 10px; border: 1px solid gray; margin-bottom: 10px; }
	img.icon { width: 80px; height: 80px; float: left; }
	.travel-block .title { overflow: hidden; padding: 0 10px 5px 10px; font-weight: bold; }
	.travel-block .date { overflow: hidden; padding: 0 5px 10px 10px; font-size: 0.8em; }
	.travel-block .description { overflow: hidden; padding: 0 10px 10px 10px; }
	.travel-block .more-info-link { overflow: hidden; padding: 10px 0 0 0; font-size: 0.8em; }
        .fast-link { float: left; margin-left: 10px; margin-right: 50px; margin-bottom: 0px; }
        
        /* список мест */
.place-block { width: 100%; padding: 10px; border: 1px solid gray; margin-bottom: 10px; }
	img.icon { width: 80px; height: 80px; float: left; }
	.place-block .title { overflow: hidden; padding: 0 10px 5px 10px; font-weight: bold; }
	.place-block .date { overflow: hidden; padding: 0 5px 10px 10px; font-size: 0.8em; }
	.place-block .description { overflow: hidden; padding: 0 10px 10px 10px; }
	.place-block .more-info-link { overflow: hidden; padding: 10px 0 0 0; font-size: 0.8em; }
	
	
	

.wrapper { height: 1px; }
footer { height: 40px; background: url(images/top-line.png);  }	

/* фильтр */
.filter { border: 1px solid gray; padding: 25px; width: 100%; margin-bottom: 20px; text-align: center; }
.filter p { font-size:1.5em; float: left; }
.filter select { font-size: 2em; text-align: center; }