<div id="main_page">
    <center>
    <div id="user_page">        
        <br />
        <center>
        <form enctype="multipart/form-data" action="<?php echo $this->url(array('controller'=>'users', 'action'=>'avatar'));?>" method="POST">
            <input type="hidden" name="MAX_FILE_SIZE" value="100000" />
            Выберите файл для загрузки: <input name="uploadedfile" type="file" />
            <input type="submit" value="Загрузить" />
        </form>
        </center>
    </div>
    </center>
</div>
<br /><br />