<div id="main_page">
    <center>
    <div id="user_page">        
        <br /><br />
        <form name="profiler" action="<?php echo $this->url(array('controller'=>'users', 'action'=>'edit'));?>" method="POST">
            <input type="hidden" name="uid" value="<? echo $this->uid ?>" />
            <input type="hidden" name="upass" value="<? echo $this->upass ?>" />
            <input type="hidden" name="ureg_date" value="<? echo $this->ureg_date ?>" />
            <table class="edit_user">
            <tr>
                <td>
                    Ваше имя:
                </td>
                <td>
                    <input type="text" name="ulogin" style="width: 200px;" value="<? echo $this->auth_user ?>" />
                </td>
            </tr>
            <tr>
                <td>
                    Место обитания:
                </td>
                <td>
                    <input type="text" name="usity" style="width: 200px;" value="<? echo $this->usity ?>" />
                </td>
            </tr>
            <tr>
                <td>
                    E-mail:
                </td>
                <td>
                    <input type="text" name="uemail" style="width: 200px;" value="<? echo $this->uemail ?>" />
                </td>
            </tr>
            <tr>
                <td>
                    Повадки:
                </td>
                <td>
                    <textarea cols="40" rows="5" name="uhobby"><? echo $this->uhobby ?></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <br />
                    <input type="submit" name="edit_but" value="сохранить" />
                </td>
            </tr>
        </table>
        </form>
        <br /><br />
    </div>
    </center>
</div>