<center>
<div id="new_mess">
    <form enctype="multipart/form-data" action="<?php echo $this->url(array('controller'=>'messages', 'action'=>'post'));?>" method="POST">
        <input type="hidden" name="user" value="<?php echo $this->uid ?>">
        <div class="form_field_mess">
            <label for="mess_text">Текст сообщения:</label><br />
            <textarea class="mess_textarea" cols="30" rows="5" id="mess_text" name="mess_text"></textarea>
        </div>
        <div class="form_field_mess">
            <label for="mess_text">Режим видимости: </label>
            <select id="visiable" name="visiable" class="visiable">
                <option value="true">Видно всем</option>
                <option value="false">Личное</option>
            </select> &nbsp; ?
        </div>
        <div class="mess_btn">
            <br />
            <label class="ajax_mess_but">
                <input type="submit" id="post_but" value="Опубликовать" />
            </label>
        </div>
    </form>
    <br /><br />
</div>