<div id="main_page">
    <center>
    <div id="user_page">

        <?php if (empty($this->error)) {?>
            <div id="friend_list">                
                <?php
                foreach($this->friend_list as $val) { ?>
                <div class="friend_box">                    
                    <div class="friend">
                        <p>
                            <b>
                                <a href="<?php echo $this->url(array('controller'=>'users', 'action'=>'view'));?>?user=<?php echo $val['fid'] ?>" >
                                    <?php echo $this->uids_names_list[$val['fid']] ?>
                                </a>
                            </b>
                        </p>
                    </div>
                    <div class="ajax_thumbs">
                        <img src="<?php echo $this->thumbs[$val['fid']] ?>" />
                    </div>
                </div>
                <?php } ?>
            </div>
            <br />
        <?php } else {?>
        <div id="errors" style="margin-left: 15px;">
            <br /><br />
            <?php echo $this->error ?>
        </div>
        <?php } ?>

    </div>
    </center>
</div>