<ul class="nav nav-pills">
	<li<?if($this->active == 'description'){echo " class='active'";}?>>
		<a href="/user/<?=$this->user_view['id']?>">Кабинет</a>
	</li>
	<li<?if($this->active == 'place'){echo " class='active'";}?>>
		<a href="/user/<?=$this->user_view['id']?>/places">
			<?if($this->user['id'] == $this->user_view['id']) :?>
				Мои места
			<?else :?>
				Места пользователя <?=$this->user_view['uname']?>
			<?endif;?>
		</a>
	</li>
    <li<?if($this->active == 'cities'){echo " class='active'";}?>>
        <a href="/user/<?=$this->user_view['id']?>/cities">
            <?if($this->user['id'] == $this->user_view['id']) :?>
                Мои города
            <?else :?>
                Города пользователя <?=$this->user_view['uname']?>
            <?endif;?>
        </a>
    </li>
    <? if ($this->showTravels()) : ?>
        <li<?if($this->active == 'travel'){echo " class='active'";}?>>
            <a href="/user/<?=$this->user_view['id']?>/travels">
                <?if($this->user['id'] == $this->user_view['id']) :?>
                    Мои поездки
                <?else :?>
                    Поездки пользователя <?=$this->user_view['uname']?>
                <?endif;?>
            </a>
        </li>
    <?endif;?>
	<?if($this->user['id'] == $this->user_view['id']) :?>
		<li<?if($this->active == 'option'){echo " class='active'";}?>><a href="/user/<?=$this->user['id']?>/options">Мои настройки</a></li>	
	<?endif;?>
</ul>