<ul class="nav nav-pills">
	<li<?if($this->active == 'description'){echo " class='active'";}?>><a href="/city/<?=$this->city_id?>">Описание</a></li>
	<li<?if($this->active == 'place'){echo " class='active'";}?>><a href="/city/<?=$this->city_id?>/places">Что посмотреть</a></li>
    <? if ($this->showTravels()) : ?>
	<li<?if($this->active == 'travel'){echo " class='active'";}?>><a href="/city/<?=$this->city_id?>/travels">Поездки</a></li>
    <? endif; ?>
	<? if ($this->showHotels()) : ?>
		<li<?if($this->active == 'hotel'){echo " class='active'";}?>><a href="/city/<?=$this->city_id?>/hotels">Где остановиться</a></li>
	<? endif; ?>
	<li<?if($this->active == 'map'){echo " class='active'";}?>><a href="/city/<?=$this->city_id?>/map">Карта</a></li>
</ul>

<?if($this->my_city):?>
    <?if($this->user_id):?>
        <span class="about-links">
            <a href="/city/<?=$this->city_id?>/edit?user=<?=$this->user['id']?>">
                Вы можете редактировать этот город
            </a>
        </span>
        <br />
    <?endif;?>
<?endif;?>