<ul class="nav nav-pills">
	<li<?if($this->active == 'city'){echo " class='active'";}?>><a href="/citys">Города</a></li>
	<li<?if($this->active == 'place'){echo " class='active'";}?>><a href="/places">Что посмотреть</a></li>
    <? if ($this->showTravels()) : ?>
	    <li<?if($this->active == 'travel'){echo " class='active'";}?>><a href="/travels">Поездки</a></li>
    <? endif; ?>
	<? if ($this->showHotels()) : ?>
		<li<?if($this->active == 'hotel'){echo " class='active'";}?>><a href="/hotels">Где остановиться</a></li>
	<? endif; ?>
</ul>