<ul class="nav nav-pills">
	<li<?if($this->active == 'description'){echo " class='active'";}?>><a href="/place/<?=$this->place_id?><?=$this->getPath(1)?>">Описание</a></li>
	<li<?if($this->active == 'map'){echo " class='active'";}?>><a href="/place/<?=$this->place_id?>/map<?=$this->getPath(1)?>">Как найти</a></li>
</ul>