<ul class="nav nav-pills">
	<?if(!empty($this->count)):?>
		<li><span></span></li>
	<?else:?>
		<li><span>но мы ничего не нашли :(</span></li>
	<?endif;?>
	<?if(!empty($this->count['city'])):?>
		<li<?if($this->active == 'city'){echo " class='active'";}?>>
			<a href="<?=$this->path?>">Города <small>(<?=$this->count['city']?>)</small></a>
		</li>
	<?endif;?>
	<?if(!empty($this->count['place'])):?>
		<li<?if($this->active == 'place'){echo " class='active'";}?>>
			<a href="<?=$this->path?>&type=place">Места <small>(<?=$this->count['place']?>)</small></a>
		</li>
	<?endif;?>
    <? if ($this->showTravels()) : ?>
        <?if(!empty($this->count['travel'])):?>
            <li<?if($this->active == 'travel'){echo " class='active'";}?>>
                <a href="<?=$this->path?>&type=travel">Поездки <small>(<?=$this->count['travel']?>)</small></a>
            </li>
        <?endif;?>
    <?endif;?>
	<? if ($this->showHotels()) : ?>
		<?if(!empty($this->count['hotel'])):?>
			<li<?if($this->active == 'hotel'){echo " class='active'";}?>>
				<a href="<?=$this->path?>&type=hotel">Гостиницы <small>(<?=$this->count['hotel']?>)</small></a>
			</li>
		<?endif;?>
	<?endif;?>
</ul>