<ul class="nav nav-pills">
	<li<?if($this->active == 'description'){echo " class='active'";}?>><a href="/hotel/<?=$this->hotel_id?><?=$this->getPath(1)?>">Описание</a></li>
	<li<?if($this->active == 'price'){echo " class='active'";}?>><a href="/hotel/<?=$this->hotel_id?>/price<?=$this->getPath(1)?>">Номера и цены</a></li>
	<li<?if($this->active == 'map'){echo " class='active'";}?>><a href="/hotel/<?=$this->hotel_id?>/map<?=$this->getPath(1)?>">Как добраться</a></li>
</ul>