<ul class="nav nav-pills">
	<li<?if($this->active == 'description'){echo " class='active'";}?>><a href="/travel/<?=$this->travel_id?><?=$this->getPath(1)?>">Рассказ о поездке</a></li>
	<li<?if($this->active == 'plan'){echo " class='active'";}?>><a href="/travel/<?=$this->travel_id?>/plan<?=$this->getPath(1)?>">План поездки</a></li>
	<? if ($this->showHotels()) : ?>
		<li<?if($this->active == 'hotel'){echo " class='active'";}?>><a href="/travel/<?=$this->travel_id?>/hotels<?=$this->getPath(1)?>">Где остановиться</a></li>
	<? endif; ?>
	<li<?if($this->active == 'map'){echo " class='active'";}?>><a href="/travel/<?=$this->travel_id?>/map<?=$this->getPath(1)?>">Карта</a></li>
</ul>