<ul class="nav nav-pills">
	<li <?if(empty($this->active) || $this->active == 'name'){echo " class='active'";}?>>
		<a href="/travel/<?=$this->travel_id?>/edit">Название и описание</a>
	</li>
	<li<?if($this->active == 'story'){echo " class='active'";}?>>
		<a href="/travels/editstory/?travel_id=<?=$this->travel_id?>">Рассказ о поездке</a>
	</li>
	<li<?if($this->active == 'plan'){echo " class='active'";}?>>
		<a href="/travels/editplan/?travel_id=<?=$this->travel_id?>">План поездки</a>
	</li>
</ul>