<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html   xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraph.org/schema/">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		
		<meta property="og:title" content="Куда поехать на выходные на своем автомобиле? Что посмотреть за 1, 2 или 3 дня праздников?" />
		<meta property="og:image" content="http://storage.way2day.ru/files/2012-01/2012-01-18/4f1693095e788.png"/>
		<meta property="og:description" content="Наш проект - это коллекция увлекательных путешествий России. Сайт на котором собраны все уголки нашей страны, которые вы сами любите и добавляете к нам. Цель проекта - показать людям, как можно интересно и с пользой, при этом не ограничивая себя в комфорте, путешествовать по нашей стране."/>
		<meta property="og:type" content="activity" />
		<meta property="og:url" content="http://way2day.ru/" />	
		<meta property="og:site_name" content="Куда поехать на выходные?" />
		<meta property="fb:admins" content="100003395497695" />
	</head>
	<body>
		<fb:like layout="button_count" show_faces="false" width="240" height="40"
				action="like" colorscheme="light"></fb:like>
		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
	
			/*window.fbAsyncInit = function() {
				FB.init({appId: 100003395497695, status: true, cookie: true,
				xfbml: true});
			};
			(function() {
				var e = document.createElement('script'); e.async = true;
				e.src = document.location.protocol +
				'//connect.facebook.net/ru_RU/all.js';
				document.getElementById('fb-root').appendChild(e);
			}());*/
		</script>
	</body>
</html>