<script>$(document).ready(function(){Face.user.cities.init();})</script>

<div class="container main">
	<div class="page">
		<div class="row">
			<div class="span12">
				<?=$this->breadCrumbs(); ?>
				<h1>Города пользователя <?=$this->user_view['uname']?></h1>

				<?php echo $this->partial('partials/alert.phtml'); ?>
				<?php echo $this->partial('partials/menu/menu_user.phtml', array('user' => $this->user, 'user_view' => $this->user_view, 'active'=>'cities')); ?>

			</div>
		</div>
		<div class="row">
			<div class="span8">
				<div class="list-places">
					<?if(!empty($this->cities)):?>
						<?foreach($this->cities as $city):?>
							<div class="item place <?if($city['public'] == 2) {echo "blocked";}?>">

								<?if(!empty($this->my_page)):?>
									<div class="btn-group pull-right btn-edit">
										<button class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown">
											<i class="icon-cog"></i>
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="/city/<?=$city['id']?>/edit?user=<?=$this->user_id?>"><i class="icon-edit"></i> Редактировать</a></li>
											<li><a href="#myModal<?=$city['id']?>" data-toggle="modal"><i class="icon-trash"></i> Удалить</a></li>
										</ul>
									</div>
								<?endif;?>

								<div class="span2">
									<div class="img-container">
										<? if ($city['image_url'] != 'no-image.png'/* && $this->checkUrl($place['image_url'])*/) : ?>
											<a href="/city/<?=$city['id']?>"><img src="<?=$city['image_url']?>" alt="" width="269px" height="202px" /></a>
										<? else: ?>
											<a href="/city/<?=$city['id']?>"><img src="/images/no-image-hotel.png" alt="" /></a>
										<? endif; ?>
									</div>
								</div>

								<div class="span5">
									<h3>
										<a href="/city/<?=$city['id']?>?user=<?=$this->user_id?>"><?=$city['title']?></a>
										<?if($city['public'] == 2) :?>
											<span class="label label-important">Заблокировано</span>
										<?endif;?>										
									</h3>
									<p><?=!empty($city['long_text'])? $this->cutLongText($city['long_text']):'У вас пока нет городов'?></p>
									<div class="place_stat unstyled"></div>
								</div>
							</div>
						<?endforeach;?>
					<?else:?>
						<div>Здесь пока нет городов</div>
					<?endif;?>
				</div>

			</div>
			<div class="span3 offset1">
				<div class="add_block">
					<p>Знаете интересный город?</p>
					<? if (!empty($this->user_id)): ?>
						<a href="/city/add">
							<button type="submit" class="btn btn-warning btn-large"><i class="icon-plus-sign"></i> Добавьте город</button>
						</a>
					<? else: ?>
						<a href="#myModal" data-toggle="modal">
							<button type="submit" class="btn btn-warning btn-large"><i class="icon-plus-sign"></i> Добавьте город</button>
						</a>
					<? endif; ?>

				</div>

			</div>
		</div>		
	</div>
</div>



<?foreach($this->cities as $city):?>
	<div class="modal hide fade" id="myModal<?=$city['id']?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 class="align-center" id="myModalLabel">Подтверждение удаления</h3>
		</div>
		<div class="modal-body align-center">
			<div class="guest_menu">							
				<p class="lead">Вы уверены, что хотите удалить «<?=$city['title']?>»?</p>
				<a href="/city/delete?id=<?=$city['id']?>&user=<?=$this->user_id?>" class="btn btn-large btn-warning">ДА</a>
				<a href="" class="btn btn-large btn-warning">НЕТ</a>						
				<br/><br/><br/>
			</div>
		</div>
	</div>
<? endforeach; ?>