<link rel="stylesheet" href="/js/fileupload/css/jquery.fileupload-ui.css" />
<link rel="stylesheet" href="http://blueimp.github.com/Bootstrap-Image-Gallery/css/bootstrap-image-gallery.min.css" />

<script type="text/javascript">
	$(document).ready(function() { 		
		Face.user.start(<?=$this->user_id?>);		
	});
</script>

<div class="container main">
	<div class="page">
		<?if(!empty($this->user_view)) :?>

			<div class="row">
				<div class="span12">
					<?=$this->breadCrumbs(); ?>
					<h1><?=$this->user['uname']?></h1>

					<?php echo $this->partial('partials/alert.phtml'); ?>
					<?php echo $this->partial('partials/menu/menu_user.phtml', array('user' => $this->user, 'user_view' => $this->user_view, 'active'=>'description')); ?>
				</div>
			</div>

			<div class="row">
				<?if(!empty($this->my_page)) :?>
					<div class="span12">
						
						<form id="fileupload" action="<?=$this->getStorageUrl();?>" method="POST" enctype="multipart/form-data">
							
							<div class="row fileupload-buttonbar">
								<div class="span7">
									<span class="btn fileinput-button">
										<i class="icon-picture icon-white"></i>
										<span>Сменить</span>
										<input type="file" name="files" />
									</span>
								</div>
							</div>
							
							<div class="control-group">
								<div class="controls">									
									<img id="avatarka" class="avatar" src="<?= !empty($this->user_view['user_image']) ? $this->user_view['user_image'] : '/images/default_avatar.png' ?>" alt="Куда поехать на выходные?" width="98px" height="98px" />									
								</div>
							</div>
							
						</form>
						
						<form id="change_user_form" class="form-horizontal" action="" method="post">

							<div class="control-group <?if(!empty($this->error['uname'])) {echo 'error';} elseif(!empty($this->success['uname'])) {echo "success";}?>">
								<label class="control-label" for="uname">Ваше имя</label>
								<div class="controls">										
									<input type="text" name="uname" class="span5" value="<?=$this->user['uname']?>">
									<? if(!empty($this->error['uname'])):?>
										<span class="help-inline"><?=$this->error['uname']?></span>
									<? elseif(!empty($this->success['uname'])):?>
										<span class="help-inline"><?=$this->success['uname']?></span>
									<? endif;?>								
								</div>
							</div>

							<div class="control-group <?if(!empty($this->error['uemail'])) {echo 'error';} elseif(!empty($this->success['uemail'])) {echo "success";}?>">
								<label class="control-label" for="uemail">Электронная почта</label>
								<div class="controls">										
									<input type="text" name="uemail" class="span5" value="<?=$this->user['uemail']?>">
									<? if(!empty($this->error['uemail'])):?>
										<span class="help-inline"><?=$this->error['uemail']?></span>
									<? elseif(!empty($this->success['uemail'])):?>
										<span class="help-inline"><?=$this->success['uemail']?></span>
									<? endif;?>									
								</div>
							</div>

							<div class="control-group <?if(!empty($this->error['about'])) {echo 'error';} elseif(!empty($this->success['about'])) {echo "success";}?>">
								<label class="control-label" for="about">Расскажите о себе</label>
								<div class="controls">
									<textarea name="about" class="span5"><?=$this->user['about']?></textarea>
									<? if(!empty($this->error['about'])):?>
										<span class="help-inline"><?=$this->error['about']?></span>
									<? elseif(!empty($this->success['about'])):?>
										<span class="help-inline"><?=$this->success['about']?></span>
									<? endif;?>									
								</div>
							</div>

							<div class="control-group">
								<div class="controls">
									<button type="submit" class="btn btn-large btn-warning" id="change_user_btn" name="submit" value="1">Сохранить изменения</button>
								</div>
							</div>
							
						</form>
					<div class="span3 offset1"></div>
				<?else :?>
					<div class="span2">
						<br />
						<img class="avatar" src="<?=$this->getAvatar($this->user_id)?>" alt="" />
					</div>

					<div class="span10">
						<h3>О себе</h3>
						<blockquote class="font-middle">
							<p><?=$this->user_view['about']?></p>
						</blockquote>

					<!--	<form class="form" action="">
							<h4>Написать сообщение пользователю</h4>
							<textarea class="span5"></textarea>
							<br />
							<button type="submit" class="btn btn-large btn-warning">Отправить</button>
						</form>-->
					</div>					
				<?endif;?>				
			</div>
			<?else :?>
				Нет такого пользователя
			<?endif;?>
		</div>
	</div>

    <!-- Список загруженных файлов в отдельном шаблоне -->
    <?php echo $this->partial('partials/upload-files-list.phtml'); ?>

</div>