<div class="container main">
	<div class="page">
		<div class="row">
			<div class="span12">
				<?=$this->breadCrumbs(); ?>
				<h1>Пользователь <?=$this->user['uname']?></h1>
				
				<?php echo $this->partial('partials/alert.phtml'); ?>
				<?php echo $this->partial('partials/menu/menu_user.phtml', array('user' => $this->user, 'user_view' => $this->user_view, 'active'=>'option')); ?>
				
				<form id="change_options_form" class="form-horizontal" action="" method="post">					
					
					<div class="control-group <?if(!empty($this->error['news_email'])) {echo 'error';} elseif(!empty($this->success['news_email'])) {echo "success";}?>">
						<label class="control-label" for="news_email" >Подписка на новости</label>
						<div class="controls">
							<input class="span0" type="checkbox" name="news_email" <?if(!empty($this->options['news_email']) || empty($this->options)) {echo "checked";}?>>
							<? if(!empty($this->error['news_email'])):?>
								<span class="help-inline"><?=$this->error['news_email']?></span>
							<? elseif(!empty($this->success['news_email'])):?>
								<span class="help-inline"><?=$this->success['news_email']?></span>
							<? endif;?>
							<span class="help-block">Уберите если не хотите получать самые свежие новости компании?</span>
						</div>
					</div>

					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-large btn-warning" id="change_options_btn" name="submit" value="1">Сохранить изменения</button>
						</div>
					</div>								
				</form>
			</div>
		</div>
	</div>
</div>
