<script>$(document).ready(function(){Face.user.places.init();})</script>

<div class="container main">
	<div class="page">
		<div class="row">
			<div class="span12">
				<?=$this->breadCrumbs(); ?>
				<h1>Места пользователя <?=$this->user_view['uname']?></h1>

				<?php echo $this->partial('partials/alert.phtml'); ?>
				<?php echo $this->partial('partials/menu/menu_user.phtml', array('user' => $this->user, 'user_view' => $this->user_view, 'active'=>'place')); ?>

			</div>
		</div>
		<div class="row">
			<div class="span8">
				<div class="list-places">
					<?if(!empty($this->places)):?>
						<?foreach($this->places as $place):?>
							<div class="item place <?if($place['public'] == 2) {echo "blocked";}?>">

								<?if(!empty($this->my_page)):?>
									<div class="btn-group pull-right btn-edit">
										<button class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown">
											<i class="icon-cog"></i>
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="/place/<?=$place['id']?>/edit?user=<?=$this->user_id?>"><i class="icon-edit"></i> Редактировать</a></li>
											<li><a href="#myModal<?=$place['id']?>" data-toggle="modal"><i class="icon-trash"></i> Удалить</a></li>
										</ul>
									</div>
								<?endif;?>

								<div class="span2">
									<div class="img-container">
										<? if ($place['image_url'] != 'no-image.png'/* && $this->checkUrl($place['image_url'])*/) : ?>
											<a href="/place/<?=$place['id']?>"><img src="<?=$place['image_url']?>" alt="" width="269px" height="202px" /></a>											
										<? else: ?>
											<a href="/place/<?=$place['id']?>"><img src="/images/no-image-hotel.png" alt="" /></a>
										<? endif; ?>
									</div>
								</div>

								<div class="span5">
									<h3>
										<a href="/place/<?=$place['id']?>?user=<?=$this->user_id?>"><?=$place['title']?></a>
										<?if($place['public'] == 2) :?>
											<span class="label label-important">Заблокировано</span>
										<?endif;?>										
									</h3>
									<p><?=!empty($place['long_text'])? $this->cutLongText($place['long_text']):'Никакого описание пока нет :('?></p>
									<div class="place_stat unstyled">
									<!--	
										<div class="dropdown">
											<a class="btn btn-mini btn-inverse dropdown-toggle" onclick="javascript:return false;"><i class="icon-thumbs-up"></i> (?<?//=!empty($place['placeLike']) ? $place['placeLike'] : '?' ?>)</a>
											<ul class="dropdown-menu">
												<li><a>Пока не работает :)</a></li>
											</ul>
											<a class="btn btn-mini btn-inverse dropdown-toggle" onclick="javascript:return false;"><i class="icon-comments"></i> (?) </a>
											<ul class="dropdown-menu">
												<li><a>Пока не работает :)</a></li>
											</ul>
											<a class="btn btn-mini btn-inverse dropdown-toggle" onclick="javascript:return false;"><i class="icon-camera"></i> (?)</a>
											<ul class="dropdown-menu">
												<li><a>Пока не работает :)</a></li>
											</ul>
										</div>
									-->
									</div>
								</div>
							</div>
						<?endforeach;?>
					<?else:?>
						<div>Здесь пока нет мест</div>
					<?endif;?>
				</div>

			</div>
			<div class="span3 offset1">
				<div class="add_block">
					<p>Знаете инетересную достопримечательность?</p>
					<? if (!empty($this->user_id)): ?>
						<a href="/places/add">
							<button type="submit" class="btn btn-warning btn-large"><i class="icon-plus-sign"></i> Добавьте место</button>
						</a>
					<? else: ?>
						<a href="#myModal" data-toggle="modal">
							<button type="submit" class="btn btn-warning btn-large"><i class="icon-plus-sign"></i> Добавьте место</button>
						</a>
					<? endif; ?>

				</div>
				
				<hr/>
				
				<?if(!empty($this->placeFav)):?>
					<h4>Места, которые вам понравились</h4>
					<ul class="link-list">
						<?foreach($this->placeFav as $placeFav):?>
							<?if(!empty($placeFav['place'])):?>
								<li>
									<a href="/place/<?=$placeFav['place']['id']?>"><?=$placeFav['place']['title']?></a>
								</li>
							<?endif;?>
						<?endforeach;?>
					</ul>
				<?endif;?>
				
			</div>
		</div>		
	</div>
</div>



<?foreach($this->places as $place):?>
	<div class="modal hide fade" id="myModal<?=$place['id']?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 class="align-center" id="myModalLabel">Подтверждение удаления</h3>
		</div>
		<div class="modal-body align-center">
			<div class="guest_menu">							
				<p class="lead">Вы уверены, что хотите удалить место «<?=$place['title']?>»?</p>
				<a href="/places/delete?id=<?=$place['id']?>&user=<?=$this->user_id?>" class="btn btn-large btn-warning">ДА</a>
				<a href="" class="btn btn-large btn-warning">НЕТ</a>						
				<br/><br/><br/>
			</div>
		</div>
	</div>
<? endforeach; ?>