<div class="container main">
	<div class="page">
		<div class="row">
			<div class="span12">
				<?=$this->breadCrumbs(); ?>
				<h1>Поездки пользователя <?=$this->user_view['uname']?></h1>

				<?php echo $this->partial('partials/alert.phtml'); ?>
				<?php echo $this->partial('partials/menu/menu_user.phtml', array('user' => $this->user, 'user_view' => $this->user_view, 'active'=>'travel')); ?>

			</div>
		</div>
		<div class="row">
			<div class="span8">
				<div class="list-places">
					<?if(!empty($this->travels)):?>
						<?foreach($this->travels as $travel):?>
							<div class="item trip <?if($travel['public'] == 2) {echo "blocked";}?>">

								<?if(!empty($this->my_page)):?>
									<div class="btn-group pull-right btn-edit">
										<button class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown">
											<i class="icon-cog"></i>
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="/travel/<?=$travel['id']?>/edit?user=<?=$this->user_id?>"><i class="icon-edit"></i> Редактировать</a></li>
											<li><a href="#myModal<?=$travel['id']?>" data-toggle="modal"><i class="icon-trash"></i> Удалить</a></li>
										</ul>
									</div>
								<?endif;?>

								<div class="span7">
									<h3>
										<a href="/travel/<?=$travel['id']?>?user=<?=$this->user_id?>"><?=$travel['title']?></a>
										<?if($travel['public'] == 2) :?>
											<span class="label label-important">Заблокировано</span>
										<?endif;?>	
									</h3>
									<p><?=!empty($travel['long_text'])? $this->cutLongText($travel['long_text']):'Текст описания еще не добавлен'?></p>

									<?if(!empty($travel['places'])):?>
										<div class="trip_images">
											<?foreach($travel['places'] as $place):?>
												<? $pl_thumb = $this->getPlacethumb($place['id'], $place['image_url']); ?>
												<? if (!empty($pl_thumb)) : ?>
													<img rel="tooltip" data-original-title="<?=$place['title']?> <?=$place['id']?>" src="<?=$this->getPlacethumb($place['id'], $place['image_url'])?>" alt="" />
												<? endif; ?>
											<?endforeach;?>												
										</div>
									<?endif;?>
									<ul class="place_stat unstyled">
										<!--<li><a class="btn btn-mini btn-inverse" href="" onclick="javascript:return false;"><i class="icon-thumbs-up"></i> (?<?//=$travel['travelLike']?>)</a></li>
										<li><a class="btn btn-mini btn-inverse" href="" onclick="javascript:return false;"><i class="icon-comments"></i> (?)</a></li>
										<li><a class="btn btn-mini btn-inverse" href="" onclick="javascript:return false;"><i class="icon-camera"></i> (?)</a></li>-->
									</ul>
								</div>
							</div>							
						<?endforeach;?>
					<?else:?>
						<div>Здесь пока нет поездок</div>
					<?endif;?>
				</div>
			</div>
			<div class="span3 offset1">
				<div class="add_block">
					<p>Вернулись из увлекательного путешествия?</p>
					<a href="/travels/add?user=<?=$this->user_id?>">
						<button type="submit" class="btn btn-warning btn-large"><i class="icon-plus-sign"></i> Добавьте поездку</button>
					</a>

				</div>
				
				<hr/>
				
				<?if(!empty($this->travelFav)):?>
					<h4>Поездки, которые вам понравились</h4>
					<ul class="link-list">
						<?foreach($this->travelFav as $travelFav):?>
							<?if(!empty($travelFav['travel'])):?>
								<li>
									<a href="/travel/<?=$travelFav['travel']['id']?>"><?=$travelFav['travel']['title']?></a>
								</li>
							<?endif;?>
						<?endforeach;?>
					</ul>
				<?endif;?>
			</div>
		</div>		
	</div>
</div>

<?foreach($this->travels as $travel):?>
	<div class="modal hide fade" id="myModal<?=$travel['id']?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 class="align-center" id="myModalLabel">Вход на сайт</h3>
		</div>
		<div class="modal-body align-center">
			<div class="guest_menu">							
				<p class="lead">Вы уверены, что хотите удалить поездку «<?=$travel['title']?>»?</p>
				<a href="/travels/delete?id=<?=$travel['id']?>&user=<?=$this->user_id?>" class="btn btn-large btn-warning">ДА</a>
				<a href="" class="btn btn-large btn-warning">НЕТ</a>						
				<br/><br/><br/>
			</div>
		</div>
	</div>
<? endforeach; ?>