<script type="text/javascript">$(document).ready(function () {	Face.search.init(); });</script>

<div class="container main">
	<div class="page main">
		<div class="row">
			<div class="span12">
				<h1>Куда поехать на выходные?</h1>
				<form action="/search/index" id="search-form">
					<div class="span8 margin-auto align-center">

						<div class="input-append">
							<input class="span6" value="<?=!empty($this->keyphrase)?$this->keyphrase:''?>" placeholder="Введите название города или места, которое вы хотите посетить" id="appendedInputButton" size="16" type="text" name="keyphrase">
							<button class="btn btn-primary" type="button" id="search-submit">
								<i class="icon-search"></i> Найти
							</button>
						</div>
					</div>
				</form>	
				<div class="btn-toolbar align-center">
					<div id="abc_filter" class="btn-group btn-inverse ">
						<?if(!empty($this->abc)):?>
							<?foreach($this->abc as $abc):?>
								<a href="/search/index?filter=<?=$abc?><?if(!empty($this->type)){echo "&type=".$this->type;}?>">
									<button class="btn <?if($abc == $this->filter){echo 'btn-primary';}else{echo 'btn-inverse';}?>">
										<?=$abc?>
									</button>									
								</a>
							<?endforeach;?>
						<?endif;?>
					</div>
				</div>
			</div>			
		</div>
		<div class="row">
			<div class="span12">
				<h2>Вы искали "<?=$this->find?>"</h2>
				<?php echo $this->partial('partials/menu/menu_search.phtml', array(
										'active'=>$this->type, 
										'path' => "/search/index?".$this->find_type."=".$this->find, 
										'count' => $this->count)); ?>					
			</div>
		</div>
		<?if(!empty($this->result)):?>
			<?foreach($this->result as $key=>$result):?>
				<div class="row <?if($key != $this->type){echo 'hide';}?>">
					
					<div class="span8">
						<div class="list-places">
							<?foreach($result as $list):?>
								<?if($this->type == 'city' || $this->type == 'place') :?>
									<div class="item place">
										<div class="span2">
											<div class="img-container">
												<a href="/<?=$key?>/<?=$list['id']?>"><img src="<?=($list['image_url'] != 'no-image.png') ? $list['image_url'] : '/images/no-image-hotel.png' ?>" alt="" /></a>
											</div>
										</div>
										<div class="span5">
											<h3><a href="/<?=$key?>/<?=$list['id']?>"><?=$list['title']?></a></h3>
											<p><?=!empty($list['long_text'])?$this->cutLongText($list['long_text']):'Описание еще не добавлено'?></p>
											<!--<ul class="place_stat unstyled">
												<li><a class="btn btn-mini btn-inverse" href="" onclick="javascript:return false;"><i class="icon-thumbs-up"></i> (?)</a></li>
												<li><a class="btn btn-mini btn-inverse" href="" onclick="javascript:return false;"><i class="icon-comments"></i> (?)</a></li>
												<li><a class="btn btn-mini btn-inverse" href="" onclick="javascript:return false;"><i class="icon-camera"></i> (?)</a></li>
											</ul>-->
										</div>
									</div>
								<?else :?>
									<div class="item trip">
										<div class="span7">
											<h3><a href="/<?=$key?>/<?=$list['id']?>"><?=$list['title']?></a></h3>
											<p><?=!empty($list['long_text'])?$this->cutLongText($list['long_text']):'Описание еще не добавлено'?></p>
											<?if(!empty($list['child'])) :?>
												<div class="trip_images">
													<?foreach($list['child'] as $place) :?>
														<? $pl_thumb = $this->getPlacethumb($place['id'], $place['image_url']); ?>
														<? if (!empty($pl_thumb)) : ?>
															<img rel="tooltip" data-original-title="<?=$place['title']?> <?=$place['id']?>" src="<?=$pl_thumb?>" alt="" />
														<? endif; ?>
													<?endforeach;?>
												</div>
											<?endif;?>
											<ul class="place_stat unstyled">
												<!--<li><a class="btn btn-mini btn-inverse" href="" onclick="javascript:return false;"><i class="icon-thumbs-up"></i> (?)</a></li>
												<li><a class="btn btn-mini btn-inverse" href="" onclick="javascript:return false;"><i class="icon-comments"></i> (?)</a></li>
												<li><a class="btn btn-mini btn-inverse" href="" onclick="javascript:return false;"><i class="icon-camera"></i> (?)</a></li>-->
											</ul>
										</div>
									</div>							
								
								<?endif;?>
							<?endforeach;?>
						</div>
					</div>
					<div class="span3 offset1">
						<div class="add_block">
							<?switch($this->type) {
								case 'travel':?>
									<p>Считаете что ваше путешествие может стать лучшим?</p>
									<a href="/travels/add" class="btn btn-warning btn-large"><i class="icon-plus-sign"></i> Добавьте поездку</a>
									<? break;
								case 'place':?>
									<p>Если вы не нашли в этом городе интересное место, которое знаете, вы можете</p>
									<a href="/places/add" class="btn btn-warning btn-large"><i class="icon-plus-sign"></i> Добавьте место</a>
									<? break;
								case 'hotel':?>
									<p>
										Не нашли свою гостиницу?
										<!--<br/>
										<a href="">Условия добавления гостиниц</a>-->
									</p>
									<a href="/hotels/zayavka" class="btn btn-warning btn-large"><i class="icon-plus-sign"></i> Добавьте гостиницу</a>
									<? break;
							}?>							
						</div>
						<?php echo $this->partial('partials/advert.phtml'); ?>
					</div>
				</div>
			<?endforeach;?>		
		<?endif;?>
	</div>
</div>