<div class="search-page-content">

	<div class="search-result">
		<?if(!empty($this->places)):?>
			<div class="keyphrase-text-block">
				<div class="search-text-big">Вы искали "<?=$this->keyphrase?>",</div>
				<div class="search-text-small"></div>
				<div class="searched-menu">
					<div class="menu">
						<ul>
							<li><a href="/search/index?keyphrase=<?=$this->keyphrase?>">Города</a></li>
							<li><a href="/search/travels?keyphrase=<?=$this->keyphrase?>">Поездки</a></li>
							<li class="active"><a href="/search/places?keyphrase=<?=$this->keyphrase?>">Места</a></li>					
							<li><a href="/search/hotels?keyphrase=<?=$this->keyphrase?>">Гостиницы</a></li>
						</ul>
					</div>
				</div>
			</div>
		
			<ul>
				<?foreach($this->places as $place):?>
					<li>
						<img src="/images/<?=$place['image_url']?>"/>
						<div class="value">
							<div class="title-block">
								<a href="/place/<?=$place['id']?>">
									<?=$place['title']?>
								</a>
							</div>							
							<div class="long-text"><?=!empty($place['long_text'])?$this->cutLongText($place['long_text']):'Описание места еще не добавлено'?></div>
						</div>
					</li>
				<?endforeach;?>
			</ul>
		<?else:?>
			<div class="keyphrase-text-block">
				<div class="search-text-big">Вы искали "<?=$this->keyphrase?>",</div>
				<div class="search-text-small">А мы не нашли =(</div>				
			</div>
		<?endif;?>
	</div>
	
</div>