<script type="text/javascript">$(document).ready(function () {	Face.init(); });</script>

<div class="container main">
	<div class="page main">
		<div class="row">
			<div class="span12">
				<h1>Куда поехать на выходные?</h1>
				<form action="/search/index" id="search-form">
					<div class="span8 margin-auto align-center">
						
						<div class="input-append">
							<input class="span6"  placeholder="Введите название города или места, которое вы хотите посетить" id="appendedInputButton" size="16" type="text" name="keyphrase">
							<button class="btn btn-primary" type="button" id="search-submit">
								<i class="icon-search"></i> Найти
							</button>
						</div>
					</div>
				</form>	
				<div class="btn-toolbar align-center">
					<div id="abc_filter" class="btn-group btn-inverse ">
						<?if(!empty($this->abc)):?>
							<?foreach($this->abc as $abc):?>
								<a href="/search/simbol?filter=<?=$abc?><?if(!empty($this->type)){echo "&type=".$this->type;}?>">
									<button class="btn <?if($abc == $this->filter){echo 'btn-primary';}else{echo 'btn-inverse';}?>">
										<?=$abc?>
									</button>									
								</a>
							<?endforeach;?>
						<?endif;?>
					</div>
				</div>
			</div>
		</div>
		<?if(!empty($this->filter)):?>		
			<div class="row">
				<div class="span12">
					<?php echo $this->partial('partials/menu/menu_search.phtml', array('active'=>$this->type, 'path' => "/search/simbol?filter=".$this->filter)); ?>
				</div>			
			</div>
			
			<?if(!empty($this->list)):?>
				<div class="header-divider">
					<div class="line span4 pull-left"></div>
					<div class="line span4 pull-right"></div>
					<div class="name"><?=$this->filter_title?> на букву <?=$this->filter?></div>
				</div>
				<div class="row">
					<?foreach($this->list as $list):?>
						<div class="span3">
							<div class="the_place mini">
								<div class="img-container">
									<img src="/images/temp/photo_3.jpg" alt="" />
									<a href="/<?=$this->type?>/<?=$list['id']?>" class="place-name"><?=$list['title']?></a>
								</div>
							</div>
						</div>
					<?endforeach;?>
				</div>
			<?else:?>
				<div class="header-divider">
					<div class="line span4 pull-left"></div>
					<div class="line span4 pull-right"></div>
					<div class="name">К сожалению мы ничего не нашли</div>
				</div>
			<?endif;?>
		<?else:?>
			<div class="header-divider">
				<div class="line span4 pull-left"></div>
				<div class="line span4 pull-right"></div>
				<div class="name">Необходимо выбрать фильтр</div>
			</div>
		<?endif;?>
	</div>
</div>