<html>
	<body leftmargin="0" topmargin="0" marginheight="0" offset="0" style="font-family:Myriad Pro">
		<table width="100%" border="0">
			<tr>
				<td width="200px"><img src="https://s3.amazonaws.com/w2d-other/logo_header.png" /></td>
				<td><p style="font-size: 1.5em;margin-top:10px;">Привет <?=$this->user_name?>!</p><br /></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<p>
						Вы или возможно кто-то другой, зарегистрировались на сайте Way2Day.ru.<br />
						Если это были вы, перейдите по ссылке для подтверждения регистрации
						<br /><br />
						<a href="<?=$this->base_url?>/reg/confirm/<?=$this->url?>"><?=$this->base_url?>/reg/confirm/<?=md5($this->url)?></a>,
						<br /><br />
						иначе просто проигнорируйте это письмо.
					</p>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<br /><br />
					<p style="font-style:italic;">
						С уважением, команда разработчиков way2day.ru<br />
						Пишите нам на hello@way2day.ru
					</p>
					<br />
				</td>
			</tr>
		</table>
	</body>
</html>