<html>
	<body leftmargin="0" topmargin="0" marginheight="0" offset="0" style="font-family:Myriad Pro">
		<table width="100%" border="0">
			<tr>
				<td width="200px"><img src="https://s3.amazonaws.com/w2d-other/logo_header.png" /></td>
				<td><p style="font-size: 1.5em;margin-top:10px;">Привет, <?=$this->user_name?>!</p><br /></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<p>
						Поздравляем с успешной регистрацией на сайте - «Куда поехать на выходные - Way2Day.ru». Добро пожаловать!
					</p>
					<p>
						Твой пароль: <?=$this->pass?>
					</p>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<br /><br />
					<p style="font-style:italic;">
						С уважением, команда разработчиков way2day.ru<br />
						Пишите нам на hello@way2day.ru
					</p>
					<br />
				</td>
			</tr>
		</table>
	</body>
</html>