<script type="text/javascript">$(document).ready(function () {	Face.citys.init(); });</script>

<div class="page main">
	<div class="row">
		<div class="span12">
			<h1>Куда поехать на выходные?</h1>
			<p class="under_h1 span10 margin-auto">Выберите один из вариантов подготовленных нами поездок. Это может быть осмотр достопримечательностей, исторический туризм, посещение монастырей и церквей, прогулки по старинным и древним городам, фестивали исторической реконструкции и многое другое...</p>
			
			<form action="">
					<div class="span8 margin-auto align-center">
						
						<div class="input-append">
						  <input class="span6"  placeholder="Введите название города или места, которое вы хотите посетить" id="appendedInputButton" size="16" type="text"><button class="btn btn-primary" type="button"><i class="icon-search"></i> Найти</button>
						</div>
					</div>
					
					
					<script type="text/javascript">
						$(document).ready(function() {	
							$('#abc_filter button').click(function (e) {
								e.preventDefault();
								$(this).toggleClass('active');
								if ($(this).hasClass('active')) {
									$(this).addClass('btn-primary');
									$(this).removeClass('btn-inverse');
								} else {
									$(this).removeClass('btn-primary');
									$(this).addClass('btn-inverse');
								}
							});
											
						});
					</script>
					
					<div class="btn-toolbar align-center">
						<div id="abc_filter" class="btn-group btn-inverse ">
							<button class="btn btn-inverse">А</button>
							<button class="btn btn-inverse">Б</button>
							<button class="btn btn-inverse">В</button>
							<button class="btn btn-inverse">Г</button>
							<button class="btn btn-inverse">Д</button>
							<button class="btn btn-inverse">Е</button>
							<button class="btn btn-inverse">Ж</button>
							<button class="btn btn-inverse">З</button>
							<button class="btn btn-inverse">И</button>
							<button class="btn btn-inverse">К</button>
							<button class="btn btn-inverse">Л</button>
							<button class="btn btn-inverse">М</button>
							<button class="btn btn-inverse">Н</button>
							<button class="btn btn-inverse">О</button>
							<button class="btn btn-inverse">П</button>
							<button class="btn btn-inverse">Р</button>
							<button class="btn btn-inverse">С</button>
							<button class="btn btn-inverse">Т</button>
							<button class="btn btn-inverse">У</button>
							<button class="btn btn-inverse">Ф</button>
							<button class="btn btn-inverse">Х</button>
							<button class="btn btn-inverse">Ц</button>
							<button class="btn btn-inverse">Ч</button>
							<button class="btn btn-inverse">Ш</button>
							<button class="btn btn-inverse">Э</button>
							<button class="btn btn-inverse">Ю</button>
							<button class="btn btn-inverse">Я</button>
	
						</div>
					</div>
				</form>
			
			</div>
		</div>
	
	<div class="header-divider">
		<div class="line span4 pull-left"></div>
		<div class="line span4 pull-right"></div>
		<div class="name">Популярные города</div>
	</div>
	<div class="row">
		<?if(!empty($this->city)):?>
			<?for($i = 0;$i < $this->two_city;$i++) : ?>
		
				<div class="the_place big">
					<div class="img-container">
						<img src="/i/temp/photo_1.jpg" alt="" />
						<a href="city.php" class="place-name">Великий Новгород</a>
					</div>
					<div class="place-menu"><a href="places.php">Места</a> <a href="">Поездки</a> <a href="">Гостиницы</a> </div>
				</div>
		
			<?endfor;?>
		<?endif;?>
		
		<div class="the_place big">
			<div class="img-container">
				<img src="/i/temp/photo_1.jpg" alt="" />
				<a href="city.php" class="place-name">Великий Новгород</a>
			</div>
			<div class="place-menu"><a href="places.php">Места</a> <a href="">Поездки</a> <a href="">Гостиницы</a> </div>
		</div>
		
	</div>
	
<div>
	Куда поехать на выходные
</div>
<p>
	Льежский оружейник пространственно поднимает памятник Средневековья, особой популярностью пользуются 
кружева "блюменверк", "розенкант" и "товерессестик". Новая Гвинея, куда входят Пик-Дистрикт, Сноудония и 
другие многочисленные национальные резерваты природы и парки, точно перевозит уличный памятник
</p>

<div class="wrapper"></div>

<div class="searchbar">
	<div class="search">
		<div class="title">
			Введите название города или места, которое вы хотите посетить
		</div>
		<div class="value">
			<form action="<?=$this->url( array('controller' => 'search') )?>" id="search-form">
				<div>
					<input type="text" title="Поиск" class="text" name="keyphrase" id="keyphrase" autocomplete="Off" />
					<a href="javascript:$('#search-form').submit();" class="submit" id="search_submit">						
						<img src="/images/search.png" />
					</a>
				</div>
			</form>			
		</div>
	</div>
	<div class="filter">
		<div class="title">
			Фильтр городов по алфавиту
		</div>
		<div class="abc">
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=А">А</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=А">Б</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=В">В</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=Г">Г</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=Д">Д</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=Е">Е</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=Ж">Ж</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=З">З</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=И">И</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=К">К</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=Л">Л</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=М">М</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=Н">Н</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=О">О</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=П">П</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=Р">Р</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=С">С</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=Т">Т</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=У">У</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=Ф">Ф</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=Х">Х</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=Ц">Ц</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=Ч">Ч</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=Ш">Ш</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=Щ">Щ</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=Э">Э</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=Ю">Ю</a>
			<a href="<?=$this->url( array('controller' => 'search', 'action' => 'simbol'), null, true )?>?filter=Я">Я</a>
		</div>
	</div>
		
</div>

<div class="wrapper"></div>

<div id="mainpage">
	<?if(!empty($this->city)):?>
		<ul class="two-city">
			<?for($i = 0;$i < $this->two_city;$i++):?>
				<li style="float: <?if($i == 0):?>left<?else:?>right<?endif;?>;">
					<img src="/images/<?=$this->city[$i]['image_url']?>">
					<div class="title">
						<a href="/city/<?=$this->city[$i]['id']?><?if(!empty($this->city[$i]['places'])):?><?endif;?>"><?=$this->city[$i]['title']?></a>
					</div>
					<div class="info">
						<div class="travels">
							<a href="/city/<?=$this->city[$i]['id']?>/travels">
								Поездки (<?
									if(isset($this->city[$i]['travels'])){
										echo $this->city[$i]['travels'];
									}
									else{
										echo "0";
									}
								?>)
							</a>
						</div>
						<div class="places">
							<a href="/city/<?=$this->city[$i]['id']?>/places">
								Места (<?
									if(isset($this->city[$i]['places'])){
										echo $this->city[$i]['places'];
									}
									else{
										echo "0";
									}
								?>)
							</a>
						</div>
						<div class="hotels">
							<a href="/city/<?=$this->city[$i]['id']?>/hotels">
								Гостиницы (<?
									if(isset($this->city[$i]['hotels'])){
										echo $this->city[$i]['hotels'];
									}
									else{
										echo "0";
									}
								?>)
							</a>
						</div>
					</div>				
				</li>
			<?endfor;?>
		</ul>
		<div class="wrapper"></div>
		<?if(count($this->city) > 2):?>
			<ul class="all-city">
				<?for($i=2,$k=0;$i<count($this->city);$i++,$k++):?>
					<!--<li style="left: <?=(($k%4 == 0)?0:((($k-$k%4)/4) * (190 + 20)))?>px; top: <?=((($k%4 == 0)?$k/4:($k-$k%4)/4)*(125 + 20))?>px;">-->
					<li style="left: <?=(($k%4 == 0)?0:$k * (190 + 20))?>px; top: <?=((($k%4 == 0)?$k/4:($k-$k%4)/4)*(125 + 20))?>px;">
						<img src="/images/<?=$this->city[$i]['image_url']?>">
						<div>
							<div class="title">
								<a href="/city/<?=$this->city[$i]['id']?><?if(!empty($this->city[$i]['places'])):?>/places<?endif;?>"><?=$this->city[$i]['title']?></a>
							</div>
						</div>
					</li>
				<?endfor;?>
			</ul>
			<div class="wrapper"></div>
		<?endif;?>	
	<?endif;?>
</div>