<script type="text/javascript">$(document).ready(function () {	Face.index.init(); });</script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54de2d0d428ff78f" async="async"></script>

<div class="container main">
	<div class="page main">
		<div class="row">
			<div class="span12">
				<h1>Куда поехать на выходные?</h1>
				<p class="under_h1 span10 margin-auto">
					Way2Day - живая коллекция достопримечательностей. На нашей карте отмечены места, которые добавляют реальные люди.
                    <br />
                    Сайт автоматически определяет ваше местоположение и показывает самые удобные варианты для осмотра за выходные.
                    <br />
                    У нас вы сможете спланировать поездку на один или несколько дней с семьей или друзьями.
				</p>
				
				<!--<p class="align-center" id="places_around"><a id="placesaroud" href="<?//=$this->user ? 'places/around' : '#registration_modal' ?>" data-toggle="modal">ПОСМОТРЕТЬ МЕСТА НА КАРТЕ</a></p>-->
				
			</div>
		</div>
        <br />

        <div class="row">
            <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
            <script type="text/javascript">
                $(document).ready(function() {
                    /* При успешной загрузке API выполняется соответствующая функция */
                    ymaps.ready(function () {

                        w2dmap.balloonContent = "<div>Вы тут</div>";
                        w2dmap.initmap("", "", <?=$this->zoom?>, "<?=$this->map_type?>");

                        // Показываем места вокруг
                        Face.place.around.init();

                    });
                });
            </script>
            <div class="span12">
                <div class="map-wrapper">
                    <div id="ymaps" class="place-map index"></div>
                </div>
            </div>
        </div>
        <br />

        <?if(!empty($this->city)):?>
            <div class="header-divider city">
                <div class="line span4 pull-left"></div>
                <div class="line span4 pull-right"></div>
                <div class="name">Ближайшие города</div>
            </div>
            <div class="row">

                <?foreach($this->city as $city):?>
                    <div class="span3">
                        <div class="the_place mini" data="/city/<?=$city['id']?>">
                            <div class="img-container">
                                <img src="<?=($city['image_url'] != 'no-image.png') ? $city['image_url'] : '/images/no-image-hotel.png'?>" alt="Куда поехать на выходные" />
                                <a href="/city/<?=$city['id']?>" class="place-name"><?=$city['title']?></a>
                            </div>
                        </div>
                    </div>
                <?endforeach;?>

            </div>
        <?endif;?>

        <?if($this->showTravels() && !empty($this->travels)):?>
			<div class="header-divider">
				<div class="line span4 pull-left"></div>
				<div class="line span4 pull-right"></div>
				<div class="name">Популярные поездки</div>
			</div>		
			<div class="row">
				<?foreach($this->travels as $travel):?>
				<div class="span3">
					<div class="the_place mini trip" data="/travel/<?=$travel['id']?>">						
							<div class="img-container">
								<?foreach($travel['places'] as $place):?>
									<? $pl_thumb = $this->getPlacethumb($place['id'], $place['image_url']); ?>
									<? if (!empty($pl_thumb)) : ?>
										<img rel="tooltip" data-original-title="<?=$place['title']?>" src="<?=$pl_thumb?>" alt="Куда поехать на выходные" />
									<? endif; ?>
								<?endforeach;?>
							</div>
						<a href="/travel/<?=$travel['id']?>" class="place-name"><?=$travel['title']?></a>
					</div>
				</div>
				<?endforeach;?>
			</div>
		<?endif;?>
		
		
		
		<?if(!empty($this->places)):?>
			<div class="header-divider">
				<div class="line span4 pull-left"></div>
				<div class="line span4 pull-right"></div>
				<div class="name">Ближайшие места</div>
			</div>
		
			<div class="row">
				<?foreach($this->places as $place):?>
					<div class="span3">
						<div class="the_place mini" data="/place/<?=$place['id']?>">
							<div class="img-container">
								<img src="<?=($place['image_url'] != 'no-image.png') ? $place['image_url'] : '/images/no-image-hotel.png'?>" alt="Куда поехать на выходные" />
								<a href="/place/<?=$place['id']?>" class="place-name"><?=$place['title']?></a>
							</div>
						</div>
					</div>
				<?endforeach;?>
			</div>
		<?endif;?>
		
		<? if ($this->showHotels()) : ?>
			<?if(!empty($this->hotels)):?>
				<div class="header-divider">
					<div class="line span4 pull-left"></div>
					<div class="line span4 pull-right"></div>
					<div class="name">Лучшие гостиницы</div>
					<div class="align-center"><a href="/hotels">Все гостиницы</a></div>
				</div>

				<div class="row">
					<?foreach($this->hotels as $hotel):?>
						<div class="span3">
							<div class="the_place mini" data="/hotel/<?=$hotel['id']?>">
								<div class="img-container">
									<img src="<?=($hotel['image_url'] != 'no-image.png') ? $hotel['image_url'] : '/images/no-image-hotel.png'?>" alt="Куда поехать на выходные" />
									<a class="place-name" href="/hotel/<?=$hotel['id']?>"><?=$hotel['title']?></a>								
								</div>
							</div>
						</div>
					<?endforeach;?>
				</div>
			<?endif;?>		
		<? endif; ?>
	</div>
</div>