<script type="text/javascript">$(document).ready(function() { Face.login.init(); });</script>

<div class="container main">	
	<div class="page">
		<div class="row">
			<div class="span6 offset4">
				<h1>Авторизация</h1>
				<p class="lead">Введите промокод, отправленный вам на почту</p>
				
				<form id="login_form" class="form-horizontal" action="" method="post">					

					<div class="control-group <?if(!empty($this->error['unicId'])) {echo 'error';} elseif(!empty($this->success['unicId'])) {echo "success";}?>">
						<input type="text" name="unicId" class="span5" value="<?=$this->unicId?>" placeholder="Введите промокод"/>
						<? if(!empty($this->error['unicId'])):?>
							<span class="help-inline"><?=$this->error['unicId']?></span>
						<? elseif(!empty($this->success['unicId'])):?>
							<span class="help-inline"><?=$this->success['unicId']?></span>
						<? endif;?>						
					</div>
					<button type="submit" class="btn btn-large btn-warning" id="login_btn" name="submit" value="1">Вход на сайт</button>					
					
				</form>
					
			</div>
		</div>
		<div class="row">
			<div class="span4 offset8">
				<a href="/login/hotels">Отелям и гостиницам</a>
			</div>
		</div>
				
				
	</div>	
</div>