<script>$(document).ready(
	function () {
		Face.foolSizeImages();
	}
)</script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54de2d0d428ff78f" async="async"></script>

<div class="container main">
	<div class="page">
		<?if(!empty($this->city)):?>
			<div class="row">
				<div class="span12">
					<?=$this->breadCrumbs(); ?>

					<h1><?=$this->city['title']?></h1>				
					<?php echo $this->partial('partials/menu/menu_city.phtml', array(
                        'city_id' => $this->city_id,
                        'active'=>'description',
                        'my_city' => !empty($this->my_city) ? $this->my_city : false,
                        'user_id' => !empty($this->user['id']) ? $this->user['id'] : false)); ?>

				</div>
			</div>

			<div class="row about_city">
				<div class="span6">
					<div class="the_place big">
						<div class="img-container">
							<div id="myCarousel" class="carousel slide">
								<div class="carousel-inner">
									
									<? if (!empty($this->city_images)) : ?>
										<? foreach ($this->city_images as $key => $image) : ?>
											<div id="image_<?=$key?>" class="item <?=($key == 0) ? 'active' : ''?>">
												<img src="<?=$image['url']?>" alt="Куда поехать на выходные - way2day.ru" />
												<div class="carousel-caption">
													<h4><!--Замечательное местечко--></h4>
												</div>
											</div>
										<? endforeach; ?>
									<? else: ?>
										<div class="item active">
											<img src="/images/no-image-hotel.png" alt="Куда поехать на выходные - way2day.ru" />
											<div class="carousel-caption">
												<h4>У этой картинки пока нет </h4>
											</div>
										</div>
									<? endif; ?>
									
								</div>
								<a class="carousel-control left main" href="#myCarousel" data-slide="prev">&lsaquo;</a>
								<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
							</div>
						</div>
					</div>
				</div>
				
				<div class="span6">

                        <?if(!empty($this->user['id'])):?>
                            <div class="user_info">
                                <a href="/user/<?=$this->getCityAuthorId($this->city_id)?>"><img class="avatar" src="<?=$this->getCityAuthorPhoto($this->city_id)?>" alt="Куда поехать на выходные - way2day.ru" /></a>
                                <p>Место добавил <a href="/user/<?=$this->getCityAuthorId($this->city_id)?>"><?=$this->getCityAuthorName($this->city_id)?></a></p>
                            </div>

                            <hr/>
                        <?endif;?>
						<p id="descriptionText"><?=!empty($this->city['long_text'])?$this->city['long_text']:''?></p>

                        <hr/>

						<?if(!empty($this->user['id'])):?>

							<div class="btn-group">
								<a href="/places/add?city=<?=$this->city_id?>">
									<button class="btn btn-large btn-warning"><i class="icon-plus-sign"></i> Добавить место в этот город</button>
								</a>
                                <?if($this->showTravels):?>
                                    <button class="btn btn-large btn-warning dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="/travels/add?city=<?=$this->city_id?>">Добавить поездку</a></li>
                                    </ul>
                                <? endif; ?>
							</div>
						<? else: ?>
							<div class="btn-group">
								<a href="#myModal" data-toggle="modal">
									<button class="btn btn-large btn-warning"><i class="icon-plus-sign"></i> Добавить место в этот город</button>
								</a>
                                <?if($this->showTravels):?>
                                    <button class="btn btn-large btn-warning dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#myModal" data-toggle="modal">Добавить поездку</a></li>
                                    </ul>
                                <? endif; ?>
							</div>							
						<?endif;?>

				</div>
			</div>	
	

			<div class="header-divider">
				<div class="line span4 pull-left"></div>
				<div class="line span4 pull-right"></div>
				<div class="name">Куда поехать в городе <?=$this->city['title']?></div>
			</div>

			<div class="row top_city">
				<div class="span3">
					<h6>Лучшие места</h6>
					<?if(!empty($this->city['places'])):?>
							<div class="top_image span2">
								<div class="img-container">
									<a href="/place/<?=$this->city['places'][0]['id']?>?city=<?=$this->city_id?>">
										<img src="<?=($this->city['places'][0]['image_url'] != 'no-image.png') ? $this->city['places'][0]['image_url'] : '/images/no-image-hotel.png'?>" alt="Куда поехать на выходные - way2day.ru" />
									</a>
								</div>
							</div>
							<ul class="top_rating">
								<?for($i=0; $i < count($this->city['places']); $i++):?>
									<?if($i < 3):?>
										<li class="top"><a href="/place/<?=$this->city['places'][$i]['id']?>?city=<?=$this->city_id?>"><?=$this->city['places'][$i]['title']?></a></li>
									<?else:?>
										<li><a href="/place/<?=$this->city['places'][$i]['id']?>?city=<?=$this->city_id?>"><?=$this->city['places'][$i]['title']?></a></li>
									<?endif;?>
								<?endfor;?>
							</ul>
					<? else:?>
						<div class="add_block">
							<p>Станьте первым первым кто добавит место в этот город.</p>
							<?if(!empty($this->user['id'])):?>
								<a href="/places/add?city=<?=$this->city_id?>">
									<button type="submit" class="btn btn-warning btn-large"><i class="icon-plus-sign"></i> Добавить место в этот город</button>
								</a>
							<? else: ?>
								<a href="#myModal" data-toggle="modal">
									<button type="submit" class="btn btn-warning btn-large"><i class="icon-plus-sign"></i> Добавить место в этот город</button>
								</a>
							<? endif; ?>
						</div>
					<?endif;?>
				</div>

                <?if($this->showTravels() && !empty($this->travels)):?>
                    <div class="span3">
                        <h6>Лучшие поездки</h6>
                        <?if(!empty($this->city['travels'])):?>
                                <div class="top_image span2">
                                    <div class="img-container">
                                        <a href="/travel/<?=$this->city['travels'][0]['id']?>?city=<?=$this->city_id?>">
                                            <img src="<?=($this->city['travels'][0]['image_url'] != 'no-image.png') ? $this->city['travels'][0]['image_url'] : '/images/no-image-hotel.png'?>" alt="Куда поехать на выходные - way2day.ru" />
                                        </a>
                                    </div>
                                </div>
                                <ul class="top_rating">
                                    <?for($i=0; $i < count($this->city['travels']); $i++):?>
                                        <?if($i < 3):?>
                                            <li class="top"><a href="/travel/<?=$this->city['travels'][$i]['id']?>?city=<?=$this->city_id?>"><?=$this->city['travels'][$i]['title']?></a></li>
                                        <?else:?>
                                            <li><a href="/travel/<?=$this->city['travels'][$i]['id']?>?city=<?=$this->city_id?>"><?=$this->city['travels'][$i]['title']?></a></li>
                                        <?endif;?>
                                    <?endfor;?>
                                </ul>
                        <?else:?>
                            <div class="add_block">
                                <p>Считаете что ваше путешествие может стать лучшим?</p>
                                <?if(!empty($this->user['id'])):?>
                                    <a href="/travels/add?city=<?=$this->city_id?>">
                                        <button type="submit" class="btn btn-warning btn-large"><i class="icon-plus-sign"></i> Добавить место в этот город</button>
                                    </a>
                                <? else: ?>
                                    <a href="#myModal" data-toggle="modal">
                                        <button type="submit" class="btn btn-warning btn-large"><i class="icon-plus-sign"></i> Добавить место в этот город</button>
                                    </a>
                                <? endif; ?>
                            </div>
                        <?endif;?>
                    </div>
                <?endif;?>
				
				<? if ($this->showHotels()) : ?>
					<div class="span3">
						<h6>Лучшие гостиницы</h6>
						<?if(!empty($this->city['hotels'])):?>
								<div class="top_image span2">
									<div class="img-container">
										<a href="/hotel/<?=$this->city['hotels'][0]['id']?>?city=<?=$this->city_id?>">
											<img src="<?=($this->city['hotels'][0]['image_url'] != 'no-image.png') ? $this->city['hotels'][0]['image_url'] : '/images/no-image-hotel.png'?>" alt="Куда поехать на выходные - way2day.ru" />
										</a>
									</div>
								</div>
								<ul class="top_rating">
									<?for($i=0; $i < count($this->city['hotels']); $i++):?>
										<?if($i < 3):?>
											<li class="top"><a href="/hotel/<?=$this->city['hotels'][$i]['id']?>?city=<?=$this->city_id?>"><?=$this->city['hotels'][$i]['title']?></a></li>
										<?else:?>
											<li><a href="/hotel/<?=$this->city['hotels'][$i]['id']?>?city=<?=$this->city_id?>"><?=$this->city['hotels'][$i]['title']?></a></li>
										<?endif;?>
									<?endfor;?>
								</ul>
						<?else:?>
							<div class="add_block">
								<p>Не нашли свою гостиницу в этом городе?<br/><!--<a href="/hotels/zayavka">Условия добавления гостиниц</a>--></p>
								<a href="/hotels/zayavka" type="submit" class="btn btn-warning btn-large"><i class="icon-plus-sign"></i>Добавить гостиницу</a>
							</div>
						<?endif;?>
					</div>
				<?endif;?>
				
				<div class="span3">
					<?php echo $this->partial('partials/advert.phtml'); ?>
				</div>

			</div>
		<?else:?>
			К сожалению мы не смогли найти город, который вы искали
		<?endif;?>
	</div>
</div>

<div class="absolut_gallery hide">
	<a class="brand" href="/"></a>
	<div class="close"><i class="icon-remove-sign"></i></div>
	<div id="myCarouselA" class="carousel slide">
		<div class="carousel-inner">
			<? if (!empty($this->large_images)) : ?>
				<? foreach ($this->large_images as $key => $large_img) : ?>														
					<div id="small_image_<?=$key?>" class="<?=$key == 0?'active ':''?> item">
						<img class="gallery" src="<?=$large_img['url']?>" alt="Куда поехать на выходные - way2day.ru" />
						<div class="carousel-caption">
							<h4><?=$this->image_txt?></h4>
						</div>
					</div>
				<? endforeach; ?>												
			<? else: ?>
				<div class="active item">
					<img class="gallery" src="/images/no-image-hotel.png" alt="Куда поехать на выходные - way2day.ru" />
					<div class="carousel-caption">
						<h4><?=!empty($this->image_txt)?$this->image_txt:''?></h4>
					</div>
				</div>
			<? endif; ?>	
		</div>
		<a class="carousel-control left" href="#myCarouselA" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarouselA" data-slide="next">&rsaquo;</a>
	</div>
</div>