<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<link rel="stylesheet" href="/js/fileupload/css/jquery.fileupload-ui.css" />
<link rel="stylesheet" href="http://blueimp.github.com/Bootstrap-Image-Gallery/css/bootstrap-image-gallery.min.css" />
<script src="/js/ckeditor/ckeditor.js"></script>

<script type="text/javascript">
	$(document).ready(function() { 		
		/* При успешной загрузке API выполняется соответствующая функция */
		ymaps.ready(function () {
			w2dmap.initmap("<?=$this->lat?>", "<?=$this->lng?>", <?=$this->zoom?>, "<?=$this->map_type?>");
			Face.city.edit.start(<?=$this->user_id?>, <?=$this->city['id']?>);
			Face.listener.start();
		});
	});
</script>

<div class="container main">
	<div class="page">
		<?if(!empty($this->city)):?>

				<div class="row">
					<div class="span12">
						<?=$this->breadCrumbs(); ?>
						<h1>Редактирование города <?=$this->city['title']?></h1>
					</div>
				</div>

				<div class="row">
					<div class="span12 about_city">

						<div class="about_city">
							<div class="row">
								<div class="span12">

									<form id="fileupload" action="<?=$this->getStorageUrl();?>" method="POST" enctype="multipart/form-data">
										<div class="row fileupload-buttonbar">
											<div class="span7">
												<span class="btn fileinput-button">
													<i class="icon-picture icon-white"></i>
													<span>Выбрать фотографии</span>
													<input type="file" name="files[]" multiple>
												</span>
											</div>
											<div class="span5 fileupload-progress fade dark">
												<div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
													<div class="bar" style="width:0%;"></div>
												</div>
												<div class="progress-extended">&nbsp;</div>
											</div>
										</div>
										<div class="fileupload-loading"></div>

										<script type="text/javascript">
											$(document).bind('dragover', function (e) {
												var dropZone = $('#dropzone'),
													timeout = window.dropZoneTimeout;
												if (!timeout) {
													dropZone.addClass('in');
												} else {
													clearTimeout(timeout);
												}
												if (e.target === dropZone[0]) {
													dropZone.addClass('hover');
												} else {
													dropZone.removeClass('hover');
												}
												window.dropZoneTimeout = setTimeout(function () {
													window.dropZoneTimeout = null;
													dropZone.removeClass('in hover');
												}, 100);
											});

										</script>

										<div id="dropzone" class="fade"><i class="icon-picture icon-white"></i> Перетащите фотографии на это место</div>
										<div role="presentation" class="table dark table-striped">
											<ul class="files" id="sortable" data-toggle="modal-gallery" data-target="#modal-gallery" data-selector="img.gallery-item"></ul>
										</div>
									</form>
									<hr />
									<div class="row">
										<form id="create_place_form" class="form-horizontal" action="" method="post">
										<div class="span6">
											<h3>Заполните форму</h3>											
											<div class="control-group <?if(!empty($this->error['title'])) {echo 'error';} elseif(!empty($this->success['title'])) {echo "success";}?>">
												<label class="control-label" for="title">Что за город?</label>
												<div class="controls">
													<input class="span4" type="text" name="title" value="<?=$this->city['title'];?>"/>
													<? if(!empty($this->error['title'])):?>
														<span class="help-inline"><?=$this->error['title']?></span>
													<? elseif(!empty($this->success['title'])):?>
														<span class="help-inline"><?=$this->success['title']?></span>
													<? endif;?>	
													<span class="help-block">Как называется город, которое вы хотите добавить?</span>
												</div>
											</div>								

											<div class="control-group  <?if(!empty($this->error['long_text'])) {echo 'error';} elseif(!empty($this->success['long_text'])) {echo "success";}?>">
												<label class="control-label" for="long_text">Описание места</label>
												<div class="controls">
													<textarea class="span4 ckeditor" name="long_text" id="description"><?=$this->city['long_text']?></textarea>
													<? if(!empty($this->error['long_text'])):?>
														<span class="help-inline"><?=$this->error['long_text']?></span>
													<? elseif(!empty($this->success['long_text'])):?>
														<span class="help-inline"><?=$this->success['long_text']?></span>
													<? endif;?>	
												</div>
											</div>

											<div class="control-group">
												<div class="controls">
													<button type="submit" class="btn btn-large btn-warning" id="add_place_btn">Сохранить изменения</button>
												</div>
											</div>								
											
										</div>
										<div class="span6">
											<h3>Укажите город на карте</h3>
											<div class="control-group <?if(!empty($this->error['lat'])) {echo 'error';} elseif(!empty($this->success['lat'])) {echo "success";}?>">
												<input id="lat-coords" class="span2" type="text" name="lat" value="<?=!empty($this->city['lat'])?$this->city['lat']:'';?>" placeholder="Долгота" />
												<input id="lng-coords" class="span2" type="text" name="lng" value="<?=!empty($this->city['lng'])?$this->city['lng']:'';?>" placeholder="Широта" />
											</div>
											<br />
											<div class="map-wrapper">
												<div id="ymaps" class="place-map add"></div>
											</div>
										</div>
										</form>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					
					<div class="span12">

                        <ul>
							<!-- Шаблон всплывающего окна галереи -->							
							<?php echo $this->partial('partials/modal-gallery.phtml'); ?>
							<!-- Список загруженных файлов в отдельном шаблоне -->
							<?php echo $this->partial('partials/upload-files-list.phtml'); ?>
						</ul>
						
					</div>
				</div>
		<?else:?>
			<div class="row">
				<div class="span12">
					Вы не можете редактировать чужой город
				</div>
			</div>
		<?endif;?>

	</div>
</div>

