<div class="container main">
	<div class="page">
		<?if(!empty($this->city_id)):?>
			<div class="row">
				<div class="span12">
					<?=$this->breadCrumbs(); ?>
					
					<h1>Где остановиться <?=$this->city['titlestay']?></h1>
					<?php echo $this->partial('partials/menu/menu_city.phtml', array('city_id' => $this->city_id, 'active'=>'hotel')); ?>
				</div>
			</div>
			<div class="row">
				<div class="span8">
					<div class="list-places">
						<?if(!empty($this->city['hotels'])):?>
							<?foreach($this->city['hotels'] as $hotel):?>
								<div class="item trip">
									<div class="span7">
										<h3><a href="/hotel/<?=$hotel['id']?>?city=<?=$this->city_id?>"><?=$hotel['title']?></a></h3>
										<?if(!empty($hotel['stars'])) :?>
											<div class="star-rating">
												<?for($i = 0; $i <= $hotel['stars']-1; $i++):?>
													<i class="icon-star"></i>
												<?endfor;?>
												<?if($hotel['stars'] > $i) :?>
													<i class="icon-star-half"></i>
												<?endif;?>
											</div>											
										<?endif;?>
										<p><?=$this->cutLongText($hotel['long_text'], 500)?></p>
										
										<?if(!empty($hotel['child'])):?>
											<div class="trip_images">
												<img rel="tooltip" data-original-title="Комната" src="http://hotels.nov.ru/images/674_xl.jpg" alt="" />
												<img rel="tooltip" data-original-title="Комната" src="http://hotels.nov.ru/images/672_xl.jpg" alt="" />
												<img rel="tooltip" data-original-title="Комната" src="http://hotels.nov.ru/images/673_xl.jpg" alt="" />
												<img rel="tooltip" data-original-title="Комната" src="http://hotels.nov.ru/images/676_xl.jpg" alt="" />	
												<?/*foreach($hotel['child'] as $place):?>
													<? $pl_thumb = $this->getPlacethumb($place['id'], $place['image_url']); ?>													
													<img rel="tooltip" data-original-title="<?=$place['title']?> <?=$place['id']?>" src="<?=!empty($pl_thumb)?$pl_thumb:'/images/temp/photo_1.jpg'?>" alt="" />													
												<?endforeach;*/?>												
											</div>
										<?endif;?>
										<?if(!empty($hotel['price'])) :?>
											<div class="price pull-right">Цена номера: <b><?=$hotel['price']?></b> руб./ночь</div>
										<?endif;?>
										<ul class="place_stat unstyled">
											<!--<li><a class="btn btn-mini btn-inverse" href="" onclick="javascript:return false;"><i class="icon-thumbs-up"></i> (?)</a></li>
											<li><a class="btn btn-mini btn-inverse" href="" onclick="javascript:return false;"><i class="icon-comments"></i> (?)</a></li>
											<li><a class="btn btn-mini btn-inverse" href="" onclick="javascript:return false;"><i class="icon-camera"></i> (?)</a></li>-->
										</ul>
									</div>
								</div>
						
							<?endforeach;?>
						<?else:?>
							Мы не нашли гостиниц поблизости :(
						<?endif;?>
					</div>
					
						
				</div>
				<div class="span3 offset1">
					<div class="add_block">											
						<p>Не нашли свою гостиницу в городе?</p>
						<a href="/hotels/zayavka" type="submit" class="btn btn-warning btn-large"><i class="icon-plus-sign"></i> Добавить гостиницу</a>
					</div>
					<?//php echo $this->partial('partials/advert.phtml'); ?>
				</div>

			</div>
		<?else:?>
			К сожалению мы не смогли найти город, который вы искали
		<?endif;?>
	</div>
</div>