<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() { 
	/* При успешной загрузке API выполняется соответствующая функция */
	ymaps.ready(function () {
		<? $def_coords = $this->getDefaultCoords(); ?>
		w2dmap.initmap("<?=!empty($this->lat)?$this->lat:$def_coords->coords->lat?>", "<?=!empty($this->lng)?$this->lng:$def_coords->coords->lng?>", <?=$this->zoom?>, "<?=$this->map_type?>");
		
		var places_ids = <?=$this->places_ids?>;
		for (var i in places_ids) {
			//console.log(places_ids[i]);
			Face.place.around.showPlacesById(places_ids[i]);
		}
		
	});
});
</script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54de2d0d428ff78f" async="async"></script>

<div class="container main">
	<div class="page">
		<?if(!empty($this->city)):?>
			<div class="row">
				<div class="span12">
					<?=$this->breadCrumbs(); ?>
					
					<h1>Как добраться <?=$this->city['titleway']?></h1>
					<?php echo $this->partial('partials/menu/menu_city.phtml', array('city_id' => $this->city_id, 'active'=>'map')); ?>
				</div>
			</div>
		
			<div class="row">
				<div class="span12 about_city">

					<div class="about_city">
						<div class="row">

							<div class="span8">																
								
								<div class="map-wrapper">
									<div id="ymaps" class="place-map"></div>
								</div>
								
								<?php echo $this->partial('partials/comments.phtml', array('user' => $this->user)); ?>
							</div>
							<div class="span3 offset1">
								<?php echo $this->partial('partials/advert.phtml'); ?>
							</div>
						</div>
					</div>
				</div>
			</div>
		<?else:?>
			К сожалению мы не смогли найти город, который вы искали
		<?endif;?>
	</div>
</div>