<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54de2d0d428ff78f" async="async"></script>

<div class="container main">
	<div class="page">
		<?if(!empty($this->city)):?>
			<div class="row">
				<div class="span12">
					<?=$this->breadCrumbs(); ?>
					
					<h1>Что посмотреть <?=$this->city['titleplaces']?></h1>
					<?php echo $this->partial('partials/menu/menu_city.phtml', array('city_id' => $this->city_id, 'active'=>'place')); ?>
				</div>
			</div>
			<div class="row">
				<div class="span8">
					<div class="list-places">
						
						<?if(!empty($this->city['places'])):?>
							<?foreach($this->city['places'] as $place):?>
								<div class="item place">
									
									<div class="span2">
										<div class="img-container">
											<a href="/place/<?=$place['id']?>?city=<?=$this->city_id?>"><img src="<?=($place['image_url'] != 'no-image.png') ? $place['image_url'] : '/images/no-image-hotel.png' ?>" alt="Куда поехать на выходные?" /></a>
										</div>
									</div>
									
									<div class="span5">
										<h3><a href="/place/<?=$place['id']?>?city=<?=$this->city_id?>"><?=$place['title']?></a></h3>
										<p><?=!empty($place['long_text'])?$this->cutLongText($place['long_text']):'Описание места еще не добавлено'?></p>
										<ul class="place_stat unstyled">
											<!--<li><a class="btn btn-mini btn-inverse" onclick="javascript:return false;" ><i class="icon-thumbs-up"></i> (?<?//=$place['placeLike']?>)</a></li>
											<li><a class="btn btn-mini btn-inverse" onclick="javascript:return false;" ><i class="icon-comments"></i> (?)</a></li>
											<li><a class="btn btn-mini btn-inverse" onclick="javascript:return false;" ><i class="icon-camera"></i> (?)</a></li>-->
										</ul>
									</div>
								</div>
							<?endforeach;?>
						<?else:?>
							Пока никто не добавил ни одного места в этот город. Вы можете стать первым!
						<?endif;?>

					</div>
					
				</div>
				<div class="span3 offset1">
					<div class="add_block">
						<p>Если вы не нашли в этом городе
						интересное место, которое знаете, вы можете</p>
						
						<?if(!empty($this->user['id'])):?>
							<a href="/places/add?city=<?=$this->city_id?>">
								<button type="submit" class="btn btn-warning btn-large"><i class="icon-plus-sign"></i> Добавить место</button>
							</a>
						<? else: ?>
							<a href="#myModal" data-toggle="modal">
								<button type="submit" class="btn btn-warning btn-large"><i class="icon-plus-sign"></i> Добавить место</button>
							</a>
						<?endif;?>					
						

					</div>
					<?php echo $this->partial('partials/advert.phtml'); ?>
				</div>
			</div>
		<?else:?>
			К сожалению мы не смогли найти город, который вы искали
		<?endif;?>
	</div>
</div>