
<div class="container main">
	<div class="page">
		<?if(!empty($this->city)):?>
			<div class="row">
				<div class="span12">
					<?=$this->breadCrumbs(); ?>

					<h1>Поехать в <?=$this->city['title']?></h1>
					<?php echo $this->partial('partials/menu/menu_city.phtml', array('city_id' => $this->city_id, 'active'=>'travel')); ?>
				</div>
			</div>
			<div class="row">
				<div class="span8">
					<div class="list-places">
						<?if(!empty($this->city['travels'])):?>
							<?foreach($this->city['travels'] as $travel):?>
								<div class="item trip">
									<div class="span7">
										<h3><a href="/travel/<?=$travel['id']?>?city=<?=$this->city_id?>"><?=$travel['title']?></a></h3>
										<p><?=!empty($travel['long_text'])?$this->cutLongText($travel['long_text']):'Текст описания еще не добавлен'?></p>
										
										<?if(!empty($travel['places'])):?>
											<div class="trip_images">
												<?foreach($travel['places'] as $place):?>
													<? $pl_thumb = $this->getPlacethumb($place['id'], $place['image_url']); ?>
													<? if (!empty($pl_thumb)) : ?>
														<img rel="tooltip" data-original-title="<?=$place['title']?> <?=$place['id']?>" src="<?=$pl_thumb?>" alt="" />
													<? endif; ?>
												<?endforeach;?>												
											</div>
										<?endif;?>
										<ul class="place_stat unstyled">
											<!--<li><a class="btn btn-mini btn-inverse" href="" onclick="javascript:return false;"><i class="icon-thumbs-up"></i> (?<?//=$travel['travelLike']?>)</a></li>
											<li><a class="btn btn-mini btn-inverse" href="" onclick="javascript:return false;"><i class="icon-comments"></i> (?)</a></li>
											<li><a class="btn btn-mini btn-inverse" href="" onclick="javascript:return false;"><i class="icon-camera"></i> (?)</a></li>-->
										</ul>
									</div>
								</div>
						
							<?endforeach;?>
						<?else:?>
                            Пока никто не добавил ни одного места в эту поездку. Вы можете стать первым!
						<?endif;?>
					</div>
				</div>
				<div class="span3 offset1">
					<div class="add_block">
						<p>Считает что ваше путешествие было
						намного интереснее?</p>
						<?if(!empty($this->user['id'])):?>
							<a href="/travels/add?city=<?=$this->city_id?>">
								<button type="submit" class="btn btn-warning btn-large"><i class="icon-plus-sign"></i> Добавьте поездку</button>
							</a>
						<? else: ?>
							<a href="#myModal" data-toggle="modal">
								<button type="submit" class="btn btn-warning btn-large"><i class="icon-plus-sign"></i> Добавьте поездку</button>
							</a>
						<?endif;?>							
					</div>
					<?php echo $this->partial('partials/advert.phtml'); ?>
				</div>
			</div>
		<?else:?>
			К сожалению мы не смогли найти город, который вы искали
		<?endif;?>
	</div>
</div>