

			
		<footer id="footer">
			<div class="road"></div>
			<div class="container">
				<div class="footer_text row">
					<div class="span3">
						<h6><span>Место</span></h6>
						<p>
							Места - это достопримечательности, добавленные тобой или другими пользователями. Местами могут быть: крепость, храм, музей, монастырь, памятник природы и т.д. 
							То есть это те объекты, которые планируется посетить за время поездки. Если твое место часто используют, его популярность растет.
						</p>
					</div>
					<div class="span3">
						<h6><span>Поездка</span></h6>
						<p>
							Поездка - это раздел на сайте, посвященный одному из твоих путешествий. Он состоит из нескольких полезных инструментов. Места, добавленные в поездки, образуют план поездки. 
							Описание поездки - это история о твоих приключениях в форме рассказа. Узать, где останавливаться, если поездка расчитана на несколько дней, можно в разделе с гостиницами.							
						</p>
					</div>
					<div class="span3">
						<h6><span>Где остановиться</span></h6>
						<p>
							Всегда под рукой список гостиниц, отелей, домов отдыха в интересующем регионе. Для каждой гостиницы мы выделяем отдельный раздел на сайте. 
							Туда входят подробное описание, фото номеров, цены, возможность бронирования, отзывы клиентов. 
						</p>
					</div>
					<div class="span3">
						<h6><span>Рейтинг</span></h6>
						<p>
							Для каждого места, поездки, гостиницы и самих пользователей ведется учет популярности.
							Рейтинг формируется исходя из количества просмотров, добавлений в избранное, добавлений в поездки, количества комментариев и пр.
							Нажимай на кнопку "Мне нравится" и пиши комментарии к статьям.							
						</p>
					</div>
				</div>
			</div>
			<br />
			<div class="footer_contact">
				<div class="container">
					<div class="row">
						<div class="span9">© 2012 Way2Day.ru — Куда поехать на выходные? <span class="contacts"><i class="icon-envelope-alt"></i> <a href="mailto:hello@way2day.ru">hello@way2day.ru</a></span></div>
						<div class="span3 social">
							<a href="http://vk.com/way2day" class="vkontakte" target="_blank"></a>
							<a href="https://www.facebook.com/way2day" class="facebook" target="_blank"></a>
							<a href="https://twitter.com/share?url=http://way2day.ru/&text=Коллекция исторических путешествий. Куда поехать, что посмотреть, где остановиться." target="_blank"></a>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>

