<script type="text/javascript">
	$(document).ready(function() { 
		Face.header.init();		
	});
</script>

<!-- Модальное окно для логина. Вызывается из попапа с регистрацией -->
<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="align-center" id="myModalLabel">Вход на сайт</h3>
	</div>
	<div class="modal-body align-center">
		<div class="guest_menu">

			<span id="auth_error_txt" style="display:none;">Не верная пара значений логин - пароль.</span>
			
			<form class="login" action="" method="post">
				
				<div id="email_field" class="control-group">
					<label class="control-label" for="inputIcon">Электронная почта</label>
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-envelope-alt"></i></span>
							<input id="input_email" type="text" tabindex="1">
							<br />
							<span id="email_error_txt" class="help-inline" style="display:none">Заполните, пожалуйста, это поле.</span>
						</div>
					</div>
				</div>

				<div id="password_field" class="control-group">
					<label class="control-label" for="inputIcon">Пароль <a href="" id="remember_pass">(Вспомнить)</a></label>
					<div class="controls">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-key"></i></span>
							<input id="input_pass" type="password" tabindex="2">
							<br />
							<span id="pass_error_txt" class="help-inline" style="display:none">Заполните, пожалуйста, это поле.</span>
						</div>
					</div>
				</div>

				<div class="control-group">
					<div class="controls sinein">							
						<a id="registration_link" href="#registration_modal" data-toggle="modal"> Зарегистрироваться</a>
					</div>
				</div>
				
				<input type="hidden" id="w2d_redirect_uri" value="<?=$this->baseUrl();?><?=$_SERVER['REQUEST_URI']?>">
				
				<div class="control-group">
					<button id="login_btn" type="submit" class="btn btn-large btn-warning">Войти</button>
				</div>
				
			</form>

			<p class="lead">Вы так же можете войти используя</p>
			<a href="<?=$this->baseUrl()?>/auth/vk/?w2d_redirect_uri=<?=$this->baseUrl();?><?=$_SERVER['REQUEST_URI']?>" class="btn btn-large btn-warning">
				<i class="icon-vkontakte-auth"></i> Вконтакте
			</a>  или						
			<a href="<?=$this->baseUrl()?>/auth/fb/?w2d_redirect_uri=<?=$this->baseUrl();?><?=$_SERVER['REQUEST_URI']?>" class="btn btn-large btn-warning">
				<i class="icon-facebook-auth"></i> Facebook
			</a> 
			<br/><br/><br/>
		</div>
	</div>
</div>

<!-- Модальное окно для регистрации. Вызывается со всех страниц нажатием на кнопку "Вход" -->
<div class="modal hide fade" id="registration_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="align-center" id="myModalLabel">Давайте познакомимся!</h3>
    </div>
    <div class="modal-body align-center">
        <div class="guest_menu">

            <span id="auth_error_txt" style="display:none;">Не верная пара значений логин - пароль.</span>

            <form class="login" action="" method="post">

                <div id="reg_uname_field" class="control-group">
                    <div class="controls">
                        <!--<label class="control-label" for="uemail">Как вас зовут?</label>-->
                        <div class="input-prepend">
                            <span class="add-on"><i class="glyphicon-user"></i></span>
                            <input id="uname" type="text" name="uname" placeholder="Как вас зовут?">
                            <br />
                            <span id="reg_uname_error_txt" class="help-inline" style="display:none">Заполните, пожалуйста, это поле.</span>
                        </div>
                    </div>
                </div>
                <div id="reg_email_field" class="control-group">
                    <!--<label class="control-label" for="uemail">Ваш электронный адрес</label>-->
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-envelope-alt"></i></span>
                            <input type="text" name="uemail" id="uemail" placeholder="Ваш электронный адрес">
                            <br />
                            <span id="reg_email_error_txt" class="help-inline" style="display:none">Заполните, пожалуйста, это поле.</span>
                        </div>
                    </div>
                </div>
                <div id="reg_password_field1" class="control-group">
                    <!--label class="control-label" for="pass1">Пароль</label>-->
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-key"></i></span>
                            <input type="password" name="pass1" id="pass1" placeholder="Придумайте пароль">
                            <br />
                            <span id="reg_pass_error_txt1" class="help-inline" style="display:none">Заполните, пожалуйста, это поле.</span>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls sinein">
                        <a id="already_reg" href="#myModal" data-toggle="modal">&nbsp;Уже зарегистрирован</a>
                    </div>
                </div>

                <input type="hidden" id="w2d_redirect_uri" value="<?=$this->baseUrl();?><?=$_SERVER['REQUEST_URI']?>">

                <div class="control-group">
                    <button id="signin_btn" type="submit" class="btn btn-large btn-warning">Войти</button>
                </div>

            </form>

            <p class="lead">Вы так же можете войти используя</p>
            <a href="<?=$this->baseUrl()?>/auth/vk/?w2d_redirect_uri=<?=$this->baseUrl();?><?=$_SERVER['REQUEST_URI']?>" class="btn btn-large btn-warning">
                <i class="icon-vkontakte-auth"></i> Вконтакте
            </a>  или
            <a href="<?=$this->baseUrl()?>/auth/fb/?w2d_redirect_uri=<?=$this->baseUrl();?><?=$_SERVER['REQUEST_URI']?>" class="btn btn-large btn-warning">
                <i class="icon-facebook-auth"></i> Facebook
            </a>
            <br/><br/><br/>
        </div>
    </div>
</div>

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/"></a>
            <? if (Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'search') : ?>
                <form class="navbar-search pull-left" action="/search/index">
                    <input type="text" class="search-query span2" placeholder="Куда поехать?" name="keyphrase">
                </form>
            <? endif; ?>
			<div class="nav-collapse pull-right">
				<?if (!empty($this->user)) : ?>
					<div class="user_menu">
						
						<ul class="nav">
							<li>
								<div>
									<a class="btn btn-small btn-primary <? if ($this->getAction() == "places") { echo 'active'; }?>" href="/user/<?=$this->user['id']?>/places"><i class="icon-map-marker"></i>Мои места</a>

								</div>
							</li>
                            <li>
                                <div>
                                    <a class="btn btn-small btn-primary <? if ($this->getAction() == "city") { echo 'active'; }?>" href="/user/<?=$this->user['id']?>/cities"><i class="icon-map-marker"></i>Мои города</a>

                                </div>
                            </li>
                            <? if ($this->showTravels()) : ?>
                                <li>
                                    <div>
                                        <a class="btn btn-small btn-primary <? if ($this->getAction() == "travels") {echo 'active';}?>" href="/user/<?=$this->user['id']?>/travels"><i class="icon-list-ul"></i>Мои поездки</a>
                                    </div>
                                </li>
                            <? endif; ?>
							<li>
								<div class="btn-group" id="add-place-btn-block">
                                    <? if ($this->showTravels()) { ?>
                                        <a id="add-place-btn" href="#" class="btn dropdown-toggle btn-small btn-primary" data-toggle="dropdown">
                                            <i class="icon-plus-sign"></i>Добавить <span class="caret"></span>
                                        </a>
                                    <? } else { ?>
                                        <a id="add-place-btn" href="#" class="btn dropdown-toggle btn-small btn-primary" data-toggle="dropdown">
                                            <i class="icon-plus-sign"></i>
                                        </a>
                                    <? } ?>
									<ul class="dropdown-menu">
										<li><a href="/places/add">Добавить свое место</a></li>
                                        <li><a href="/city/add">Добавить свой город</a></li>
                                        <? if ($this->showTravels()) : ?>
										    <li><a href="/travels/add">Добавить поездку</a></li>
                                        <? endif; ?>
									</ul>
								</div>
							</li>
						</ul>
						
						<ul class="nav">
							<li class="dropdown" id="add-travel-btn-block">
								
								<a id="add-travel-btn" href="#" class="dropdown-toggle" data-toggle="dropdown">
									<img class="avatar" src="<?=$this->getAvatar($this->user['id'])?>" alt="" /> <b class="caret"></b>
								</a>

								<ul class="dropdown-menu">
									<li><a href="/user/<?=$this->user['id']?>">Личный кабинет</a></li>
									<li><a href="/user/<?=$this->user['id']?>/options">Настройки</a></li>
									<li class="divider"></li>
									<li><a id="logout_button" class="logout" href="/auth/logout">Выход</a></li>
								</ul>
								
							</li>
						</ul>

					</div>
				<?else:?>
					<div class="guest_menu">							
						<ul class="nav">
							<li class="social_login">
								Войти через 
								<div class="btn btn-mini btn-warning" type="button">
									<a class="vk" href="<?=$this->baseUrl()?>/auth/vk/?w2d_redirect_uri=<?=$this->baseUrl();?><?=$_SERVER['REQUEST_URI']?>">
										<img src="/images/icon_16_vk.png" alt="" /> Вконтакте
									</a>
								</div>
								или
								<div class="btn btn-mini btn-warning" type="button">
									<a class="fb" href="<?=$this->baseUrl()?>/auth/fb/?w2d_redirect_uri=<?=$this->baseUrl();?><?=$_SERVER['REQUEST_URI']?>">
										<img src="/images/icon_16_fb.png" alt="" /> Facebook												
									</a>
								</div>
							</li>
							<li>
								<a href="#registration_modal" data-toggle="modal"><i class="icon-key"></i> Вход</a>
							</li>
						</ul>
					</div>
				<? endif; ?>
			</div>
		</div>
	</div>
</div>