<h1>Регистрация</h1>
<span class="reg_text">Это легко, быстро и бесплатно</span>
<br /><br />
<form name="registration" action="<?php echo $this->url(array('controller'=>'auth', 'action'=>'signin'));?>" method="post">
    <div class="form_field">
        <label for="ulogin">Имя:</label>
        <input class="inputtext" id="ulogin" name="ulogin" value="" type="text" />
    </div>
    <div class="form_field">
        <label for="upass">Пароль:</label>
        <input class="inputtext" id="upass" name="upass" value="" type="password" />
    </div>
    <div class="form_field">
        <label for="confirm_upass">Еще разок:</label>
        <input class="inputtext" id="confirm_upass" name="confirm_upass" value="" type="password" />
    </div>
    <div class="form_field">
        <label for="uemail">Е-Mail:</label>
        <input class="inputtext" id="uemail" name="uemail" value="" type="text" />
    </div>
    <div class="reg_btn">
        <br />
        <label class="ajax_reg_but">
            <input value="Регистрация" onclick="" type="submit" />            
        </label>
    </div>
</form>