<script type="text/javascript">$(document).ready(function() { Filter.init(); });</script>

<div class="filter">

	<?// var_dump($this->days); ?>
	
	Выбрать поездку на&nbsp;&nbsp;		
	<select id="days" name="days">
		<option value="-1" <?=($this->days == -1) ? 'selected' : '' ?>>-- не важно -- </option>
		<option value="1" <?=($this->days == 1) ? 'selected' : '' ?>>1 день</option>
		<option value="2" <?=($this->days == 2 || (empty($this->days) && $this->distance == null)) ? 'selected' : '' ?>>2 дня</option>
		<option value="3" <?=($this->days == 3) ? 'selected' : '' ?>>3 дня</option>
		<option value="4" <?=($this->days == 4) ? 'selected' : '' ?>>4 дня</option>
	</select>		

	&nbsp;&nbsp;расстояние от КАД до&nbsp;&nbsp;
	<select id="distance" name="distance">
		<option value="-1" <?=($this->distance == -1) ? 'selected' : '' ?>> -- не важно -- </option>
		<option value="50" <?=($this->distance == 50) ? 'selected' : '' ?>>50</option>
		<option value="100" <?=($this->distance == 100 || empty($this->distance)) ? 'selected' : '' ?>>100</option>
		<option value="150" <?=($this->distance == 150) ? 'selected' : '' ?>>150</option>
		<option value="200" <?=($this->distance == 200) ? 'selected' : '' ?>>200</option>
		<option value="250" <?=($this->distance == 250) ? 'selected' : '' ?>>250</option>
		<option value="300" <?=($this->distance == 300) ? 'selected' : '' ?>>300</option>
		<option value="350" <?=($this->distance == 350) ? 'selected' : '' ?>>350</option>
		<option value="400" <?=($this->distance == 400) ? 'selected' : '' ?>>400</option>
	</select>	

	&nbsp;&nbsp;район&nbsp;&nbsp;
	<select id="region" name="region">
		<option value="0" <?=($this->region == -1) ? 'selected' : ''?>>-- не важно -- </option>
		<? foreach ($this->regions as $region) { 
			$selected = ($region->id == $this->region) ? 'selected' : '';
		?>			
		<option value="<?=$region->id?>" <?=$selected?>><?=$region->name?></option>
		<? } ?>
	</select>

</div>