<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<link rel="stylesheet" href="/js/fileupload/css/jquery.fileupload-ui.css" />
<link rel="stylesheet" href="http://blueimp.github.com/Bootstrap-Image-Gallery/css/bootstrap-image-gallery.min.css" />

<script type="text/javascript">$(document).ready(function() { 
	// Подключается тот же что и к редактированию, потому что делает то же самое
	Face.travel.edit.start(<?=$this->user_id?>, <?=$this->travel_id?>);
	Face.listener.start();
});</script>

<div class="container main">
	<div class="page">
		<div class="row">
			<div class="span12">
				<?=$this->breadCrumbs(); ?>
				<h1>Новая поездка</h1>
			</div>
		</div>
		
		<div class="row">
			<div class="span12 about_city">
			
				<div class="about_city">
					<div class="row">
						<div class="span12">
													
							<form id="create_travel_form" class="form-horizontal" action="" method="post">
								<div class="control-group <?if(!empty($this->error['title'])) {echo 'error';} elseif(!empty($this->success['title'])) {echo "success";}?>">
									<label class="control-label" for="title">Название поездки</label>
									<div class="controls">
										<input class="span6" type="text" name="title" value="<?if(!empty($this->title)) {echo $this->title;}?>"/>										
										<? if(!empty($this->error['title'])):?>
											<span class="help-inline"><?=$this->error['title']?></span>
										<? elseif(!empty($this->success['title'])):?>
											<span class="help-inline"><?=$this->success['title']?></span>
										<? endif;?>	
										<span class="help-block">Придумайте уникальное название поездки, которую вы хотите добавить. Пусть это будет <span class="help-inline white-color">"Земля семи озер"</span>, <br />
											<span class="help-inline white-color">"Новогодняя сказка"</span>, <span class="help-inline white-color">"К центру древней Руси"</span>, чем красочнее тем лучше. Пофантазируйте.
										</span>
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label" for="inputEmail">Описание поездки</label>
									<div class="controls">
										<textarea class="span6" name="long_text"><?if(!empty($this->long_text)){ echo $this->long_text; }?></textarea>
										<span class="help-block">
											Добавьте краткое описание, например: <br /><br />
											<span class="help-inline white-color">"На прошлые майские праздники мы с семьей решили посмотреть Древнерусский город Ярославль. По пути<br />
											заехали в Вологду и Кастрому. Поездка была расчитана на 3 дня. Вот как это было."</span>.<br /></span>
									</div>
								</div>
								
								<input name="travel_id" type="hidden" value="<?=$this->travel_id?>">
								
								<div class="control-group">
									<div class="controls">
										<button type="submit" class="btn btn-large btn-warning" id="add_place_btn">Добавить поездку</button>
									</div>
								</div>								
							</form>							
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<h1>Описание поездки</h1>
		
		<div class="row">
			<div class="span12 about_city">

				<div class="about_city">
					<div class="row">
						<div class="span12">

							<form id="fileupload" action="<?=$this->getStorageUrl();?>" method="POST" enctype="multipart/form-data">
								<div class="row fileupload-buttonbar">
									<div class="span7">
										<span class="btn fileinput-button">
											<i class="icon-picture icon-white"></i>
											<span>Выбрать фотографии</span>
											<input type="file" name="files[]" multiple>
										</span>
									</div>
									<div class="span5 fileupload-progress fade dark">
										<div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
											<div class="bar" style="width:0%;"></div>
										</div>
										<div class="progress-extended">&nbsp;</div>
									</div>
								</div>
								<div class="fileupload-loading"></div>

								<script type="text/javascript">
									$(document).bind('dragover', function (e) {
										var dropZone = $('#dropzone'),
											timeout = window.dropZoneTimeout;
										if (!timeout) {
											dropZone.addClass('in');
										} else {
											clearTimeout(timeout);
										}
										if (e.target === dropZone[0]) {
											dropZone.addClass('hover');
										} else {
											dropZone.removeClass('hover');
										}
										window.dropZoneTimeout = setTimeout(function () {
											window.dropZoneTimeout = null;
											dropZone.removeClass('in hover');
										}, 100);
									});

								</script>

								<div id="dropzone" class="fade"><i class="icon-picture icon-white"></i> Перетащите фотографии на это место</div>
								<table role="presentation" class="table dark table-striped">
									<ul class="files" id="sortable" data-toggle="modal-gallery" data-target="#modal-gallery" data-selector="img.gallery-item">

									</ul>
								</table>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="span12">
				
				<!-- Шаблон всплывающего окна галереи -->
				<?php echo $this->partial('partials/modal-gallery.phtml'); ?>
				
				<!-- The template to display files available for upload -->
				<script id="template-upload" type="text/x-tmpl">

				{% for (var i=0, file; file=o.files[i]; i++) { %}
				
					<tr class="template-upload fade">
						<td class="preview"><label class="hint gallery-label" title="Сделать главной<br/>картинкой «Места»" for="img_{%=file.name%}"><input id="img_{%=file.name%}"  type="radio" name="radiobutton"/><span class="fade"></span></label></td>
						<td class="name"><span>{%=file.name%}</span></td>
						<td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
						{% if (file.error) { %}
							<td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
						{% } else if (o.files.valid && !i) { %}
							<td>
								<div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
							</td>
						{% } else { %}
							<td colspan="2"></td>
						{% } %}
						<td class="cancel">{% if (!i) { %}
							<button class="btn">
								<i class="icon-ban-circle icon-white"></i>
							</button>
						{% } %}</td>
					</tr>
				{% } %}
				</script>

				<!-- Список загруженных файлов в отдельном шаблоне -->
				<?php echo $this->partial('partials/upload-files-list.phtml'); ?>
				<script src="/js/fileupload/js/main.js"></script>

			</div>
		</div>

	</div>
</div>

<pre><?print_r($this->error);?></pre>