<link rel="stylesheet" href="/js/fileupload/css/jquery.fileupload-ui.css" />
<link rel="stylesheet" href="http://blueimp.github.com/Bootstrap-Image-Gallery/css/bootstrap-image-gallery.min.css" />

<script type="text/javascript">$(document).ready(function() { 
	// Подключается тот же что и к редактированию, потому что делает то же самое
	Face.travel.edit.start(<?=$this->user_id?>, <?=$this->travel_id?>);
	Face.listener.start();
});</script>

<div class="container main">
	<div class="page">
		
		<?if(!empty($this->travel)):?>

			<div class="row">
				<div class="span12">
					
					<ul class="breadcrumb">
						<li><a href="<?=$this->BaseUrl()?>">Куда поехать на выходные?</a></li>
						<li><strong><a href="<?=$this->BaseUrl()?>/travel/<?=$this->travel_id?>"><?=$this->travel['title']?></a></strong></li>
					</ul>
					
					<h1>Редактирование поездки <?=$this->travel['title']?></h1>
				</div>
			</div>

			<div class="row">
				<div class="span12">
					<?php echo $this->partial('partials/alert.phtml'); ?>
					<?php echo $this->partial('partials/menu/travel_edit.phtml', array('travel_id' => $this->travel_id,'active'=>$this->active)); ?>
					<?php echo $this->partial('partials/upload-files-list.phtml'); ?>
				</div>
			</div>
		
			<div class="row">
				<div class="span12 about_city">

					<div class="about_city">
						<div class="row">
							<div class="span12">

								<form id="fileupload" action="<?=$this->getStorageUrl();?>" method="POST" enctype="multipart/form-data">
									<div class="row fileupload-buttonbar">
										<div class="span7">
											<span class="btn fileinput-button">
												<i class="icon-picture icon-white"></i>
												<span>Выбрать фотографии</span>
												<input type="file" name="files[]" multiple>
											</span>
										</div>
										<div class="span5 fileupload-progress fade dark">
											<div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
												<div class="bar" style="width:0%;"></div>
											</div>
											<div class="progress-extended">&nbsp;</div>
										</div>
									</div>
									<div class="fileupload-loading"></div>

									<script type="text/javascript">
										$(document).bind('dragover', function (e) {
											var dropZone = $('#dropzone'),
												timeout = window.dropZoneTimeout;
											if (!timeout) {
												dropZone.addClass('in');
											} else {
												clearTimeout(timeout);
											}
											if (e.target === dropZone[0]) {
												dropZone.addClass('hover');
											} else {
												dropZone.removeClass('hover');
											}
											window.dropZoneTimeout = setTimeout(function () {
												window.dropZoneTimeout = null;
												dropZone.removeClass('in hover');
											}, 100);
										});

									</script>

									<div id="dropzone" class="fade"><i class="icon-picture icon-white"></i> Перетащите фотографии на это место</div>
									<div role="presentation" class="table dark table-striped">
										<ul class="files" id="sortable" data-toggle="modal-gallery" data-target="#modal-gallery" data-selector="img.gallery-item">

										</ul>
									</div>
									
									<div class="control-group">
										<div class="controls">
											<button type="submit" class="btn btn-large btn-warning" id="add_place_btn">Сохранить изменения</button>
										</div>
									</div>
									
								</form>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			
		<? else:?>
			<div class="row">
				<div class="span12">
					Вы не можете редактировать чужое место
				</div>
			</div>
		<?endif;?>

	</div>
</div>

