<script type="text/javascript">$(document).ready(function() { Face.travel.init(); });</script>

<div class="container main">
	<div class="page">
		
		<?if(!empty($this->travel)):?>

			<div class="row">
				<div class="span12">
					<ul class="breadcrumb">
						<li><a href="<?=$this->BaseUrl()?>">Куда поехать на выходные?</a></li>
						<li><strong><a href="<?=$this->BaseUrl()?>/travel/<?=$this->travel_id?>"><?=$this->travel['title']?></a></strong></li>
					</ul>
					<h1>Редактирование поездки <?=$this->travel['title']?></h1>
				</div>
			</div>

			<div class="row">
				<div class="span12">
					<?php echo $this->partial('partials/alert.phtml'); ?>
					<?php echo $this->partial('partials/menu/travel_edit.phtml', array('travel_id' => $this->travel_id,'active'=>$this->active)); ?>
				</div>
			</div>
		
			<div class="row">
				<div class="span12 about_city">

					<?if(!empty($this->travel['places'])):?>					
						<div class="span8">
							<div class="list-places">
								<?foreach($this->travel['places'] as $day => $places):?>
									<div class="day" days="<?=$day?>">
										<h2>
											<?if($day == 0) :?>
												1ый день поездки
											<?else :?>
												<?=$day?> день поездки
											<?endif;?>
										</h2>
										<?foreach($places as $place):?>
											<div class="item place">
												
												<?if(!empty($place['day_list'])):?>
													<div class="btn-group changable btn-edit change-day-cl">
														<a class="btn dropdown-toggle btn-mini btn-text <?=($place['day_list']['active'] == ' - - - Выберите день поездки - - - ')?'btn-danger':'btn-inverse'?>" data-toggle="dropdown" href="#">
															<?=$place['day_list']['active']?><span class="caret"></span>
														</a>
														<?if(!empty($place['day_list']['list'])):?>
															<ul class="dropdown-menu" place="<?=$place['id']?>" travel="<?=$this->travel_id?>">
																<?foreach($place['day_list']['list'] as $key=>$day):?>
																	<li day="<?=$key?>"><a><?=$day?></a></li>
																<?endforeach;?>															
															</ul>
														<?endif;?>
													</div>											
												<?endif;?>
												
												<div class="span2">
													<div class="img-container">
														<a href="/place/<?=$place['id']?>?travel=<?=$this->travel_id?><?=$this->user_in_url?>"><img src="<?=($place['image_url'] != 'no-image.png') ? $place['image_url'] : '/images/no-image-hotel.png' ?>" alt="" /></a>
													</div>
												</div>
												<div class="span5">

													<h3><a href="/place/<?=$place['id']?>?travel=<?=$this->travel_id?><?=$this->user_in_url?>"><?=$place['title']?></a></h3>
													<p><?=$this->cutLongText($place['long_text'])?></p>
													<!--<ul class="place_stat unstyled">
														<li><a class="btn btn-mini btn-inverse" href=""><i class="icon-thumbs-up"></i> (9)</a></li>
														<li><a class="btn btn-mini btn-inverse" href=""><i class="icon-comments"></i> (5)</a></li>
														<li><a class="btn btn-mini btn-inverse" href=""><i class="icon-camera"></i> (22)</a></li>
													</ul>-->

												</div>
											</div>
										<?endforeach;?>
									</div>
								<?endforeach;?>
							</div>				
						</div>
					<?else:?>				
						<h3>В этой поездке пока нет мест</h3>
						<a href="/places/add?user=<?=$this->user['id']?>&travel=<?=$this->travel_id?>">
							<button class="btn btn-warning btn-large" type="submit"><i class="icon-plus-sign"></i> Добавьте место</button>
						</a>
						<br /><br />
					<?endif;?>
				</div>
			</div>
			
		<?else:?>
			<div class="row">
				<div class="span12">
					Вы не можете редактировать чужое место
				</div>
			</div>
		<?endif;?>

	</div>
</div>

