<link rel="stylesheet" href="/js/fileupload/css/jquery.fileupload-ui.css" />

<div class="container main">
	<div class="page">
		
		<?if(!empty($this->travel)):?>

			<div class="row">
				<div class="span12">
					<?=$this->breadCrumbs(); ?>
					<h1>Редактирование поездки <?=$this->travel['title']?></h1>
				</div>
			</div>

			<div class="row">
				<div class="span12">
					<?php echo $this->partial('partials/alert.phtml'); ?>
					<?php echo $this->partial('partials/menu/travel_edit.phtml', array('travel_id' => $this->travel_id,'active'=>$this->active)); ?>
				</div>
			</div>
		
			<div class="row">
				<div class="span12 about_city">

					<div class="about_city">
						<div class="row">
							<div class="span12">

								<form id="create_travel_form" class="form-horizontal" action="" method="post">
									<div class="control-group <?if(!empty($this->error['title'])) {echo 'error';} elseif(!empty($this->success['title'])) {echo "success";}?>">
										<label class="control-label" for="title">Название поездки</label>
										<div class="controls">
											<input class="span6" type="text" name="title" value="<?if(!empty($this->travel['title'])) {echo $this->travel['title'];}?>"/>										
											<? if(!empty($this->error['title'])):?>
												<span class="help-inline"><?=$this->error['title']?></span>
											<? elseif(!empty($this->success['title'])):?>
												<span class="help-inline"><?=$this->success['title']?></span>
											<? endif;?>	
											<span class="help-block">Придумайте уникальное название поездки, которую вы хотите добавить. Пусть это будет <span class="<?=empty($this->error['title'])?'white-color':''?>">"Земля семи озер"</span>, <br />
												<span class="<?=empty($this->error['title'])?'white-color':''?>">"Новогодняя сказка"</span>, <span class="<?=empty($this->error['title'])?'white-color':''?>">"К центру древней Руси"</span>, чем красочнее тем лучше. Пофантазируйте.
											</span>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label" for="inputEmail">Описание поездки</label>
										<div class="controls">
											<textarea class="span6" name="long_text"><?if(!empty($this->travel['long_text'])){ echo $this->travel['long_text']; }?></textarea>
											<span class="help-block">
												Добавьте краткое описание, например: <br /><br />
												<span class="<?=empty($this->error['title'])?'white-color':''?>">"На прошлые майские праздники мы с семьей решили посмотреть Древнерусский город Ярославль. По пути<br />
												заехали в Вологду и Кастрому. Поездка была расчитана на 3 дня. Вот как это было."</span>.<br /></span>
										</div>
									</div>

									<div class="control-group">
										<div class="controls">
											<button type="submit" class="btn btn-large btn-warning" id="add_place_btn">Сохранить изменения</button>
										</div>
									</div>
									
								</form>
								
							</div>
						</div>
					</div>
				</div>
			</div>

		<? else: ?>
			<div class="row">
				<div class="span12">
					Вы не можете редактировать чужое место
				</div>
			</div>
		<?endif;?>
		
	</div>
</div>

