<?//ВЫВЕСТИ НА РЕАЛЬНОМ СЕРВЕРЕ=$this->getConfig('ymapskey')?>
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">$(document).ready(function() { 
	/* При успешной загрузке API выполняется соответствующая функция */
	ymaps.ready(function () {
		<? $def_coords = $this->getDefaultCoords(); ?>
		w2dmap.initmap("<?=!empty($this->lat)?$this->lat:$def_coords->coords->lat?>", "<?=!empty($this->lng)?$this->lng:$def_coords->coords->lng?>", <?=$this->zoom?>, "<?=$this->map_type?>");
		Face.travel.init();
	});
});
</script>

<div class="container main">
	<div class="page">
		<?if(!empty($this->travel)):?>
			<div class="row">
				<div class="span12">
					<?=$this->breadCrumbs(); ?>

					<h1>Как добраться в поездке &laquo;<?=$this->travel['title']?>&raquo;</h1>			
					<?php echo $this->partial('partials/alert.phtml'); ?>
					<?php echo $this->partial('partials/menu/menu_travel.phtml', array('travel_id' => $this->travel_id,'active'=>'map')); ?>
				</div>
			</div>
			
			<div class="row">
				<div class="span12 about_city">

					<div class="about_city">
						<div class="row">

							<div class="span8">
								
								<div class="map-wrapper">
									<div id="ymaps" class="place-map"></div>
								</div>
									
								<?php echo $this->partial('partials/comments.phtml', array('user' => $this->user)); ?>
							</div>
							<div class="span3 offset1">
								<div class="user_info">
									<a href="/user/<?=$this->getTravelAuthorId($this->travel_id)?>"><img class="avatar" src="<?=$this->getTravelAuthorPhoto($this->travel_id)?>" alt="" /></a>
									<p>Поездку добавил <a href="/user/<?=$this->getTravelAuthorId($this->travel_id)?>"><?=$this->getTravelAuthorName($this->travel_id)?></a></p>
								</div>
								
								<hr/>
								
								<?if(!empty($this->user['id'])):?>
									<?if(empty($this->travel_like)):?>
										<a class="btn btn-success btn-large travel-like" name="<?=$this->travel_id?>">
											<i class="icon-thumbs-up"></i> <span>Мне нравится</span>
										</a>
									<?else:?>
										<a class="btn btn-large travel-unLike" name="<?=$this->travel_id?>">
											<i class="icon-thumbs-up"></i> <span>Уже не нравится</span>
										</a>
									<?endif;?>
								<?endif;?>

								<div class="about-links">
									<?if(empty($this->my_travel)):?>
										<?if(empty($this->user_in_url)) :?>
											<?if(!empty($this->user['id'])):?>
												<a>
													<div class="travel-unFav <?if(empty($this->travel_fav)) {echo"hide";}?>" name="<?=$this->travel_id?>">
														Убрать поездку из избранных
													</div>

													<div class="travel-fav <?if(!empty($this->travel_fav)) {echo"hide";}?>" name="<?=$this->travel_id?>">
														Запомнить эту поездку
													</div>												
												</a>
											<?else :?>
												<a href="#myModal" data-toggle="modal">
													<div class="place-unFav" name="<?=$this->place_id?>">
														Запомнить эту поездку
													</div>
												</a>
											<?endif;?>
										<?endif;?>
									<?else:?>
										<a href="/places/add?user=<?=$this->user['id']?>&travel=<?=$this->travel_id?>">
											<button class="btn btn-warning btn-large" type="submit"><i class="icon-plus-sign"></i> Добавь в поездку место</button>
										</a>
										<a href="/travel/<?=$this->travel_id?>/edit?user=<?=$this->user['id']?>">
											Редактировать эту поездку
										</a>
										<a href="#myModal<?=$this->travel_id?>" data-toggle="modal">
											Удалить эту поездку
										</a>
									<?endif;?>
								</div>

								<?php echo $this->partial('partials/advert.phtml'); ?>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		
		<?else:?>
			К сожалению мы не смогли найти поездку, которую вы искали
		<?endif;?>
	</div>
</div>

<?if(!empty($this->my_travel)):?>
	<div class="modal hide fade" id="myModal<?=$this->travel_id?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>		
			<h3 class="align-center" id="myModalLabel">Подтверждение удаления</h3>
		</div>
		<div class="modal-body align-center">
			<div class="guest_menu">							
				<p class="lead">Вы уверены, что хотите удалить поездку «<?=$this->travel['title']?>»?</p>
				<a href="/travels/delete?id=<?=$this->travel_id?>&user=<?=$this->user['id']?>" class="btn btn-large btn-warning">ДА</a>
				<a href="" class="btn btn-large btn-warning">НЕТ</a>						
				<br/><br/><br/>
			</div>
		</div>
	</div>
<?endif;?>