<script type="text/javascript">$(document).ready(function() { Face.travel.init(); });</script>

<div class="container main">
	<div class="page">
		<?if(!empty($this->travel)):?>
			<div class="row">
				<div class="span12">
					<?=$this->breadCrumbs(); ?>

					<h1>Что посмотреть в поездке &laquo;<?=$this->travel['title']?>&raquo;</h1>		
					<?php echo $this->partial('partials/alert.phtml'); ?>
					<?php echo $this->partial('partials/menu/menu_travel.phtml', array('travel_id' => $this->travel_id,'active'=>'plan')); ?>
				</div>
			</div>
		
			<div class="row">
				<div class="span8">					
					<?if(!empty($this->travel['places'])):?>					
						<div class="list-places">
							
							<?foreach($this->travel['places'] as $day => $places):?>
								<div class="day" days="<?=$day?>">
									<h2>
										<?if($day == 0) :?>
											1ый день поездки
										<?else :?>
											<?=$day?> день поездки
										<?endif;?>
									</h2>
									<?foreach($places as $place):?>
										<div class="item place">
											
											<?if(!empty($this->user['id']) && $this->user['id'] == $this->travel['author']):?>
												
												<?/*if(!empty($place['day_list'])):?>
													<div class="btn-group changable btn-edit change-day-cl">
														<a class="btn dropdown-toggle btn-mini btn-text <?=($place['day_list']['active'] == ' - - - Выберите день поездки - - - ')?'btn-danger':'btn-inverse'?>" data-toggle="dropdown" href="#">
															<?=$place['day_list']['active']?><span class="caret"></span>
														</a>
														<?if(!empty($place['day_list']['list'])):?>
															<ul class="dropdown-menu" place="<?=$place['id']?>" travel="<?=$this->travel_id?>">
																<?foreach($place['day_list']['list'] as $key=>$day):?>
																	<li day="<?=$key?>"><a><?=$day?></a></li>
																<?endforeach;?>															
															</ul>
														<?endif;?>
													</div>											
												<?endif;*/?>
											
												<div class="btn-group pull-right btn-edit">
													<button class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown">
														<i class="icon-cog"></i>
														<span class="caret"></span>
													</button>
													<ul class="dropdown-menu">
														<li><a href="#myModal<?=$place['id']?>" data-toggle="modal"><i class="icon-trash"></i> Убрать место из поездки</a></li>
													</ul>
												</div>
											
												<div class="modal hide fade" id="myModal<?=$place['id']?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
														<h3 class="align-center" id="myModalLabel">Подтверждение удаления</h3>
													</div>
													<div class="modal-body align-center">
														<div class="guest_menu">							
															<p class="lead">Вы уверены, что хотите убрать это место "<?=$place['title']?>" из поездки «<?=$this->travel['title']?>»?</p>
															<a href="/travels/deleteplace?place_id=<?=$place['id']?>&travel_id=<?=$this->travel['id']?>&user_id=<?=$this->user['id']?>" class="btn btn-large btn-warning">ДА</a>
															<a href="" class="btn btn-large btn-warning">НЕТ</a>						
															<br/><br/><br/>
														</div>
													</div>
												</div>
											
											<?endif;?>
											
											<div class="span2">
												<div class="img-container">
													<a href="/place/<?=$place['id']?>?travel=<?=$this->travel_id?><?=$this->city_in_url?>"><img  width="269px" height="202px" src="<?=($place['image_url'] != 'no-image.png') ? $place['image_url'] : '/images/no-image-hotel.png' ?>" alt="Куда поехать на выходные - way2day.ru" /></a>
												</div>
											</div>
											<div class="span5">

												<h3><a href="/place/<?=$place['id']?>?travel=<?=$this->travel_id?><?=$this->city_in_url?>"><?=$place['title']?></a></h3>												
												<p><?=!empty($place['long_text'])?$this->cutLongText($place['long_text']):'Описание места еще не добавлено'?></p>												
												<!--<ul class="place_stat unstyled">
													<li><a class="btn btn-mini btn-inverse" href="" onclick="javascript:return false;"><i class="icon-thumbs-up"></i> (?<?//=$place['placeLike']?>)</a></li>
													<li><a class="btn btn-mini btn-inverse" href="" onclick="javascript:return false;"><i class="icon-comments"></i> (?)</a></li>
													<li><a class="btn btn-mini btn-inverse" href="" onclick="javascript:return false;"><i class="icon-camera"></i> (?)</a></li>
												</ul>-->

											</div>
										</div>
									<?endforeach;?>
								</div>
							<?endforeach;?>
						</div>
					

					<?else:?>
						<h3>В этой поездке пока нет мест</h3>
						<a href="/places/add?user=<?=$this->user['id']?>&travel=<?=$this->travel_id?>">
							<button class="btn btn-warning btn-large" type="submit"><i class="icon-plus-sign"></i> Добавьте место</button>
						</a>
						<br /><br />
					<?endif;?>
					<?php echo $this->partial('partials/comments.phtml', array('user' => $this->user)); ?>
				</div>
				<div class="span3 offset1">
					<div class="user_info">
						<a href="/user/<?=$this->getTravelAuthorId($this->travel_id)?>"><img class="avatar" src="<?=$this->getTravelAuthorPhoto($this->travel_id, $this->user['id'])?>" alt="" /></a>
						<p>Поездку добавил <a href="/user/<?=$this->getTravelAuthorId($this->travel_id)?>"><?=$this->getTravelAuthorName($this->travel_id, $this->user['id'])?></a></p>
					</div>

					<hr/>
						
					<?if(!empty($this->user['id'])):?>
						<?if(empty($this->travel_like)):?>
							<a class="btn btn-success btn-large travel-like" name="<?=$this->travel_id?>">
								<i class="icon-thumbs-up"></i> <span>Мне нравится</span>
							</a>
						<?else:?>
							<a class="btn btn-large travel-unLike" name="<?=$this->travel_id?>">
								<i class="icon-thumbs-up"></i> <span>Уже не нравится</span>
							</a>
						<?endif;?>
					<?endif;?>
					
					<div class="about-links">
						<?if(empty($this->my_travel)):?>
							<?if(empty($this->user_in_url)) :?>
								<?if(!empty($this->user['id'])):?>
									<a>
										<div class="travel-unFav <?if(empty($this->travel_fav)) {echo"hide";}?>" name="<?=$this->travel_id?>">
											Убрать поездку из избранных
										</div>

										<div class="travel-fav <?if(!empty($this->travel_fav)) {echo"hide";}?>" name="<?=$this->travel_id?>">
											Запомнить эту поездку
										</div>												
									</a>
								<?else :?>
									<a href="#myModal" data-toggle="modal">
										<div class="place-unFav" name="<?=$this->place_id?>">
											Запомнить эту поездку
										</div>
									</a>
								<?endif;?>
							<?endif;?>
						<?else:?>
							
							<a href="/places/add?user=<?=$this->user['id']?>&travel=<?=$this->travel_id?>">
								<button class="btn btn-warning btn-large" type="submit"><i class="icon-plus-sign"></i> Добавь в поездку место</button>
							</a>
							<a href="/travel/<?=$this->travel_id?>/edit?user=<?=$this->user['id']?>">
								Редактировать эту поездку
							</a>
							<a href="#myModal<?=$this->travel_id?>" data-toggle="modal">
								Удалить эту поездку
							</a>
						<?endif;?>
						
					</div>

					<?php echo $this->partial('partials/advert.phtml'); ?>
				</div>
			</div>
			
		<?else:?>
			К сожалению мы не смогли найти поездку, которую вы искали
		<?endif;?>
	</div>
</div>