<div class="container main">
	<div class="page">
		<div class="row">
			<div class="span8 offset3">
				<br/>
				<br/>
				<h1>Здравствуйте <?=$this->uname?>!</h1>
			</div>
			<div class="span7 offset2">
				<form id="login_form" class="form-horizontal" action="" method="post">
					<div class="control-group <?if(!empty($this->error['uemail'])) {echo 'error';} elseif(!empty($this->success['uemail'])) {echo "success";}?>">
						<label class="control-label" for="uemail">Ваш электронный адрес</label>
						<div class="controls">
							<input type="text" name="uemail" class="span4" value="<?=$this->uemail?>" placeholder="Ваш электронный адрес на проекте">
							<? if(!empty($this->error['uemail'])):?>
								<span class="help-inline"><?=$this->error['uemail']?></span>
							<? elseif(!empty($this->success['uemail'])):?>
								<span class="help-inline"><?=$this->success['uemail']?></span>
							<? endif;?>			
						</div>
					</div>

					<input type="hidden" name="photo" value="<?=!empty($this->photo)?$this->photo:''?>">
                    <input type="hidden" name="uname" value="<?=!empty($this->uname)?$this->uname:''?>">
					
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-large btn-warning" id="sendbut" name="submit" value="1">Зарегистрироваться</button>						
						</div>
					</div>
				</form>			
			
			</div>
		</div>
	</div>
</div>