<div class="container main">
	<div class="page">
		<div class="row">
			<div class="span6 offset3">
				<br/>
				<br/>
				<?if ($this->reg_success) : ?>
					<div class="alert hide">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<strong>Поздравляем! Ты успешно зарегистрировался на сайте. На электронный адрес <?=$this->error['uemail']?> отправлена ссылка для подтверждения. Необходимо ее нажать, чтобы иметь возможность входить под своим аккаунтом. </strong>
					</div>
				<? endif; ?>
				<h1>Давайте познакомимся!</h1>
			</div>
			<div class="span7 offset2">
				<form id="login_form" class="form-horizontal" action="" method="post">					

					<div class="control-group <?=!empty($this->error['uname'])?'error':''?>">
						<label class="control-label" for="uname">Как вас зовут?</label>
						<div class="controls">
							<input type="text" name="uname" class="span4" value="<?=$this->uname?>" placeholder="Василий">
							<? if(!empty($this->error['uname'])):?>
								<span class="help-inline"><?=$this->error['uname']?></span>
							<? endif;?>													
						</div>
					</div>
					<div class="control-group <?=!empty($this->error['uemail'])?'error':''?>">
						<label class="control-label" for="uemail">Ваш электронный адрес</label>
						<div class="controls">
							<input type="text" name="uemail" class="span4" value="<?=$this->uemail?>" placeholder="Ваш электронный адрес">
							<? if(!empty($this->error['uemail'])):?>
								<span class="help-inline"><?=$this->error['uemail']?></span>
							<? endif;?>			
						</div>
					</div>
					<div class="control-group <?=!empty($this->error['pass'])?'error':''?>">
						<label class="control-label" for="pass1">Пароль</label>
						<div class="controls">
							<input type="password" name="pass1" class="span4" value="" placeholder="Пароль">
							<? if(!empty($this->error['pass'])):?>
								<span class="help-inline"><?=$this->error['pass']?></span>
							<? endif;?>													
						</div>
					</div>
					<div class="control-group <?=!empty($this->error['pass'])?'error':''?>">
						<label class="control-label" for="pass2">Подтверждение</label>
						<div class="controls">
							<input type="password" name="pass2" class="span4" value="" placeholder="Пароль">
							<? if(!empty($this->error['pass'])):?>
								<span class="help-inline"><?=$this->error['pass']?></span>
							<? endif;?>													
						</div>
					</div>

					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-large btn-warning" id="sendbut" name="submit" value="1">Зарегистрироваться</button>						
						</div>
					</div>
					
					<!-- куда редиректить после регистрации -->
					<input type="hidden" name="redirect_uri" value="<?=!empty($this->redirect_uri)?$this->redirect_uri:''?>">
					
				</form>			
			
			</div>
		</div>
	</div>
</div>