<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() { 		
		/* При успешной загрузке API выполняется соответствующая функция */
		ymaps.ready(function () {
		
			w2dmap.balloonContent = "<div>Вы тут</div>";
			w2dmap.initmap("", "", <?=$this->zoom?>, "<?=$this->map_type?>");
			
			// Показываем места вокруг
			Face.place.around.init();
			
		});
	});
</script>

<div class="container main">
	<div class="page main">
		
		<label>Можно выбрать другой город:</label>
		<input class="span3" type="text" id="city_title" name="city_title" placeholder="Введите название города" />
		<br /><br />
		
		<div class="map-wrapper">
			<div id="ymaps" class="place-map around"></div>
		</div>
	</div>
</div>