<?//ВЫВЕСТИ НА РЕАЛЬНОМ СЕРВЕРЕ=$this->getConfig('ymapskey')?>
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">$(document).ready(function() { 
	/* При успешной загрузке API выполняется соответствующая функция */
	ymaps.ready(function () {
		<? $def_coords = $this->getDefaultCoords(); ?>
		w2dmap.initmap("<?=!empty($this->place['lat'])?$this->place['lat']:$def_coords->coords->lat?>", "<?=!empty($this->place['lng'])?$this->place['lng']:$def_coords->coords->lng?>", <?=$this->zoom?>, "<?=$this->map_type?>");
		Face.place.init(); 
	});
});</script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54de2d0d428ff78f" async="async"></script>

<div class="container main">
	<div class="page">
		<?if(!empty($this->place)):?>
			<div class="row">
				<div class="span12">
					<?=$this->breadCrumbs(); ?>

					<h1>Как найти &laquo;<?=$this->place['title']?>&raquo;</h1>		
					<?php echo $this->partial('partials/alert.phtml'); ?>
					<?php echo $this->partial('partials/menu/menu_place.phtml', array('place_id' => $this->place_id, 'active'=>'map')); ?>
				</div>
			</div>
			<div class="row">
				<div class="span12 about_city">

					<div class="about_city">
						<div class="row">

							<div class="span8">
								
								<div class="map-wrapper">
									<div id="ymaps" class="place-map"></div>
								</div>
									
								<?php echo $this->partial('partials/comments.phtml', array('user' => $this->user)); ?>
							</div>
							<div class="span3 offset1">
								<div class="user_info">
									<a href="/user/<?=$this->getPlaceAuthorId($this->place_id)?>"><img class="avatar" src="<?=$this->getPlaceAuthorPhoto($this->place_id)?>" alt="" /></a>
									<p>Место добавил <a href="/user/<?=$this->getPlaceAuthorId($this->place_id)?>"><?=$this->getPlaceAuthorName($this->place_id)?></a></p>
								</div>
								
								<hr/>
								
								<?if(!empty($this->user['id'])):?>
									<?if(empty($this->place_like)):?>
										<a class="btn btn-success btn-large place-like" name="<?=$this->place_id?>">
											<i class="icon-thumbs-up"></i> <span>Мне нравится</span>
										</a>
									<?else:?>
										<a class="btn btn-large place-unLike" name="<?=$this->place_id?>">
											<i class="icon-thumbs-up"></i> <span>Уже не нравится</span>
										</a>
									<?endif;?>
								<?endif;?>

								<div class="about-links">
																		
									<?if(!empty($this->user['id'])):?>
										<?if($this->showTravels() && !empty($this->travels)):?>
											<a class="add-to-travel">Добавить это место в поездку</a>
										<?endif;?>
										<div class="add-to-travel-block hide">
											<select name="t_id">
												<option value="0">Создать новую</option>
												<?if(!empty($this->my_travels)):?>
													<?foreach($this->my_travels as $travel):?>
														<option value="<?=$travel['id']?>"><?=$travel['title']?></option>
													<?endforeach;?>
												<?endif;?>
											</select>

											<input type="text" name="t_title" placeholder="Введите название"/>
											<input type="hidden" name="user_id" value="<?=$this->user['id']?>"/>
											<input type="hidden" name="p_id" value="<?=$this->place_id?>"/>
											<input type="button" name="add-to-travel-button" value="Сохранить"/>
										</div>
									<?else :?>
										<a href="#myModal" data-toggle="modal">
											<div class="place-fav" name="<?=$this->place_id?>">
												Добавить место в поездку
											</div>
										</a>
									<?endif;?>
									
									<?if(empty($this->my_place)):?>
										<?if(!empty($this->user['id'])):?>
											<a>
												<div class="place-unFav <?if(empty($this->place_fav)) {echo"hide";}?>" name="<?=$this->place_id?>">
													Убрать место из избранных
												</div>

												<div class="place-unFav <?if(!empty($this->place_fav)) {echo"hide";}?>" name="<?=$this->place_id?>">
													Запомнить это место
												</div>
											</a>
										<?else :?>
											<a href="#myModal" data-toggle="modal">
												<div class="place-unFav" name="<?=$this->place_id?>">
													Запомнить это место
												</div>
											</a>
										<?endif;?>
									<?else:?>
										<a href="#myModal<?=$this->place_id?>" data-toggle="modal">
											Удалить это место
										</a>
									<?endif;?>
										
									
								</div>

								<?php echo $this->partial('partials/advert.phtml'); ?>
							</div>
						</div>
					</div>
				</div>
			</div>
			<?else:?>
			К сожалению мы не смогли найти место, которое вы искали
		<?endif;?>		
	</div>
</div>
		
<?if(!empty($this->my_place)):?>
	<div class="modal hide fade" id="myModal<?=$this->place_id?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>		
			<h3 class="align-center" id="myModalLabel">Подтверждение удаления</h3>
		</div>
		<div class="modal-body align-center">
			<div class="guest_menu">							
				<p class="lead">Вы уверены, что хотите удалить место «<?=$this->place['title']?>»?</p>
				<a href="/places/delete?id=<?=$this->place_id?>&user=<?=$this->user['id']?>" class="btn btn-large btn-warning">ДА</a>
				<a href="" class="btn btn-large btn-warning">НЕТ</a>						
				<br/><br/><br/>
			</div>
		</div>
	</div>
<?endif;?>